# Online Retails Purchase

### Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# set the graphs to show in the jupyter notebook
%matplotlib inline

# set seaborn graphs to a better style
sns.set(style="ticks")

### Dataset
Utilize os dados do arquivo em <a href="https://archive.ics.uci.edu/ml/datasets/online+retail">'data/Online_Retail.csv'</a> para esses exercícios.
Obs: se encontrar um erro de utf-8 decode, adicione o `encoding = 'latin1'` na leitura dos dados.

In [5]:
df = pd.read_csv("data/Online_Retail.csv", sep=',')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,1/12/2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,1/12/2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,1/12/2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,1/12/2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,1/12/2010 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,9/12/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,9/12/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,9/12/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,9/12/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,9/12/2011 12:50,4.95,12680.0,France

In [6]:
df.describe

<bound method NDFrame.describe of        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0       1/12/2010 08:26       2.55     17850.0  United Kingdom
1       1/12/2010 08:26       3.39     17850.0  United Kingdom
2       1/12/2010 08:26       2.75     17850.0  United Kingdom
3       1/12/2010 08:26       3.39     17850.0  United Kingdom
4       1/12/2010 08:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  9/12/2011 12:50       0.85     12680.0          France
541905  9/12/2011 12:50       2.10     12680.0          France
541906  9/12/2011 12:50       4.15     12680.0          France
541907  9/12/2011 12:50       4.15     12680.0          France
541908  9/12/2011 12:50       4.95     12680.0          France

[541909 rows x 8 columns]>

In [8]:
df.duplicated

<bound method DataFrame.duplicated of        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0       1/12/2010 08:26       2.55     17850.0  United Kingdom
1       1/12/2010 08:26       3.39     17850.0  United Kingdom
2       1/12/2010 08:26       2.75     17850.0  United Kingdom
3       1/12/2010 08:26       3.39     17850.0  United Kingdom
4       1/12/2010 08:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  9/12/2011 12:50       0.85     12680.0          France
541905  9/12/2011 12:50       2.10     12680.0          France
541906  9/12/2011 12:50       4.15     12680.0          France
541907  9/12/2011 12:50       4.15     12680.0          France
541908  9/12/2011 12:50       4.95     12680.0          France

[541909 rows x 8 columns]>

### Análise geral dos dados
Aproveite esse espaço para entender melhor seus dados, sua estrutura e estatística básica. <br> 
Você consegue perceber algo de estranho?

Resolva o problema encontrado nos dados

Crie um histograma com os dados de UnitPrice e um com Quantity em uma mesma Figure. Adicione título a cada gráfico

Crie um gráfico de barras com os 10 países com maior quantidade comprada, com exceção do UK contendo labels para o eixo x, y e título

E por receita financeira?

Encontre os 10 `CustomerID` dos top 3 países selecionados acima que possuem o maior preço médio por unidade durante esse período.

Crie uma coluna 'YearMonth' e faça um único gráfico que contenha a receita e quantidade vendida ao longo do tempo.

Crie intervalos de uma unidade para a coluna `UnitPrice` para valores entre [0,50) e plote um gráfico quantidade vendida por receita financeira. Dê nome aos eixos e deixe os xtickers bonitos.

### BONUS: Bar Chart Race

Utilize a biblioteca <a href='https://www.dunderdata.com/blog/official-release-of-bar_chart_race-a-python-package-for-creating-animated-bar-chart-races'>bar chart race</a> para criar um gráfico animado com a quantidade vendida no online market por país e ano-mês.