# Aula 8 - pandas

Na aula de hoje, vamos explorar os seguintes tópicos em Python:

- 1) Introdução ao Pandas
- 2) Conceitos de Dataframe e Series
- 3) Axis e slicing: uso de loc/iloc
- 4) Criação e manipulação de DF e SS a partir de dicionário, listas e arrays
- 5) Filtragem de dados e parâmetro inplace
- 6) Leitura de dados (read_csv, read_excel, read_clipboard)
_______

### Objetivos

Apresentar o pandas, frisando sua importância para o processamento de dados e em data science. Apresentar seus principais conceitos (Series, DataFrame) e funcionalidades (leitura de arquivo, filtros, seleção, apply, escrita de arquivos, etc.)

### Habilidades a serem desenvolvidas nessa aula

Ao final da aula o aluno deve:

- Conhecer o pandas, suas vantagens e principais usos;
- Saber como ler um arquivo com o pandas (csv, excel, etc.), criando DataFrames;
- Entender o conceito de Series e como elas são construídas;
- Entender o conceito de DataFrame em termos das Series;
- Saber como trabalhar com DataFrames para o processamento de dados:
    - Seleções: uso de loc/iloc;
    - Filtros;
    - Criação de novas colunas.
- Saber como ler e escrever de/em um arquivo com o pandas (csv, excel, etc.).

____
____
____

## 1) Pandas

O pandas é uma das bibliotecas mais usadas em data science.

Seu objetivo é a **leitura, processamento e manipulação de dados** na forma de tabelas chamadas de **"DataFrame"**

<img src="pandas-data-structure.svg"  style="width: 700px" >

Antes de conhecer o Pandas, vamos ler o arquivo "alunos.csv", da forma como aprendemos na aula de arquivos

In [1]:
import csv

f = open("alunos.csv", "r", encoding="utf-8")

leitor = csv.reader(f, delimiter=';', lineterminator='\n')

planilha = []

for linha in leitor:
    planilha.append(linha)
    
f.close()

planilha

[['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4'],
 ['110201', 'Antonio Carlos', '20', '6.5', '8.5', '7', '6'],
 ['110212', 'Ana Beatriz', '20', '7', '7', '7', '8'],
 ['110218', 'Carlos Vernes', '17', '7', '7', '7', '7'],
 ['110307', 'Francisco Cunha', '20', '9', '8.5', '8.5', '10'],
 ['110275', 'Sandra Rosa', '15', '6.5', '7.5', '7', '7'],
 ['110281', 'Juliana Arruda', '18', '7.5', '7', '7.5', '8'],
 ['110301', 'Joao Galo', '20', '5', '6.5', '7', '5'],
 ['110263', 'José Valente', '20', '10', '10', '10', '10'],
 ['110271', 'Maria Ferreira', '19', '9.5', '8', '7', '10'],
 ['110236', 'Adriana Tavares', '20', '8', '8', '8', '8']]

Como fizemos na aula, uma vez lido o arquivo, é possível processá-lo de diversas maneiras.

Por exemplo, para obter **a primeira coluna**, isto é, os nomes, fazemos:

In [2]:
[item[1] for item in planilha if item[1]!='Nome']

['Antonio Carlos',
 'Ana Beatriz',
 'Carlos Vernes',
 'Francisco Cunha',
 'Sandra Rosa',
 'Juliana Arruda',
 'Joao Galo',
 'José Valente',
 'Maria Ferreira',
 'Adriana Tavares']

Agora, vamos usar o Pandas e aprender uma forma muito mais fácil de processar dados!

Existem diversas formas de instalar o pandas. A mais simples é instalar o pacote Anaconda (https://www.anaconda.com/distribution/) que já vem com o Python e diversas bibliotecas científicas e ciência de dados instaladas.

Outra forma, caso você já tenha o python instalado mas não o pandas, é o utilizar o gerenciador e pacotes pip, através do comando no seu **terminal**:

`$ pip install pandas`

ou dentro do jupyter

`!pip install pandas`

In [5]:
!pip install pandas

Collecting pandas

WARNING: You are using pip version 20.2.3; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\isbon\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

  Downloading pandas-1.3.4-cp39-cp39-win_amd64.whl (10.2 MB)
Collecting pytz>=2017.3
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\isbon\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in c:\users\isbon\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.21.3)
Requirement already satisfied: six>=1.5 in c:\users\isbon\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.4 pytz-2021.3

In [6]:
# importando a biblioteca
import pandas as pd

# lendo o arquivo
tabela = pd.read_csv("alunos.csv", sep=";")

tabela

       RA             Nome  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4
0  110201   Antonio Carlos          20      6.5      8.5      7.0        6
1  110212      Ana Beatriz          20      7.0      7.0      7.0        8
2  110218    Carlos Vernes          17      7.0      7.0      7.0        7
3  110307  Francisco Cunha          20      9.0      8.5      8.5       10
4  110275      Sandra Rosa          15      6.5      7.5      7.0        7
5  110281   Juliana Arruda          18      7.5      7.0      7.5        8
6  110301        Joao Galo          20      5.0      6.5      7.0        5
7  110263     José Valente          20     10.0     10.0     10.0       10
8  110271   Maria Ferreira          19      9.5      8.0      7.0       10
9  110236  Adriana Tavares          20      8.0      8.0      8.0        8

### Acessando elementos

Podemos **acessar os valores nas colunas** pelo nome delas:

In [7]:
# acessar coluna "Nome" diretamente
tabela["Nome"]
tabela.Nome

0     Antonio Carlos
1        Ana Beatriz
2      Carlos Vernes
3    Francisco Cunha
4        Sandra Rosa
5     Juliana Arruda
6          Joao Galo
7       José Valente
8     Maria Ferreira
9    Adriana Tavares
Name: Nome, dtype: object

In [8]:
# acessar coluna "Nome" através de uma variável
nome_da_coluna = "Nome"

tabela[nome_da_coluna]

0     Antonio Carlos
1        Ana Beatriz
2      Carlos Vernes
3    Francisco Cunha
4        Sandra Rosa
5     Juliana Arruda
6          Joao Galo
7       José Valente
8     Maria Ferreira
9    Adriana Tavares
Name: Nome, dtype: object

Se quisermos obter uma lista propriamente com os valores na coluna, usamos o método `tolist()`:

In [9]:
tabela["Nome"].tolist()

['Antonio Carlos',
 'Ana Beatriz',
 'Carlos Vernes',
 'Francisco Cunha',
 'Sandra Rosa',
 'Juliana Arruda',
 'Joao Galo',
 'José Valente',
 'Maria Ferreira',
 'Adriana Tavares']

Dá pra **selecionar apenas algumas colunas** do dataframe (ou seja, criando um sub-dataframe):

In [10]:
# pegando apenas a coluna "Nome" e resultado da "Prova_1"
tabela[["Nome", "Prova_1"]]

              Nome  Prova_1
0   Antonio Carlos      6.5
1      Ana Beatriz      7.0
2    Carlos Vernes      7.0
3  Francisco Cunha      9.0
4      Sandra Rosa      6.5
5   Juliana Arruda      7.5
6        Joao Galo      5.0
7     José Valente     10.0
8   Maria Ferreira      9.5
9  Adriana Tavares      8.0

### Acessando elementos

Podemos utilizar o `.loc[indice_linhas, nome_colunas]` para acessar determinas colunas e as linhas através dos índices e nomes das colunas.

In [11]:
# selecionar todas as linhas das colunas ['Nome','Prova_1']
tabela.loc[:, ["Nome", "Prova_1"]]

              Nome  Prova_1
0   Antonio Carlos      6.5
1      Ana Beatriz      7.0
2    Carlos Vernes      7.0
3  Francisco Cunha      9.0
4      Sandra Rosa      6.5
5   Juliana Arruda      7.5
6        Joao Galo      5.0
7     José Valente     10.0
8   Maria Ferreira      9.5
9  Adriana Tavares      8.0

In [12]:
# selecionar linhas 3 à 5 das colunas ['Nome','Prova_1']
tabela.loc[3:5, ["Nome", "Prova_1"]]

              Nome  Prova_1
3  Francisco Cunha      9.0
4      Sandra Rosa      6.5
5   Juliana Arruda      7.5

In [13]:
# selecionar linhas 3,5,9 das colunas ['Nome','Prova_1']
tabela.loc[[3,5,9], ["Nome", "Prova_1"]]

              Nome  Prova_1
3  Francisco Cunha      9.0
5   Juliana Arruda      7.5
9  Adriana Tavares      8.0

In [14]:
# selecionar as linhas das colunas Prova_1 até Prova_4
tabela.loc[:, 'Prova_1':'Prova_4']

   Prova_1  Prova_2  Prova_3  Prova_4
0      6.5      8.5      7.0        6
1      7.0      7.0      7.0        8
2      7.0      7.0      7.0        7
3      9.0      8.5      8.5       10
4      6.5      7.5      7.0        7
5      7.5      7.0      7.5        8
6      5.0      6.5      7.0        5
7     10.0     10.0     10.0       10
8      9.5      8.0      7.0       10
9      8.0      8.0      8.0        8

selecionar apenas uma linha de uma coluna

In [15]:
tabela.loc[9, "Nome"]

'Adriana Tavares'

É possível **alterar valores** da tabela. Para isso, primeiro localizamos o valor a ser alterado com o **.loc**, passando a linha e coluna correspondente, e depois atribuímos o novo valor

In [16]:
tabela.loc[10, "Nome"] = "Joãozinho"
tabela.loc[10, "Frequencia"] = 100

In [17]:
tabela

          RA             Nome  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4
0   110201.0   Antonio Carlos        20.0      6.5      8.5      7.0      6.0
1   110212.0      Ana Beatriz        20.0      7.0      7.0      7.0      8.0
2   110218.0    Carlos Vernes        17.0      7.0      7.0      7.0      7.0
3   110307.0  Francisco Cunha        20.0      9.0      8.5      8.5     10.0
4   110275.0      Sandra Rosa        15.0      6.5      7.5      7.0      7.0
5   110281.0   Juliana Arruda        18.0      7.5      7.0      7.5      8.0
6   110301.0        Joao Galo        20.0      5.0      6.5      7.0      5.0
7   110263.0     José Valente        20.0     10.0     10.0     10.0     10.0
8   110271.0   Maria Ferreira        19.0      9.5      8.0      7.0     10.0
9   110236.0  Adriana Tavares        20.0      8.0      8.0      8.0      8.0
10       NaN        Joãozinho       100.0      NaN      NaN      NaN      NaN

In [18]:
tabela = tabela.set_index('Nome')
tabela

                       RA  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4
Nome
Antonio Carlos   110201.0        20.0      6.5      8.5      7.0      6.0
Ana Beatriz      110212.0        20.0      7.0      7.0      7.0      8.0
Carlos Vernes    110218.0        17.0      7.0      7.0      7.0      7.0
Francisco Cunha  110307.0        20.0      9.0      8.5      8.5     10.0
Sandra Rosa      110275.0        15.0      6.5      7.5      7.0      7.0
Juliana Arruda   110281.0        18.0      7.5      7.0      7.5      8.0
Joao Galo        110301.0        20.0      5.0      6.5      7.0      5.0
José Valente     110263.0        20.0     10.0     10.0     10.0     10.0
Maria Ferreira   110271.0        19.0      9.5      8.0      7.0     10.0
Adriana Tavares  110236.0        20.0      8.0      8.0      8.0      8.0
Joãozinho             NaN       100.0      NaN      NaN      NaN      NaN

Vamos tentar selecionar as linhas 3 à 5 das colunas ['Prova_1','Prova_2'] como fizemos anteriormente

In [19]:
tabela.loc[3:5, ['Prova_1','Prova_2']]

TypeError: cannot do slice indexing on Index with these indexers [3] of type int

O que aconteceu? <br>
O `.loc` faz o slice considerando o index da matriz e agora o index é o nome dos alunos.

In [20]:
tabela.loc['Francisco Cunha':'Juliana Arruda', ['Prova_1','Prova_2']]

                 Prova_1  Prova_2
Nome
Francisco Cunha      9.0      8.5
Sandra Rosa          6.5      7.5
Juliana Arruda       7.5      7.0

Para resetar o index e voltarmos a ter os valores originais:

In [21]:
tabela.reset_index(inplace=True)
tabela

               Nome        RA  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4
0    Antonio Carlos  110201.0        20.0      6.5      8.5      7.0      6.0
1       Ana Beatriz  110212.0        20.0      7.0      7.0      7.0      8.0
2     Carlos Vernes  110218.0        17.0      7.0      7.0      7.0      7.0
3   Francisco Cunha  110307.0        20.0      9.0      8.5      8.5     10.0
4       Sandra Rosa  110275.0        15.0      6.5      7.5      7.0      7.0
5    Juliana Arruda  110281.0        18.0      7.5      7.0      7.5      8.0
6         Joao Galo  110301.0        20.0      5.0      6.5      7.0      5.0
7      José Valente  110263.0        20.0     10.0     10.0     10.0     10.0
8    Maria Ferreira  110271.0        19.0      9.5      8.0      7.0     10.0
9   Adriana Tavares  110236.0        20.0      8.0      8.0      8.0      8.0
10        Joãozinho       NaN       100.0      NaN      NaN      NaN      NaN

Repare que quando utilizamos o `inplace=True` como um argumento do método nós não precisamos referenciar o dataframe. <br>
Nós podemos utilizar o `inplace=True` em vários métodos do pandas.

### Seleção através das posições das linhas e colunas
Outra forma de acessarmos dados é através do `.iloc[número_linhas, número_colunas]` utilizando as posições das linhas e colunas

In [22]:
# seleciona uma linha de uma coluna
tabela.iloc[10, 1]

nan

In [23]:
# seleciona todas as colunas de uma linha
tabela.iloc[10, :]

Nome          Joãozinho
RA                  NaN
Frequencia        100.0
Prova_1             NaN
Prova_2             NaN
Prova_3             NaN
Prova_4             NaN
Name: 10, dtype: object

In [24]:
# seleciona um conjunto de linhas sequenciais de um conjunto de colunas sequenciais
tabela.iloc[3:5, 1:5]

         RA  Frequencia  Prova_1  Prova_2
3  110307.0        20.0      9.0      8.5
4  110275.0        15.0      6.5      7.5

In [25]:
# seleciona um conjunto de linhas sequenciais de um conjunto de colunas não sequenciais
tabela.iloc[3:5, [1,5]]

         RA  Prova_3
3  110307.0      8.5
4  110275.0      7.0

In [27]:
tabela[0] = 0

### Diferença entre .loc e .iloc
O .loc irá trazer o dado utilizando o índice, não importando se o índice não está ordenado. Já o .iloc irá respeitar a ordem atual dos dados

In [28]:
tabela_copy = tabela.copy()

In [29]:
# vamos bagunçar o índice do df chamado tabela
tabela_copy.index = sorted(tabela.index.values, reverse=True)
tabela_copy.head()

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0
10,Antonio Carlos,110201.0,20.0,6.5,8.5,7.0,6.0,0
9,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0
8,Carlos Vernes,110218.0,17.0,7.0,7.0,7.0,7.0,0
7,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0
6,Sandra Rosa,110275.0,15.0,6.5,7.5,7.0,7.0,0

In [30]:
# traz o índice
tabela_copy.loc[[3,6],:]

           Nome        RA  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4  0
3  José Valente  110263.0        20.0     10.0     10.0     10.0     10.0  0
6   Sandra Rosa  110275.0        15.0      6.5      7.5      7.0      7.0  0

In [31]:
# iloc traz a linha
tabela_copy.iloc[[3,6],:]

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0
7,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0
4,Joao Galo,110301.0,20.0,5.0,6.5,7.0,5.0,0

### Criar novas colunas

**Criando uma coluna nova**, com todas as linhas preenchidas com o mesmo valor

In [32]:
# cria coluna com valores 1
tabela["cheia_de_um"] = 1

In [33]:
# cria coluna com string
tabela["aaaa"] = "a"

In [34]:
# cria coluna vazia
tabela["vazio"] = ""

In [35]:
tabela

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0,cheia_de_um,aaaa,vazio
0,Antonio Carlos,110201.0,20.0,6.5,8.5,7.0,6.0,0,1,a,
1,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0,1,a,
2,Carlos Vernes,110218.0,17.0,7.0,7.0,7.0,7.0,0,1,a,
3,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0,1,a,
4,Sandra Rosa,110275.0,15.0,6.5,7.5,7.0,7.0,0,1,a,
5,Juliana Arruda,110281.0,18.0,7.5,7.0,7.5,8.0,0,1,a,
6,Joao Galo,110301.0,20.0,5.0,6.5,7.0,5.0,0,1,a,
7,José Valente,110263.0,20.0,10.0,10.0,10.0,10.0,0,1,a,
8,Maria Ferreira,110271.0,19.0,9.5,8.0,7.0,10.0,0,1,a,
9,Adriana Tavares,110236.0,20.0,8.0,8.0,8.0,8.0,0,1,a,
10,Joãozinho,NaN,100.0,NaN,NaN,NaN,NaN,0,1,a,

Também é possível **criar uma linha nova** atribuindo valores para todas as colunas:

In [36]:
tabela.loc[10, :] = [1245245, "Joãozinho", 100, 10, 4, 6, 7, "bbb", 2, "cheio"]

tabela

ValueError: Must have equal len keys and value when setting with an iterable

Se você usar o index de uma linha que já existe irá substituí-la.

Podemos fazer **operações entre os valores das colunas**, e criar com isso novas colunas!

In [37]:
# calculando a média usando as colunas Prova_1, Prova_2, Prova_3 e Prova_4
tabela["média"] = (tabela["Prova_1"] + tabela["Prova_2"] + 
                   tabela["Prova_3"] + tabela["Prova_4"])/4

Também há alguns métodos prontos que facilitam a utilização:

In [38]:
# calculando a media com o método .mean(axis=1)
tabela["media_2"] = tabela[["Prova_1", "Prova_2", "Prova_3", "Prova_4"]].mean(axis=1)

tabela

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0,cheia_de_um,aaaa,vazio,média,media_2
0,Antonio Carlos,110201.0,20.0,6.5,8.5,7.0,6.0,0,1,a,,7.000,7.000
1,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0,1,a,,7.250,7.250
2,Carlos Vernes,110218.0,17.0,7.0,7.0,7.0,7.0,0,1,a,,7.000,7.000
3,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0,1,a,,9.000,9.000
4,Sandra Rosa,110275.0,15.0,6.5,7.5,7.0,7.0,0,1,a,,7.000,7.000
5,Juliana Arruda,110281.0,18.0,7.5,7.0,7.5,8.0,0,1,a,,7.500,7.500
6,Joao Galo,110301.0,20.0,5.0,6.5,7.0,5.0,0,1,a,,5.875,5.875
7,José Valente,110263.0,20.0,10.0,10.0,10.0,10.0,0,1,a,,10.000,10.000
8,Maria Ferreira,110271.0,19.0,9.5,8.0,7.0,10.0,0,1,a,,8.625,8.625
9,Adriana Tavares,110236.0,20.0,8.0,8.0,8.0,8.0,0,1,a,,8.000,8.000
10,Joãozinho,NaN,100.0,NaN,NaN,NaN,NaN,0,1,a,,NaN,NaN

Naturalmente, o resultado é o mesmo!

### Métodos:

O Pandas possui diversos métodos que podem ser utilizados nessa estrutura.
Abaixo estão alguns métodos que essa estrutura de dados possui e facilitam alguns cálculos e análises:
 

| Método      | Descrição     |
| ----------- | -----------   |
| sum         | soma          |
| mean        | média         |
| std         | desvio padrão |
| mode        | moda          |
| max         | valor máximo  |
| min         | valor mínimo  |
| idxmax      | primeiro índice com valor máximo |
| idxmin      | primeiro índice com valor mínimo |
| value_counts | contagem de valores |
| describe    | estatísticas básicas |


Na próxima aula veremos mais alguns.

In [39]:
# calculando o valor máx de cada aluno
tabela[["Prova_1", "Prova_2", "Prova_3", "Prova_4"]].max(axis=1)

0      8.5
1      8.0
2      7.0
3     10.0
4      7.5
5      8.0
6      7.0
7     10.0
8     10.0
9      8.0
10     NaN
dtype: float64

In [40]:
# calculando o valor máx de cada prova
tabela[["Prova_1", "Prova_2", "Prova_3", "Prova_4"]].max(axis=0)

Prova_1    10.0
Prova_2    10.0
Prova_3    10.0
Prova_4    10.0
dtype: float64

### Filtros

Podemos **fazer filtros** muito facilmente

Basta explicitarmos **condições sobre os valores das colunas**, e utilizar isso como indexador do dataframe!

In [41]:
# retorna o sub-dataframe que contém valores maiores que 7 na coluna "média"
# ou seja, é um filtro que utiliza a coluna "média"!

tabela[tabela["média"] > 7]

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0,cheia_de_um,aaaa,vazio,média,media_2
1,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0,1,a,,7.250,7.250
3,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0,1,a,,9.000,9.000
5,Juliana Arruda,110281.0,18.0,7.5,7.0,7.5,8.0,0,1,a,,7.500,7.500
7,José Valente,110263.0,20.0,10.0,10.0,10.0,10.0,0,1,a,,10.000,10.000
8,Maria Ferreira,110271.0,19.0,9.5,8.0,7.0,10.0,0,1,a,,8.625,8.625
9,Adriana Tavares,110236.0,20.0,8.0,8.0,8.0,8.0,0,1,a,,8.000,8.000

Se quisermos fazer filtros mais complexos (filtros compostos, em mais de uma coluna), podemos fazer **conjunções entre filtros**, utilizando os **operadores lógicos de conjunção**.

Obs.: temos os seguintes operadores lógicos:

- &     - corresponde ao "and"
- |     - corresponde ao "or"
- ~     - corresponde ao "not"

In [42]:
# filtar tabela para média > 7 e frequencia >= 20
tabela[(tabela["média"] > 7) & (tabela["Frequencia"] >= 20)]

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0,cheia_de_um,aaaa,vazio,média,media_2
1,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0,1,a,,7.25,7.25
3,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0,1,a,,9.00,9.00
7,José Valente,110263.0,20.0,10.0,10.0,10.0,10.0,0,1,a,,10.00,10.00
9,Adriana Tavares,110236.0,20.0,8.0,8.0,8.0,8.0,0,1,a,,8.00,8.00

In [43]:
# filtar tabela para média > 7 e frequencia >= 20
tabela[(tabela["média"] > 7) | (tabela["Frequencia"] >= 20)]

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0,cheia_de_um,aaaa,vazio,média,media_2
0,Antonio Carlos,110201.0,20.0,6.5,8.5,7.0,6.0,0,1,a,,7.000,7.000
1,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0,1,a,,7.250,7.250
3,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0,1,a,,9.000,9.000
5,Juliana Arruda,110281.0,18.0,7.5,7.0,7.5,8.0,0,1,a,,7.500,7.500
6,Joao Galo,110301.0,20.0,5.0,6.5,7.0,5.0,0,1,a,,5.875,5.875
7,José Valente,110263.0,20.0,10.0,10.0,10.0,10.0,0,1,a,,10.000,10.000
8,Maria Ferreira,110271.0,19.0,9.5,8.0,7.0,10.0,0,1,a,,8.625,8.625
9,Adriana Tavares,110236.0,20.0,8.0,8.0,8.0,8.0,0,1,a,,8.000,8.000
10,Joãozinho,NaN,100.0,NaN,NaN,NaN,NaN,0,1,a,,NaN,NaN

In [44]:
# pegando somente a coluna "média" dos alunos que tiveram nota igual na prova 1 e na prova 4
tabela[tabela["Prova_4"] == tabela["Prova_1"]]["média"]

2     7.000
6     5.875
7    10.000
9     8.000
Name: média, dtype: float64

In [45]:
# calculando a média de todos os alunos que tiveram nota igual na prova 1 e na prova 4
tabela[tabela["Prova_4"] == tabela["Prova_1"]]["média"].mean()

7.71875

In [46]:
# Podemos criar um novo df diretamento do filtro
prova_4 = tabela[tabela['Prova_4']>=7]
prova_4

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0,cheia_de_um,aaaa,vazio,média,media_2
1,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0,1,a,,7.250,7.250
2,Carlos Vernes,110218.0,17.0,7.0,7.0,7.0,7.0,0,1,a,,7.000,7.000
3,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0,1,a,,9.000,9.000
4,Sandra Rosa,110275.0,15.0,6.5,7.5,7.0,7.0,0,1,a,,7.000,7.000
5,Juliana Arruda,110281.0,18.0,7.5,7.0,7.5,8.0,0,1,a,,7.500,7.500
7,José Valente,110263.0,20.0,10.0,10.0,10.0,10.0,0,1,a,,10.000,10.000
8,Maria Ferreira,110271.0,19.0,9.5,8.0,7.0,10.0,0,1,a,,8.625,8.625
9,Adriana Tavares,110236.0,20.0,8.0,8.0,8.0,8.0,0,1,a,,8.000,8.000

E também é bem fácil salvar um dataframe de volta pra CSV ou pro Excel.

In [47]:
# salvando dados em csv com o método .to_csv()
tabela.to_csv("tabela_processada2.csv", sep=";")

Para salvar esses dados em excel é preciso instalar mais uma biblioteca: a `openpyxl`. Caso você não a tenha escreva o comando seguinte em uma célula de código: <br>
` !pip install openpyxl `
<br>

In [48]:
!pip install openpyxl

Collecting openpyxl

WARNING: You are using pip version 20.2.3; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\isbon\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

In [49]:
# salvando dados em excel com o método .to_excel()
tabela.to_excel("tabela_processada.xlsx")

Agora que entendemos na prática como usar o Pandas, vamos nos aprofundar um pouco mais em sua estrutura!

### Outra forma de filtrar: `.query()`

In [50]:
prova_4 = tabela.query('Prova_4 >= 7 and Prova_3 >= 7')
prova_4

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0,cheia_de_um,aaaa,vazio,média,media_2
1,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0,1,a,,7.250,7.250
2,Carlos Vernes,110218.0,17.0,7.0,7.0,7.0,7.0,0,1,a,,7.000,7.000
3,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0,1,a,,9.000,9.000
4,Sandra Rosa,110275.0,15.0,6.5,7.5,7.0,7.0,0,1,a,,7.000,7.000
5,Juliana Arruda,110281.0,18.0,7.5,7.0,7.5,8.0,0,1,a,,7.500,7.500
7,José Valente,110263.0,20.0,10.0,10.0,10.0,10.0,0,1,a,,10.000,10.000
8,Maria Ferreira,110271.0,19.0,9.5,8.0,7.0,10.0,0,1,a,,8.625,8.625
9,Adriana Tavares,110236.0,20.0,8.0,8.0,8.0,8.0,0,1,a,,8.000,8.000

## Series
O objeto fundamental do Pandas são as **Series**.

As Series são as **colunas das tabelas**, que são originadas de um array unidimensional capaz de guardar qualquer tipo de dado (integers, strings, floating point numbers, Python objects, etc.). E como as listas, as series podem conter dados de vários tipo.

In [51]:
tabela

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0,cheia_de_um,aaaa,vazio,média,media_2
0,Antonio Carlos,110201.0,20.0,6.5,8.5,7.0,6.0,0,1,a,,7.000,7.000
1,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0,1,a,,7.250,7.250
2,Carlos Vernes,110218.0,17.0,7.0,7.0,7.0,7.0,0,1,a,,7.000,7.000
3,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0,1,a,,9.000,9.000
4,Sandra Rosa,110275.0,15.0,6.5,7.5,7.0,7.0,0,1,a,,7.000,7.000
5,Juliana Arruda,110281.0,18.0,7.5,7.0,7.5,8.0,0,1,a,,7.500,7.500
6,Joao Galo,110301.0,20.0,5.0,6.5,7.0,5.0,0,1,a,,5.875,5.875
7,José Valente,110263.0,20.0,10.0,10.0,10.0,10.0,0,1,a,,10.000,10.000
8,Maria Ferreira,110271.0,19.0,9.5,8.0,7.0,10.0,0,1,a,,8.625,8.625
9,Adriana Tavares,110236.0,20.0,8.0,8.0,8.0,8.0,0,1,a,,8.000,8.000
10,Joãozinho,NaN,100.0,NaN,NaN,NaN,NaN,0,1,a,,NaN,NaN

Visual de uma series:

In [52]:
tabela.cheia_de_um

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
Name: cheia_de_um, dtype: int64

Tipo de uma series

In [53]:
type(tabela.cheia_de_um)

pandas.core.series.Series

Como pudemos observar a series pode ter elementos de diferentes tipos. Na primeira posição temos um float enquanto na última temos uma string.

In [54]:
type(tabela.cheia_de_um[0])

numpy.int64

In [55]:
type(tabela.cheia_de_um[10])

numpy.int64

A diferença é que a series possui um **índice associado**, permitindo o acesso aos conteúdos dessa estrutura por ele, como um dicionário. Para entender mais sobre como trabalhar como séries, temos um conteúdo anexado no final desse notebook que você pode olhar.

Agora que entendemos a componente fundamental do Pandas, as Séries, vamos falar um pouco mais sobre o **DataFrame**

### Estrutura do df
O DataFrame é uma estrutura que se assemelha a uma tabela/planilha, como vimos acima.

Por debaixo dos panos, o dataframe é representado por um dicionário em que a **chave** é o **nome da coluna** e os **valores** são as **Series** (todas com mesmo índice).

### Criação de df a partir de dicionários

Assim, podemos **criar um dataframe a partir de um dicionario**, usando a função `pd.DataFrame()`

In [56]:
cadastro = {"nomes" : ["André", "Mariazinha"],
                "idade" : [22, 25],
                "cidade" : ["Mauá", "Santo André"],
                "filhos": [0, 0],
                "altura" : [1.80, 1.65]}

cadastro

{'nomes': ['André', 'Mariazinha'],
 'idade': [22, 25],
 'cidade': ['Mauá', 'Santo André'],
 'filhos': [0, 0],
 'altura': [1.8, 1.65]}

In [57]:
# criando um dataframe a partir de um dicionario
df = pd.DataFrame(cadastro)
df

        nomes  idade       cidade  filhos  altura
0       André     22         Mauá       0    1.80
1  Mariazinha     25  Santo André       0    1.65

## Outros conteúdos

### Criar Series a partir de listas

Podemos criar uma series **a partir de uma lista**, usando a função do pandas `pd.Series()`:

In [58]:
# definindo uma série com valores e indices
indices = ["a", "b", "c", "d"]
lista = [10, 20, 30, 40]

serie = pd.Series(data = lista, index = indices)

serie

a    10
b    20
c    30
d    40
dtype: int64

Podemos acessar o elemento 30, que está associado ao índice c:

In [59]:
serie['c']

30

Para retornar todos os índices podemos utilizar o método `series.index`

In [60]:
serie.index

Index(['a', 'b', 'c', 'd'], dtype='object')

E para acessar os valores podemos utilizar o atributo `series.values`

In [61]:
serie.values

array([10, 20, 30, 40], dtype=int64)

### Utilizando filtros em Series
Podemos aplicar filtros para selecionar apenas os elementos que satisfaçam determinada condição.
No exemplo abaixo, iremos selecionar apenas os elementos que sejam maiores que 15:

In [62]:
serie[serie > 15]

b    20
c    30
d    40
dtype: int64

Note que `serie > 15` nos retorna uma series com elementos `True` e `False`, caso os elementos da serie satisfaçam a condição. Ao utilizar esse comando dentro dos colchetes, `serie[serie > 15]`, estamos selecionado apenas os elementos que satisfazem a condição.


### Criar Series a partir de dicionários
Também podemos **criar uma série a partir de um dicionário**, e os índices e valores são automaticamente capturados:

In [63]:
# criando uma série a partir de um dicionario
dic2 = {"nome": "André", 
        "idade" : 23}

pd.Series(dic2)

nome     André
idade       23
dtype: object

### Criar dicionários a partir de Series
O inverso também é possível:

In [64]:
dicionario = dict(serie)

dicionario

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

### Criar dataframe a partir de listas

In [65]:
# Considere a seguinte lista
age = [['Artur', 95.5, "M"], ['Vera', 79.7, "F"],
       ['Mônica', 85.1, "F"], ['Toni', 75.4, "M"]]
  
# Cria um pandas dataframe passando a lista e, se quiser, o nome das colunas
pd.DataFrame(age, columns=['Npme', 'Pontos', 'Sexo'])

     Npme  Pontos Sexo
0   Artur    95.5    M
1    Vera    79.7    F
2  Mônica    85.1    F
3    Toni    75.4    M

### Criar dataframe a partir de array

In [66]:
import numpy as np

# Considere o seguinte array:
my_array = np.random.randint(1, 10, 18)

# Cria um pandas dataframe passando o array e, se quiser, o nome das colunas
pd.DataFrame(my_array.reshape(-1,3), columns=['col_1','col_2','col_3'])

   col_1  col_2  col_3
0      4      9      7
1      6      9      9
2      4      6      7
3      6      5      4
4      3      9      1
5      1      4      8

## Exercícios

1 - Realize os passos seguintes utilizando o mesmo dataset do íris da aula anterior ('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data').

a. Use o pandas para ler o arquivo como um dataframe. Obs: precisa ler o dataframe sem que a primeira linha corresponda ao nome das colunas.

In [75]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", sep=",")
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

b. Sabendo que as colunas correspondem, nessa ordem, a: 
    1. sepal length (cm)
    2. sepal width (cm)
    3. petal length (cm)
    4. petal width (cm)
    5. class: <br>
        - Iris Setosa <br>
        - Iris Versicolor <br>
        - Iris Virginica <br>
leia novamente o arquivo passando o nome das colunas como argumento.

In [82]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", sep=",", names=["1. sepal length (cm)","2. sepal width (cm)","3. petal length (cm)","4. petal width (cm)","5. class"])
iris

,1. sepal length (cm),2. sepal width (cm),3. petal length (cm),4. petal width (cm),5. class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

c. Calcule a média de cada coluna numérica para cada um dos tipos de íris indicados na coluna "class" sem utilizar métodos que não foram ensinados na aula de hoje. Utilize o loop for para reduzir quantidade de linhas. <br>
Existe diferença entre elas?

In [83]:
iris[iris["5. class"] == "Iris-setosa"]

,1. sepal length (cm),2. sepal width (cm),3. petal length (cm),4. petal width (cm),5. class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa
10,5.4,3.7,1.5,0.2,Iris-setosa
11,4.8,3.4,1.6,0.2,Iris-setosa
12,4.8,3.0,1.4,0.1,Iris-setosa
13,4.3,3.0,1.1,0.1,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
15,5.7,4.4,1.5,0.4,Iris-setosa
16,5.4,3.9,1.3,0.4,Iris-setosa
17,5.1,3.5,1.4,0.3,Iris-setosa
18,5.7,3.8,1.7,0.3,Iris-setosa
19,5.1,3.8,1.5,0.3,Iris-setosa
20,5.4,3.4,1.7,0.2,Iris-setosa
21,5.1,3.7,1.5,0.4,Iris-setosa
22,4.6,3.6,1.0,0.2,Iris-setosa
23,5.1,3.3,1.7,0.5,Iris-setosa
24,4.8,3.4,1.9,0.2,Iris-setosa
25,5.0,3.0,1.6,0.2,Iris-setosa
26,5.0,3.4,1.6,0.4,Iris-setosa
27,5.2,3.5,1.5,0.2,Iris-setosa
28,5.2,3.4,1.4,0.2,Iris-setosa
29,4.7,3.2,1.6,0.2,Iris-setosa
30,4.8,3.1,1.6,0.2,Iris-setosa
31,5.4,3.4,1.5,0.4,Iris-setosa
32,5.2,4.1,1.5,0.1,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
34,4.9,3.1,1.5,0.1,Iris-setosa
35,5.0,3.2,1.2,0.2,Iris-setosa
36,5.5,3.5,1.3,0.2,Iris-setosa
37,4.9,3.1,1.5,0.1,Iris-setosa
38,4.4,3.0,1.3,0.2,Iris-setosa
39,5.1,3.4,1.5,0.2,Iris-setosa
40,5.0,3.5,1.3,0.3,Iris-setosa
41,4.5,2.3,1.3,0.3,Iris-setosa
42,4.4,3.2,1.3,0.2,Iris-setosa
43,5.0,3.5,1.6,0.6,Iris-setosa
44,5.1,3.8,1.9,0.4,Iris-setosa
45,4.8,3.0,1.4,0.3,Iris-setosa
46,5.1,3.8,1.6,0.2,Iris-setosa
47,4.6,3.2,1.4,0.2,Iris-setosa
48,5.3,3.7,1.5,0.2,Iris-setosa
49,5.0,3.3,1.4,0.2,Iris-setosa

In [91]:
for classe in ["Iris-setosa", "Iris-virginica", "Iris-versicolor"]:  
    print("Classe:", classe, "\n",iris[iris["5. class"] == classe].mean(), "\n")

Classe: Iris-setosa
 1. sepal length (cm)    5.006
2. sepal width (cm)     3.418
3. petal length (cm)    1.464
4. petal width (cm)     0.244
dtype: float64

Classe: Iris-virginica
 1. sepal length (cm)    6.588
2. sepal width (cm)     2.974
3. petal length (cm)    5.552
4. petal width (cm)     2.026
dtype: float64

Classe: Iris-versicolor
 1. sepal length (cm)    5.936
2. sepal width (cm)     2.770
3. petal length (cm)    4.260
4. petal width (cm)     1.326
dtype: float64

C:\Users\isbon\AppData\Local\Temp/ipykernel_11156/3884799853.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("Classe:", classe, "\n",iris[iris["5. class"] == classe].mean(), "\n")

In [106]:
classes = ["Iris-setosa", "Iris-versicolor", "Iris-virginica"]
medias = pd.DataFrame()

for item in classes:
    media = iris[iris["5. class"] == item].iloc[:, 0:4].mean(axis=0)
    medias[item] = media
    
medias

                      Iris-setosa  Iris-versicolor  Iris-virginica
1. sepal length (cm)        5.006            5.936           6.588
2. sepal width (cm)         3.418            2.770           2.974
3. petal length (cm)        1.464            4.260           5.552
4. petal width (cm)         0.244            1.326           2.026

d. Adicione uma única coluna com a média de 'sepal length' para cada um dos tipos de íris indicados na coluna "class". Utilize o loop for e faça isso sem utilizar métodos que não foram ensinados na aula de hoje.

In [113]:
iris['mean_sepal_length2'] = 0
for i in classes:
    iris.loc[iris['5. class'] == i, 'mean_sepal_length2'] = iris.loc[iris['5. class'] == i, '1. sepal length (cm)'].mean()
iris

,1. sepal length (cm),2. sepal width (cm),3. petal length (cm),4. petal width (cm),5. class,media da classe,mean_sepal_length2
0,5.1,3.5,1.4,0.2,Iris-setosa,5.936,5.006
1,4.9,3.0,1.4,0.2,Iris-setosa,5.936,5.006
2,4.7,3.2,1.3,0.2,Iris-setosa,5.936,5.006
3,4.6,3.1,1.5,0.2,Iris-setosa,5.936,5.006
4,5.0,3.6,1.4,0.2,Iris-setosa,5.936,5.006
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,5.936,6.588
146,6.3,2.5,5.0,1.9,Iris-virginica,5.936,6.588
147,6.5,3.0,5.2,2.0,Iris-virginica,5.936,6.588
148,6.2,3.4,5.4,2.3,Iris-virginica,5.936,6.588
149,5.9,3.0,5.1,1.8,Iris-virginica,5.936,6.588

In [116]:
iris["media da classe"]
for classe in ["Iris-setosa", "Iris-virginica", "Iris-versicolor"]:  
     iris.loc[iris["5. class"] == classe, "media da classe"] = iris.loc[iris["5. class"] == classe, "1. sepal length (cm)"].mean()

iris

,1. sepal length (cm),2. sepal width (cm),3. petal length (cm),4. petal width (cm),5. class,media da classe,mean_sepal_length2
0,5.1,3.5,1.4,0.2,Iris-setosa,5.006,5.006
1,4.9,3.0,1.4,0.2,Iris-setosa,5.006,5.006
2,4.7,3.2,1.3,0.2,Iris-setosa,5.006,5.006
3,4.6,3.1,1.5,0.2,Iris-setosa,5.006,5.006
4,5.0,3.6,1.4,0.2,Iris-setosa,5.006,5.006
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,6.588,6.588
146,6.3,2.5,5.0,1.9,Iris-virginica,6.588,6.588
147,6.5,3.0,5.2,2.0,Iris-virginica,6.588,6.588
148,6.2,3.4,5.4,2.3,Iris-virginica,6.588,6.588
149,5.9,3.0,5.1,1.8,Iris-virginica,6.588,6.588

In [119]:
iris.loc[0,:]

1. sepal length (cm)            5.1
2. sepal width (cm)             3.5
3. petal length (cm)            1.4
4. petal width (cm)             0.2
5. class                Iris-setosa
media da classe               5.006
mean_sepal_length2            5.006
Name: 0, dtype: object

e. Crie uma coluna de volume sabendo que o volume representa (pi x petallength x sepal_length^2)/3

In [121]:
import numpy as np

iris["Volume"] = np.pi * iris["3. petal length (cm)"] * iris["1. sepal length (cm)"] ** 2/3
iris

,1. sepal length (cm),2. sepal width (cm),3. petal length (cm),4. petal width (cm),5. class,media da classe,mean_sepal_length2,Volume
0,5.1,3.5,1.4,0.2,Iris-setosa,5.006,5.006,38.132652
1,4.9,3.0,1.4,0.2,Iris-setosa,5.006,5.006,35.200498
2,4.7,3.2,1.3,0.2,Iris-setosa,5.006,5.006,30.072372
3,4.6,3.1,1.5,0.2,Iris-setosa,5.006,5.006,33.238050
4,5.0,3.6,1.4,0.2,Iris-setosa,5.006,5.006,36.651914
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,6.588,6.588,244.445230
146,6.3,2.5,5.0,1.9,Iris-virginica,6.588,6.588,207.816354
147,6.5,3.0,5.2,2.0,Iris-virginica,6.588,6.588,230.069302
148,6.2,3.4,5.4,2.3,Iris-virginica,6.588,6.588,217.373079
149,5.9,3.0,5.1,1.8,Iris-virginica,6.588,6.588,185.910028

f. Salve apenas o valor da classe, da média do sepal length e do volume desse dataset em um arquivo csv sem a coluna de index.

In [131]:
new_df = iris[["5. class", "media da classe", "Volume"]]

new_df.to_csv("novo_dataframe.csv", sep=",", index=False)