# Aula 8 - pandas

Na aula de hoje, vamos explorar os seguintes tópicos em Python:

- 1) Introdução ao Pandas
- 2) Conceitos de Dataframe e Series
- 3) Axis e slicing: uso de loc/iloc
- 4) Criação e manipulação de DF e SS a partir de dicionário, listas e arrays
- 5) Filtragem de dados e parâmetro inplace
- 6) Leitura de dados (read_csv, read_excel, read_clipboard)
_______

### Objetivos

Apresentar o pandas, frisando sua importância para o processamento de dados e em data science. Apresentar seus principais conceitos (Series, DataFrame) e funcionalidades (leitura de arquivo, filtros, seleção, apply, escrita de arquivos, etc.)

### Habilidades a serem desenvolvidas nessa aula

Ao final da aula o aluno deve:

- Conhecer o pandas, suas vantagens e principais usos;
- Saber como ler um arquivo com o pandas (csv, excel, etc.), criando DataFrames;
- Entender o conceito de Series e como elas são construídas;
- Entender o conceito de DataFrame em termos das Series;
- Saber como trabalhar com DataFrames para o processamento de dados:
    - Seleções: uso de loc/iloc;
    - Filtros;
    - Criação de novas colunas.
- Saber como ler e escrever de/em um arquivo com o pandas (csv, excel, etc.).

____
____
____

## 1) Pandas

O pandas é uma das bibliotecas mais usadas em data science.

Seu objetivo é a **leitura, processamento e manipulação de dados** na forma de tabelas chamadas de **"DataFrame"**

<img src="pandas-data-structure.svg"  style="width: 700px" >

Antes de conhecer o Pandas, vamos ler o arquivo "alunos.csv", da forma como aprendemos na aula de arquivos

In [8]:
import csv

f = open("alunos.csv", "r", encoding="utf-8")

leitor = csv.reader(f, delimiter=';', lineterminator='\n')

planilha = []

for linha in leitor:
    planilha.append(linha)
    
f.close()

planilha

[['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4'],
 ['110201', 'Antonio Carlos', '20', '6.5', '8.5', '7', '6'],
 ['110212', 'Ana Beatriz', '20', '7', '7', '7', '8'],
 ['110218', 'Carlos Vernes', '17', '7', '7', '7', '7'],
 ['110307', 'Francisco Cunha', '20', '9', '8.5', '8.5', '10'],
 ['110275', 'Sandra Rosa', '15', '6.5', '7.5', '7', '7'],
 ['110281', 'Juliana Arruda', '18', '7.5', '7', '7.5', '8'],
 ['110301', 'Joao Galo', '20', '5', '6.5', '7', '5'],
 ['110263', 'José Valente', '20', '10', '10', '10', '10'],
 ['110271', 'Maria Ferreira', '19', '9.5', '8', '7', '10'],
 ['110236', 'Adriana Tavares', '20', '8', '8', '8', '8']]

Como fizemos na aula, uma vez lido o arquivo, é possível processá-lo de diversas maneiras.

Por exemplo, para obter **a primeira coluna**, isto é, os nomes, fazemos:

In [9]:
[item[1] for item in planilha if item[1]!='Nome']

['Antonio Carlos',
 'Ana Beatriz',
 'Carlos Vernes',
 'Francisco Cunha',
 'Sandra Rosa',
 'Juliana Arruda',
 'Joao Galo',
 'José Valente',
 'Maria Ferreira',
 'Adriana Tavares']

Agora, vamos usar o Pandas e aprender uma forma muito mais fácil de processar dados!

Existem diversas formas de instalar o pandas. A mais simples é instalar o pacote Anaconda (https://www.anaconda.com/distribution/) que já vem com o Python e diversas bibliotecas científicas e ciência de dados instaladas.

Outra forma, caso você já tenha o python instalado mas não o pandas, é o utilizar o gerenciador e pacotes pip, através do comando no seu **terminal**:

`$ pip install pandas`

ou dentro do jupyter

`!pip install pandas`

In [10]:
# importando a biblioteca
import pandas as pd

# lendo o arquivo
tabela = pd.read_csv("alunos.csv", sep=";")

tabela

       RA             Nome  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4
0  110201   Antonio Carlos          20      6.5      8.5      7.0        6
1  110212      Ana Beatriz          20      7.0      7.0      7.0        8
2  110218    Carlos Vernes          17      7.0      7.0      7.0        7
3  110307  Francisco Cunha          20      9.0      8.5      8.5       10
4  110275      Sandra Rosa          15      6.5      7.5      7.0        7
5  110281   Juliana Arruda          18      7.5      7.0      7.5        8
6  110301        Joao Galo          20      5.0      6.5      7.0        5
7  110263     José Valente          20     10.0     10.0     10.0       10
8  110271   Maria Ferreira          19      9.5      8.0      7.0       10
9  110236  Adriana Tavares          20      8.0      8.0      8.0        8

### Acessando elementos

Podemos **acessar os valores nas colunas** pelo nome delas:

In [11]:
# acessar coluna "Nome" diretamente
tabela["Nome"]
tabela.Nome

0     Antonio Carlos
1        Ana Beatriz
2      Carlos Vernes
3    Francisco Cunha
4        Sandra Rosa
5     Juliana Arruda
6          Joao Galo
7       José Valente
8     Maria Ferreira
9    Adriana Tavares
Name: Nome, dtype: object

In [12]:
# acessar coluna "Nome" através de uma variável
nome_da_coluna = "Nome"

tabela[nome_da_coluna]

0     Antonio Carlos
1        Ana Beatriz
2      Carlos Vernes
3    Francisco Cunha
4        Sandra Rosa
5     Juliana Arruda
6          Joao Galo
7       José Valente
8     Maria Ferreira
9    Adriana Tavares
Name: Nome, dtype: object

Se quisermos obter uma lista propriamente com os valores na coluna, usamos o método `tolist()`:

In [13]:
tabela["Nome"].tolist()

['Antonio Carlos',
 'Ana Beatriz',
 'Carlos Vernes',
 'Francisco Cunha',
 'Sandra Rosa',
 'Juliana Arruda',
 'Joao Galo',
 'José Valente',
 'Maria Ferreira',
 'Adriana Tavares']

Dá pra **selecionar apenas algumas colunas** do dataframe (ou seja, criando um sub-dataframe):

In [14]:
# pegando apenas a coluna "Nome" e resultado da "Prova_1"
tabela[["Nome", "Prova_1"]]

              Nome  Prova_1
0   Antonio Carlos      6.5
1      Ana Beatriz      7.0
2    Carlos Vernes      7.0
3  Francisco Cunha      9.0
4      Sandra Rosa      6.5
5   Juliana Arruda      7.5
6        Joao Galo      5.0
7     José Valente     10.0
8   Maria Ferreira      9.5
9  Adriana Tavares      8.0

### Acessando elementos

Podemos utilizar o `.loc[indice_linhas, nome_colunas]` para acessar determinas colunas e as linhas através dos índices e nomes das colunas.

In [15]:
# selecionar todas as linhas das colunas ['Nome','Prova_1']
tabela.loc[:, ["Nome", "Prova_1"]]

              Nome  Prova_1
0   Antonio Carlos      6.5
1      Ana Beatriz      7.0
2    Carlos Vernes      7.0
3  Francisco Cunha      9.0
4      Sandra Rosa      6.5
5   Juliana Arruda      7.5
6        Joao Galo      5.0
7     José Valente     10.0
8   Maria Ferreira      9.5
9  Adriana Tavares      8.0

In [16]:
# selecionar linhas 3 à 5 das colunas ['Nome','Prova_1']
tabela.loc[3:5, ["Nome", "Prova_1"]]

              Nome  Prova_1
3  Francisco Cunha      9.0
4      Sandra Rosa      6.5
5   Juliana Arruda      7.5

In [17]:
# selecionar linhas 3,5,9 das colunas ['Nome','Prova_1']
tabela.loc[[3,5,9], ["Nome", "Prova_1"]]

              Nome  Prova_1
3  Francisco Cunha      9.0
5   Juliana Arruda      7.5
9  Adriana Tavares      8.0

In [18]:
# selecionar as linhas das colunas Prova_1 até Prova_4
tabela.loc[:, 'Prova_1':'Prova_4']

   Prova_1  Prova_2  Prova_3  Prova_4
0      6.5      8.5      7.0        6
1      7.0      7.0      7.0        8
2      7.0      7.0      7.0        7
3      9.0      8.5      8.5       10
4      6.5      7.5      7.0        7
5      7.5      7.0      7.5        8
6      5.0      6.5      7.0        5
7     10.0     10.0     10.0       10
8      9.5      8.0      7.0       10
9      8.0      8.0      8.0        8

selecionar apenas uma linha de uma coluna

In [19]:
tabela.loc[9, "Nome"]

'Adriana Tavares'

É possível **alterar valores** da tabela. Para isso, primeiro localizamos o valor a ser alterado com o **.loc**, passando a linha e coluna correspondente, e depois atribuímos o novo valor

In [20]:
tabela.loc[10, "Nome"] = "Joãozinho"
tabela.loc[10, "Frequencia"] = 100

In [21]:
tabela

          RA             Nome  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4
0   110201.0   Antonio Carlos        20.0      6.5      8.5      7.0      6.0
1   110212.0      Ana Beatriz        20.0      7.0      7.0      7.0      8.0
2   110218.0    Carlos Vernes        17.0      7.0      7.0      7.0      7.0
3   110307.0  Francisco Cunha        20.0      9.0      8.5      8.5     10.0
4   110275.0      Sandra Rosa        15.0      6.5      7.5      7.0      7.0
5   110281.0   Juliana Arruda        18.0      7.5      7.0      7.5      8.0
6   110301.0        Joao Galo        20.0      5.0      6.5      7.0      5.0
7   110263.0     José Valente        20.0     10.0     10.0     10.0     10.0
8   110271.0   Maria Ferreira        19.0      9.5      8.0      7.0     10.0
9   110236.0  Adriana Tavares        20.0      8.0      8.0      8.0      8.0
10       NaN        Joãozinho       100.0      NaN      NaN      NaN      NaN

In [22]:
tabela = tabela.set_index('Nome')
tabela

                       RA  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4
Nome
Antonio Carlos   110201.0        20.0      6.5      8.5      7.0      6.0
Ana Beatriz      110212.0        20.0      7.0      7.0      7.0      8.0
Carlos Vernes    110218.0        17.0      7.0      7.0      7.0      7.0
Francisco Cunha  110307.0        20.0      9.0      8.5      8.5     10.0
Sandra Rosa      110275.0        15.0      6.5      7.5      7.0      7.0
Juliana Arruda   110281.0        18.0      7.5      7.0      7.5      8.0
Joao Galo        110301.0        20.0      5.0      6.5      7.0      5.0
José Valente     110263.0        20.0     10.0     10.0     10.0     10.0
Maria Ferreira   110271.0        19.0      9.5      8.0      7.0     10.0
Adriana Tavares  110236.0        20.0      8.0      8.0      8.0      8.0
Joãozinho             NaN       100.0      NaN      NaN      NaN      NaN

Vamos tentar selecionar as linhas 3 à 5 das colunas ['Prova_1','Prova_2'] como fizemos anteriormente

In [23]:
tabela.loc[3:5, ['Prova_1','Prova_2']]

TypeError: cannot do slice indexing on Index with these indexers [3] of type int

O que aconteceu? <br>
O `.loc` faz o slice considerando o index da matriz e agora o index é o nome dos alunos.

In [24]:
tabela.loc['Francisco Cunha':'Juliana Arruda', ['Prova_1','Prova_2']]

                 Prova_1  Prova_2
Nome
Francisco Cunha      9.0      8.5
Sandra Rosa          6.5      7.5
Juliana Arruda       7.5      7.0

Para resetar o index e voltarmos a ter os valores originais:

In [25]:
tabela.reset_index(inplace=True)
tabela

               Nome        RA  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4
0    Antonio Carlos  110201.0        20.0      6.5      8.5      7.0      6.0
1       Ana Beatriz  110212.0        20.0      7.0      7.0      7.0      8.0
2     Carlos Vernes  110218.0        17.0      7.0      7.0      7.0      7.0
3   Francisco Cunha  110307.0        20.0      9.0      8.5      8.5     10.0
4       Sandra Rosa  110275.0        15.0      6.5      7.5      7.0      7.0
5    Juliana Arruda  110281.0        18.0      7.5      7.0      7.5      8.0
6         Joao Galo  110301.0        20.0      5.0      6.5      7.0      5.0
7      José Valente  110263.0        20.0     10.0     10.0     10.0     10.0
8    Maria Ferreira  110271.0        19.0      9.5      8.0      7.0     10.0
9   Adriana Tavares  110236.0        20.0      8.0      8.0      8.0      8.0
10        Joãozinho       NaN       100.0      NaN      NaN      NaN      NaN

Repare que quando utilizamos o `inplace=True` como um argumento do método nós não precisamos referenciar o dataframe. <br>
Nós podemos utilizar o `inplace=True` em vários métodos do pandas.

### Seleção através das posições das linhas e colunas
Outra forma de acessarmos dados é através do `.iloc[número_linhas, número_colunas]` utilizando as posições das linhas e colunas

In [26]:
# seleciona uma linha de uma coluna
tabela.iloc[10, 1]

nan

In [27]:
# seleciona todas as colunas de uma linha
tabela.iloc[10, :]

Nome          Joãozinho
RA                  NaN
Frequencia        100.0
Prova_1             NaN
Prova_2             NaN
Prova_3             NaN
Prova_4             NaN
Name: 10, dtype: object

In [28]:
# seleciona um conjunto de linhas sequenciais de um conjunto de colunas sequenciais
tabela.iloc[3:5, 1:5]

         RA  Frequencia  Prova_1  Prova_2
3  110307.0        20.0      9.0      8.5
4  110275.0        15.0      6.5      7.5

In [29]:
# seleciona um conjunto de linhas sequenciais de um conjunto de colunas não sequenciais
tabela.iloc[3:5, [1,5]]

         RA  Prova_3
3  110307.0      8.5
4  110275.0      7.0

In [30]:
tabela[0] = 0

### Diferença entre .loc e .iloc
O .loc irá trazer o dado utilizando o índice, não importando se o índice não está ordenado. Já o .iloc irá respeitar a ordem atual dos dados

In [31]:
tabela_copy = tabela.copy()

In [32]:
# vamos bagunçar o índice do df chamado tabela
tabela_copy.index = sorted(tabela.index.values, reverse=True)
tabela_copy.head()

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0
10,Antonio Carlos,110201.0,20.0,6.5,8.5,7.0,6.0,0
9,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0
8,Carlos Vernes,110218.0,17.0,7.0,7.0,7.0,7.0,0
7,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0
6,Sandra Rosa,110275.0,15.0,6.5,7.5,7.0,7.0,0

In [33]:
# traz o índice
tabela_copy.loc[[3,6],:]

           Nome        RA  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4  0
3  José Valente  110263.0        20.0     10.0     10.0     10.0     10.0  0
6   Sandra Rosa  110275.0        15.0      6.5      7.5      7.0      7.0  0

In [34]:
# iloc traz a linha
tabela_copy.iloc[[3,6],:]

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0
7,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0
4,Joao Galo,110301.0,20.0,5.0,6.5,7.0,5.0,0

### Criar novas colunas

**Criando uma coluna nova**, com todas as linhas preenchidas com o mesmo valor

In [35]:
# cria coluna com valores 1
tabela["cheia_de_um"] = 1

In [36]:
# cria coluna com string
tabela["aaaa"] = "a"

In [37]:
# cria coluna vazia
tabela["vazio"] = ""

In [38]:
tabela

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0,cheia_de_um,aaaa,vazio
0,Antonio Carlos,110201.0,20.0,6.5,8.5,7.0,6.0,0,1,a,
1,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0,1,a,
2,Carlos Vernes,110218.0,17.0,7.0,7.0,7.0,7.0,0,1,a,
3,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0,1,a,
4,Sandra Rosa,110275.0,15.0,6.5,7.5,7.0,7.0,0,1,a,
5,Juliana Arruda,110281.0,18.0,7.5,7.0,7.5,8.0,0,1,a,
6,Joao Galo,110301.0,20.0,5.0,6.5,7.0,5.0,0,1,a,
7,José Valente,110263.0,20.0,10.0,10.0,10.0,10.0,0,1,a,
8,Maria Ferreira,110271.0,19.0,9.5,8.0,7.0,10.0,0,1,a,
9,Adriana Tavares,110236.0,20.0,8.0,8.0,8.0,8.0,0,1,a,
10,Joãozinho,NaN,100.0,NaN,NaN,NaN,NaN,0,1,a,

Também é possível **criar uma linha nova** atribuindo valores para todas as colunas:

In [44]:
tabela.loc[10, :] = [1245245, "Joãozinho", 100, 10, 4, 6, 7, 0, "bbb", 2, "cheio"]

tabela

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0,cheia_de_um,aaaa,vazio
0,Antonio Carlos,110201.0,20.0,6.5,8.5,7.0,6.0,0,1,a,
1,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0,1,a,
2,Carlos Vernes,110218.0,17.0,7.0,7.0,7.0,7.0,0,1,a,
3,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0,1,a,
4,Sandra Rosa,110275.0,15.0,6.5,7.5,7.0,7.0,0,1,a,
5,Juliana Arruda,110281.0,18.0,7.5,7.0,7.5,8.0,0,1,a,
6,Joao Galo,110301.0,20.0,5.0,6.5,7.0,5.0,0,1,a,
7,José Valente,110263.0,20.0,10.0,10.0,10.0,10.0,0,1,a,
8,Maria Ferreira,110271.0,19.0,9.5,8.0,7.0,10.0,0,1,a,
9,Adriana Tavares,110236.0,20.0,8.0,8.0,8.0,8.0,0,1,a,
10,1245245,Joãozinho,100.0,10.0,4.0,6.0,7.0,0,bbb,2,cheio

Se você usar o index de uma linha que já existe irá substituí-la.

Podemos fazer **operações entre os valores das colunas**, e criar com isso novas colunas!

In [45]:
# calculando a média usando as colunas Prova_1, Prova_2, Prova_3 e Prova_4
tabela["média"] = (tabela["Prova_1"] + tabela["Prova_2"] + 
                   tabela["Prova_3"] + tabela["Prova_4"])/4

Também há alguns métodos prontos que facilitam a utilização:

In [46]:
# calculando a media com o método .mean(axis=1)
tabela["media_2"] = tabela[["Prova_1", "Prova_2", "Prova_3", "Prova_4"]].mean(axis=1)

tabela

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0,cheia_de_um,aaaa,vazio,média,media_2
0,Antonio Carlos,110201.0,20.0,6.5,8.5,7.0,6.0,0,1,a,,7.000,7.000
1,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0,1,a,,7.250,7.250
2,Carlos Vernes,110218.0,17.0,7.0,7.0,7.0,7.0,0,1,a,,7.000,7.000
3,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0,1,a,,9.000,9.000
4,Sandra Rosa,110275.0,15.0,6.5,7.5,7.0,7.0,0,1,a,,7.000,7.000
5,Juliana Arruda,110281.0,18.0,7.5,7.0,7.5,8.0,0,1,a,,7.500,7.500
6,Joao Galo,110301.0,20.0,5.0,6.5,7.0,5.0,0,1,a,,5.875,5.875
7,José Valente,110263.0,20.0,10.0,10.0,10.0,10.0,0,1,a,,10.000,10.000
8,Maria Ferreira,110271.0,19.0,9.5,8.0,7.0,10.0,0,1,a,,8.625,8.625
9,Adriana Tavares,110236.0,20.0,8.0,8.0,8.0,8.0,0,1,a,,8.000,8.000
10,1245245,Joãozinho,100.0,10.0,4.0,6.0,7.0,0,bbb,2,cheio,6.750,6.750

Naturalmente, o resultado é o mesmo!

### Métodos:

O Pandas possui diversos métodos que podem ser utilizados nessa estrutura.
Abaixo estão alguns métodos que essa estrutura de dados possui e facilitam alguns cálculos e análises:
 

| Método      | Descrição     |
| ----------- | -----------   |
| sum         | soma          |
| mean        | média         |
| std         | desvio padrão |
| mode        | moda          |
| max         | valor máximo  |
| min         | valor mínimo  |
| idxmax      | primeiro índice com valor máximo |
| idxmin      | primeiro índice com valor mínimo |
| value_counts | contagem de valores |
| describe    | estatísticas básicas |


Na próxima aula veremos mais alguns.

In [47]:
# calculando o valor máx de cada aluno
tabela[["Prova_1", "Prova_2", "Prova_3", "Prova_4"]].max(axis=1)

0      8.5
1      8.0
2      7.0
3     10.0
4      7.5
5      8.0
6      7.0
7     10.0
8     10.0
9      8.0
10    10.0
dtype: float64

In [48]:
# calculando o valor máx de cada prova
tabela[["Prova_1", "Prova_2", "Prova_3", "Prova_4"]].max(axis=0)

Prova_1    10.0
Prova_2    10.0
Prova_3    10.0
Prova_4    10.0
dtype: float64

### Filtros

Podemos **fazer filtros** muito facilmente

Basta explicitarmos **condições sobre os valores das colunas**, e utilizar isso como indexador do dataframe!

In [49]:
# retorna o sub-dataframe que contém valores maiores que 7 na coluna "média"
# ou seja, é um filtro que utiliza a coluna "média"!

tabela[tabela["média"] > 7]

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0,cheia_de_um,aaaa,vazio,média,media_2
1,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0,1,a,,7.250,7.250
3,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0,1,a,,9.000,9.000
5,Juliana Arruda,110281.0,18.0,7.5,7.0,7.5,8.0,0,1,a,,7.500,7.500
7,José Valente,110263.0,20.0,10.0,10.0,10.0,10.0,0,1,a,,10.000,10.000
8,Maria Ferreira,110271.0,19.0,9.5,8.0,7.0,10.0,0,1,a,,8.625,8.625
9,Adriana Tavares,110236.0,20.0,8.0,8.0,8.0,8.0,0,1,a,,8.000,8.000

Se quisermos fazer filtros mais complexos (filtros compostos, em mais de uma coluna), podemos fazer **conjunções entre filtros**, utilizando os **operadores lógicos de conjunção**.

Obs.: temos os seguintes operadores lógicos:

- &     - corresponde ao "and"
- |     - corresponde ao "or"
- ~     - corresponde ao "not"

In [50]:
# filtar tabela para média > 7 e frequencia >= 20
tabela[(tabela["média"] > 7) & (tabela["Frequencia"] >= 20)]

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0,cheia_de_um,aaaa,vazio,média,media_2
1,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0,1,a,,7.25,7.25
3,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0,1,a,,9.00,9.00
7,José Valente,110263.0,20.0,10.0,10.0,10.0,10.0,0,1,a,,10.00,10.00
9,Adriana Tavares,110236.0,20.0,8.0,8.0,8.0,8.0,0,1,a,,8.00,8.00

In [51]:
# filtar tabela para média > 7 e frequencia >= 20
tabela[(tabela["média"] > 7) | (tabela["Frequencia"] >= 20)]

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0,cheia_de_um,aaaa,vazio,média,media_2
0,Antonio Carlos,110201.0,20.0,6.5,8.5,7.0,6.0,0,1,a,,7.000,7.000
1,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0,1,a,,7.250,7.250
3,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0,1,a,,9.000,9.000
5,Juliana Arruda,110281.0,18.0,7.5,7.0,7.5,8.0,0,1,a,,7.500,7.500
6,Joao Galo,110301.0,20.0,5.0,6.5,7.0,5.0,0,1,a,,5.875,5.875
7,José Valente,110263.0,20.0,10.0,10.0,10.0,10.0,0,1,a,,10.000,10.000
8,Maria Ferreira,110271.0,19.0,9.5,8.0,7.0,10.0,0,1,a,,8.625,8.625
9,Adriana Tavares,110236.0,20.0,8.0,8.0,8.0,8.0,0,1,a,,8.000,8.000
10,1245245,Joãozinho,100.0,10.0,4.0,6.0,7.0,0,bbb,2,cheio,6.750,6.750

In [52]:
# pegando somente a coluna "média" dos alunos que tiveram nota igual na prova 1 e na prova 4
tabela[tabela["Prova_4"] == tabela["Prova_1"]]["média"]

2     7.000
6     5.875
7    10.000
9     8.000
Name: média, dtype: float64

In [ ]:
# calculando a média de todos os alunos que tiveram nota igual na prova 1 e na prova 4
tabela[tabela["Prova_4"] == tabela["Prova_1"]]["média"].mean()

In [ ]:
# Podemos criar um novo df diretamento do filtro
prova_4 = tabela[tabela['Prova_4']>=7]
prova_4

E também é bem fácil salvar um dataframe de volta pra CSV ou pro Excel.

In [ ]:
# salvando dados em csv com o método .to_csv()
tabela.to_csv("tabela_processada2.csv", sep=";")

Para salvar esses dados em excel é preciso instalar mais uma biblioteca: a `openpyxl`. Caso você não a tenha escreva o comando seguinte em uma célula de código: <br>
` !pip install openpyxl `
<br>

In [ ]:
# salvando dados em excel com o método .to_excel()
tabela.to_excel("tabela_processada.xlsx")

Agora que entendemos na prática como usar o Pandas, vamos nos aprofundar um pouco mais em sua estrutura!

### Outra forma de filtrar: `.query()`

In [ ]:
prova_4 = tabela.query('Prova_4 >= 7 and Prova_3 >= 7')
prova_4

## Series
O objeto fundamental do Pandas são as **Series**.

As Series são as **colunas das tabelas**, que são originadas de um array unidimensional capaz de guardar qualquer tipo de dado (integers, strings, floating point numbers, Python objects, etc.). E como as listas, as series podem conter dados de vários tipo.

In [55]:
tabela

,Nome,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,0,cheia_de_um,aaaa,vazio,média,media_2
0,Antonio Carlos,110201.0,20.0,6.5,8.5,7.0,6.0,0,1,a,,7.000,7.000
1,Ana Beatriz,110212.0,20.0,7.0,7.0,7.0,8.0,0,1,a,,7.250,7.250
2,Carlos Vernes,110218.0,17.0,7.0,7.0,7.0,7.0,0,1,a,,7.000,7.000
3,Francisco Cunha,110307.0,20.0,9.0,8.5,8.5,10.0,0,1,a,,9.000,9.000
4,Sandra Rosa,110275.0,15.0,6.5,7.5,7.0,7.0,0,1,a,,7.000,7.000
5,Juliana Arruda,110281.0,18.0,7.5,7.0,7.5,8.0,0,1,a,,7.500,7.500
6,Joao Galo,110301.0,20.0,5.0,6.5,7.0,5.0,0,1,a,,5.875,5.875
7,José Valente,110263.0,20.0,10.0,10.0,10.0,10.0,0,1,a,,10.000,10.000
8,Maria Ferreira,110271.0,19.0,9.5,8.0,7.0,10.0,0,1,a,,8.625,8.625
9,Adriana Tavares,110236.0,20.0,8.0,8.0,8.0,8.0,0,1,a,,8.000,8.000
10,1245245,Joãozinho,100.0,10.0,4.0,6.0,7.0,0,bbb,2,cheio,6.750,6.750

Visual de uma series:

In [56]:
tabela.cheia_de_um

0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10    bbb
Name: cheia_de_um, dtype: object

Tipo de uma series

In [57]:
type(tabela.cheia_de_um)

pandas.core.series.Series

Como pudemos observar a series pode ter elementos de diferentes tipos. Na primeira posição temos um float enquanto na última temos uma string.

In [58]:
type(tabela.cheia_de_um[0])

int

In [59]:
type(tabela.cheia_de_um[10])

str

A diferença é que a series possui um **índice associado**, permitindo o acesso aos conteúdos dessa estrutura por ele, como um dicionário. Para entender mais sobre como trabalhar como séries, temos um conteúdo anexado no final desse notebook que você pode olhar.

Agora que entendemos a componente fundamental do Pandas, as Séries, vamos falar um pouco mais sobre o **DataFrame**

### Estrutura do df
O DataFrame é uma estrutura que se assemelha a uma tabela/planilha, como vimos acima.

Por debaixo dos panos, o dataframe é representado por um dicionário em que a **chave** é o **nome da coluna** e os **valores** são as **Series** (todas com mesmo índice).

### Criação de df a partir de dicionários

Assim, podemos **criar um dataframe a partir de um dicionario**, usando a função `pd.DataFrame()`

In [60]:
cadastro = {"nomes" : ["André", "Mariazinha"],
                "idade" : [22, 25],
                "cidade" : ["Mauá", "Santo André"],
                "filhos": [0, 0],
                "altura" : [1.80, 1.65]}

cadastro

{'nomes': ['André', 'Mariazinha'],
 'idade': [22, 25],
 'cidade': ['Mauá', 'Santo André'],
 'filhos': [0, 0],
 'altura': [1.8, 1.65]}

In [61]:
# criando um dataframe a partir de um dicionario
df = pd.DataFrame(cadastro)
df

        nomes  idade       cidade  filhos  altura
0       André     22         Mauá       0    1.80
1  Mariazinha     25  Santo André       0    1.65

## Outros conteúdos

### Criar Series a partir de listas

Podemos criar uma series **a partir de uma lista**, usando a função do pandas `pd.Series()`:

In [62]:
# definindo uma série com valores e indices
indices = ["a", "b", "c", "d"]
lista = [10, 20, 30, 40]

serie = pd.Series(data = lista, index = indices)

serie

a    10
b    20
c    30
d    40
dtype: int64

Podemos acessar o elemento 30, que está associado ao índice c:

In [63]:
serie['c']

30

Para retornar todos os índices podemos utilizar o método `series.index`

In [64]:
serie.index

Index(['a', 'b', 'c', 'd'], dtype='object')

E para acessar os valores podemos utilizar o atributo `series.values`

In [65]:
serie.values

array([10, 20, 30, 40], dtype=int64)

### Utilizando filtros em Series
Podemos aplicar filtros para selecionar apenas os elementos que satisfaçam determinada condição.
No exemplo abaixo, iremos selecionar apenas os elementos que sejam maiores que 15:

In [66]:
serie[serie > 15]

b    20
c    30
d    40
dtype: int64

Note que `serie > 15` nos retorna uma series com elementos `True` e `False`, caso os elementos da serie satisfaçam a condição. Ao utilizar esse comando dentro dos colchetes, `serie[serie > 15]`, estamos selecionado apenas os elementos que satisfazem a condição.


### Criar Series a partir de dicionários
Também podemos **criar uma série a partir de um dicionário**, e os índices e valores são automaticamente capturados:

In [67]:
# criando uma série a partir de um dicionario
dic2 = {"nome": "André", 
        "idade" : 23}

pd.Series(dic2)

nome     André
idade       23
dtype: object

### Criar dicionários a partir de Series
O inverso também é possível:

In [68]:
dicionario = dict(serie)

dicionario

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

### Criar dataframe a partir de listas

In [69]:
# Considere a seguinte lista
age = [['Artur', 95.5, "M"], ['Vera', 79.7, "F"],
       ['Mônica', 85.1, "F"], ['Toni', 75.4, "M"]]
  
# Cria um pandas dataframe passando a lista e, se quiser, o nome das colunas
pd.DataFrame(age, columns=['Nome', 'Pontos', 'Sexo'])

     Nome  Pontos Sexo
0   Artur    95.5    M
1    Vera    79.7    F
2  Mônica    85.1    F
3    Toni    75.4    M

### Criar dataframe a partir de array

In [70]:
import numpy as np

# Considere o seguinte array:
my_array = np.random.randint(1, 10, 18)

# Cria um pandas dataframe passando o array e, se quiser, o nome das colunas
pd.DataFrame(my_array.reshape(-1,3), columns=['col_1','col_2','col_3'])

   col_1  col_2  col_3
0      4      9      2
1      1      8      7
2      2      9      5
3      4      2      5
4      8      6      6
5      7      1      2

## Exercícios

1 - Realize os passos seguintes utilizando o mesmo dataset do íris da aula anterior ('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data').

a. Use o pandas para ler o arquivo como um dataframe. Obs: precisa ler o dataframe sem que a primeira linha corresponda ao nome das colunas.

In [81]:
file_path = "C:\\Users\\Pedro\\Documents\\GitHub\\Lets_Code_Alunos\\02_Ferramentas_Programação\\02_Numpy\\archive.ics.uci.edu\\ml\\machine-learning-databases\\iris\\iris.data"

iris =  pd.read_csv(file_path, sep=",", header = None)
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

b. Sabendo que as colunas correspondem, nessa ordem, a: 
    1. sepal length (cm)
    2. sepal width (cm)
    3. petal length (cm)
    4. petal width (cm)
    5. class: <br>
        - Iris Setosa <br>
        - Iris Versicolor <br>
        - Iris Virginica <br>
leia novamente o arquivo passando o nome das colunas como argumento.

In [82]:
file_path = "C:\\Users\\Pedro\\Documents\\GitHub\\Lets_Code_Alunos\\02_Ferramentas_Programação\\02_Numpy\\archive.ics.uci.edu\\ml\\machine-learning-databases\\iris\\iris.data"

iris =  pd.read_csv(file_path, sep=",", header = None, names = ["sepalLength", "sepalWidth", "petalLength", "petalWidth", "class"])
iris.head()

   sepalLength  sepalWidth  petalLength  petalWidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

c. Calcule a média de cada coluna numérica para cada um dos tipos de íris indicados na coluna "class" sem utilizar métodos que não foram ensinados na aula de hoje. Utilize o loop for para reduzir quantidade de linhas. <br>
Existe diferença entre elas?

In [114]:
classe = ["Iris-setosa", "Iris-versicolor", "Iris-virginica"]
 
media = pd.DataFrame(columns=iris.columns[0:4], index=classe)    

for j in range(len(classe)):
    for i in range(len(iris.columns)-1):
        media.iloc[j,i] = iris[iris["class"] == classe[j]].iloc[:,i].mean()
        
media

                sepalLength sepalWidth petalLength petalWidth
Iris-setosa           5.006      3.418       1.464      0.244
Iris-versicolor       5.936       2.77        4.26      1.326
Iris-virginica        6.588      2.974       5.552      2.026

d. Adicione uma única coluna com a média de 'sepal length' para cada um dos tipos de íris indicados na coluna "class". Utilize o loop for e faça isso sem utilizar métodos que não foram ensinados na aula de hoje.

In [129]:
classe = ["Iris-setosa", "Iris-versicolor", "Iris-virginica"]
lista = []

for i in range(len(iris.index)):
    if iris["class"][i] == 'Iris-setosa':
        lista.append(media.iloc[0,0])
    elif iris["class"][i] == "Iris-versicolor":
        lista.append(media.iloc[1,0])
    elif iris["class"][i] == "Iris-virginica":
        lista.append(media.iloc[2,0])
            
iris["mediaSepalLength"] = lista

iris.head()

,sepalLength,sepalWidth,petalLength,petalWidth,class,mediaSepalLength
0,5.1,3.5,1.4,0.2,Iris-setosa,5.006
1,4.9,3.0,1.4,0.2,Iris-setosa,5.006
2,4.7,3.2,1.3,0.2,Iris-setosa,5.006
3,4.6,3.1,1.5,0.2,Iris-setosa,5.006
4,5.0,3.6,1.4,0.2,Iris-setosa,5.006

e. Crie uma coluna de volume sabendo que o volume representa (pi x petallength x sepal_length^2)/3

In [130]:
import math

iris["volume"] = (math.pi * iris["petalLength"] * iris["sepalLength"] ** 2) / 3

iris.head()

,sepalLength,sepalWidth,petalLength,petalWidth,class,mediaSepalLength,volume
0,5.1,3.5,1.4,0.2,Iris-setosa,5.006,38.132652
1,4.9,3.0,1.4,0.2,Iris-setosa,5.006,35.200498
2,4.7,3.2,1.3,0.2,Iris-setosa,5.006,30.072372
3,4.6,3.1,1.5,0.2,Iris-setosa,5.006,33.238050
4,5.0,3.6,1.4,0.2,Iris-setosa,5.006,36.651914

f. Salve apenas o valor da classe, da média do sepal length e do volume desse dataset em um arquivo csv sem a coluna de index.

In [131]:
data_export = iris[["class", "mediaSepalLength", "volume"]]

data_export.to_csv("iris_proces.csv", sep=";", index = False)