Exercícios da aula 4 de pandas - Módulo 2

1. Considere a existência de três tabelas distintas:
* customer.csv : Possui a informação dos clientes em duas colunas: customer id  customer name
* products.csv : Conté informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price
* sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)

Conhecendo as bases responda:

In [1]:
# importanto o módulo pandas e numpy
import pandas as pd
import numpy as np

In [2]:
# importando o dataset

customer = pd.read_csv("data/customer.csv ")
products = pd.read_csv("data/products.csv ")
sales = pd.read_csv("data/sales.csv ")

In [3]:
print ("customer", customer.shape)
print ("products", products.shape)
print ("sales", sales.shape)

customer (8, 2)
products (8, 3)
sales (9, 6)

In [4]:
customer.head(10)

   c_id Customer
0     1     Rabi
1     2     Raju
2     3     Alex
3     4     Rani
4     5     King
5     7     Ronn
6     8      Jem
7     9      Tom

In [5]:
products.head(10)

   p_id       product  price
0     1     Hard Disk     80
1     2           RAM     90
2     3       Monitor     75
3     4           CPU     55
4     5      Keyboard     20
5     6         Mouse     10
6     7   Motherboard     50
7     8  Power supply     20

In [6]:
sales.head(15)

   sale_id  c_id  p_id  product  qty store
0        1     2     3  Monitor    2   ABC
1        2     2     4      CPU    1   DEF
2        3     1     3  Monitor    3   ABC
3        4     4     2      RAM    2   DEF
4        5     2     3  Monitor    3   ABC
5        6     3     3  Monitor    2   DEF
6        7     2     2      RAM    3   ABC
7        8     3     2      RAM    2   DEF
8        9     2     3  Monitor    2   ABC

a) Quais foram os produtos vendidos?

In [9]:
# os produtos vendidos foram:

sales["product"].unique()

array(['Monitor', 'CPU', 'RAM'], dtype=object)

In [24]:
# fazerndo a análise utilizando um merge  com how = "inner"

prod_vendidos = pd.merge(products, sales, how = 'inner', on = 'product')
prod_vendidos.head(15)

   p_id_x  product  price  sale_id  c_id  p_id_y  qty store
0       2      RAM     90        4     4       2    2   DEF
1       2      RAM     90        7     2       2    3   ABC
2       2      RAM     90        8     3       2    2   DEF
3       3  Monitor     75        1     2       3    2   ABC
4       3  Monitor     75        3     1       3    3   ABC
5       3  Monitor     75        5     2       3    3   ABC
6       3  Monitor     75        6     3       3    2   DEF
7       3  Monitor     75        9     2       3    2   ABC
8       4      CPU     55        2     2       4    1   DEF

In [7]:
# não preciso passar necessáriamente o on, pois ele já está definido no merge, 
# mas deveria ser passado para garantir que não ocorra erros, 
# pois colunas como mesmo nome pode ter siguinificado diferente  nos dataFrames 
# e assim  vc junta dados que não deveria ser juntado 

prod_vendidos = pd.merge(products, sales, how = 'inner')
prod_vendidos.head(15)

   p_id  product  price  sale_id  c_id  qty store
0     2      RAM     90        4     4    2   DEF
1     2      RAM     90        7     2    3   ABC
2     2      RAM     90        8     3    2   DEF
3     3  Monitor     75        1     2    2   ABC
4     3  Monitor     75        3     1    3   ABC
5     3  Monitor     75        5     2    3   ABC
6     3  Monitor     75        6     3    2   DEF
7     3  Monitor     75        9     2    2   ABC
8     4      CPU     55        2     2    1   DEF

b) E os não vendidos?

In [8]:
# listanto dos os produtos 
products["product"].unique()

array(['Hard Disk', 'RAM', 'Monitor', 'CPU', 'Keyboard', 'Mouse',
       'Motherboard', 'Power supply'], dtype=object)

Compando a lista dos produtos com os vendidos com a lista de todos os produtos
temos que, os produtos não vendido foram :
- Hard Disk
- Keyboard
- Mouse
- Motherboard
- Power supply

In [15]:
# fazerndo a análise utilizando um merge  com how = "left"

nao_vendidos = pd.merge(products, sales, how = 'left', on = 'product')
nao_vendidos.head(15)

    p_id_x       product  price  sale_id  c_id  p_id_y  qty store
0        1     Hard Disk     80      NaN   NaN     NaN  NaN   NaN
1        2           RAM     90      4.0   4.0     2.0  2.0   DEF
2        2           RAM     90      7.0   2.0     2.0  3.0   ABC
3        2           RAM     90      8.0   3.0     2.0  2.0   DEF
4        3       Monitor     75      1.0   2.0     3.0  2.0   ABC
5        3       Monitor     75      3.0   1.0     3.0  3.0   ABC
6        3       Monitor     75      5.0   2.0     3.0  3.0   ABC
7        3       Monitor     75      6.0   3.0     3.0  2.0   DEF
8        3       Monitor     75      9.0   2.0     3.0  2.0   ABC
9        4           CPU     55      2.0   2.0     4.0  1.0   DEF
10       5      Keyboard     20      NaN   NaN     NaN  NaN   NaN
11       6         Mouse     10      NaN   NaN     NaN  NaN   NaN
12       7   Motherboard     50      NaN   NaN     NaN  NaN   NaN
13       8  Power supply     20      NaN   NaN     NaN  NaN   NaN

In [18]:
# fazendo um filto pelos NaN, para saber os produtos que não foram vendidos
nao_vendidos[nao_vendidos["sale_id"].isnull()]

    p_id_x       product  price  sale_id  c_id  p_id_y  qty store
0        1     Hard Disk     80      NaN   NaN     NaN  NaN   NaN
10       5      Keyboard     20      NaN   NaN     NaN  NaN   NaN
11       6         Mouse     10      NaN   NaN     NaN  NaN   NaN
12       7   Motherboard     50      NaN   NaN     NaN  NaN   NaN
13       8  Power supply     20      NaN   NaN     NaN  NaN   NaN

c) Quantos clientes não realizaram uma compra?

In [22]:
clientes_com_sales = pd.merge(customer, sales, how = 'inner', on = 'c_id')
clientes_com_sales.head(10)

   c_id Customer  sale_id  p_id  product  qty store
0     1     Rabi        3     3  Monitor    3   ABC
1     2     Raju        1     3  Monitor    2   ABC
2     2     Raju        2     4      CPU    1   DEF
3     2     Raju        5     3  Monitor    3   ABC
4     2     Raju        7     2      RAM    3   ABC
5     2     Raju        9     3  Monitor    2   ABC
6     3     Alex        6     3  Monitor    2   DEF
7     3     Alex        8     2      RAM    2   DEF
8     4     Rani        4     2      RAM    2   DEF

In [23]:
# clientes que realizaram compras
clientes_com_sales['Customer'].unique()

array(['Rabi', 'Raju', 'Alex', 'Rani'], dtype=object)

d) Liste a quantidade vendida e o faturamento de cada produto

In [25]:
prod_vendidos.head(15)

   p_id_x  product  price  sale_id  c_id  p_id_y  qty store
0       2      RAM     90        4     4       2    2   DEF
1       2      RAM     90        7     2       2    3   ABC
2       2      RAM     90        8     3       2    2   DEF
3       3  Monitor     75        1     2       3    2   ABC
4       3  Monitor     75        3     1       3    3   ABC
5       3  Monitor     75        5     2       3    3   ABC
6       3  Monitor     75        6     3       3    2   DEF
7       3  Monitor     75        9     2       3    2   ABC
8       4      CPU     55        2     2       4    1   DEF

In [42]:
def faturamento_por_produto(x):
    return (x['price'] * x['qty']).sum()

print(prod_vendidos.groupby('product').agg({'price':'mean', 'qty':'sum'}))

pd.DataFrame(prod_vendidos.groupby('product').apply(faturamento_por_produto))

         price  qty
product
CPU       55.0    1
Monitor   75.0   12
RAM       90.0    7

           0
product
CPU       55
Monitor  900
RAM      630

In [43]:
# outra forma seria criando uma coluna faturamento simples e depois aplicando o agg de faturamento:sum

prod_vendidos['faturamento'] = prod_vendidos['price'] * prod_vendidos['qty']
prod_vendidos.head(15)

   p_id_x  product  price  sale_id  c_id  p_id_y  qty store  faturamento
0       2      RAM     90        4     4       2    2   DEF          180
1       2      RAM     90        7     2       2    3   ABC          270
2       2      RAM     90        8     3       2    2   DEF          180
3       3  Monitor     75        1     2       3    2   ABC          150
4       3  Monitor     75        3     1       3    3   ABC          225
5       3  Monitor     75        5     2       3    3   ABC          225
6       3  Monitor     75        6     3       3    2   DEF          150
7       3  Monitor     75        9     2       3    2   ABC          150
8       4      CPU     55        2     2       4    1   DEF           55

In [44]:
prod_vendidos.groupby('product').agg({'price':'mean', 'qty':'sum', 'faturamento':'sum'})

         price  qty  faturamento
product
CPU       55.0    1           55
Monitor   75.0   12          900
RAM       90.0    7          630

e) Liste a quantidade vendida de cada produto por loja

In [53]:
prod_vendidos.groupby(['store', 'product']).agg({'qty':'sum'})

               qty
store product
ABC   Monitor   10
      RAM        3
DEF   CPU        1
      Monitor    2
      RAM        4

f) Qual loja teve maior faturamento?

In [48]:
prod_vendidos.groupby('store').agg({'faturamento': 'sum'})

       faturamento
store
ABC           1020
DEF            565

g) Qual produto foi o mais vendido?

In [47]:
prod_vendidos.groupby(['product'])[['qty']].sum()

         qty
product
CPU        1
Monitor   12
RAM        7

In [10]:
pd.__version__

'1.3.2'