# Aula 5 - pandas

Na aula de hoje, vamos explorar os seguintes tópicos em Python:

- 1) Criar tabelas dinâmicas e fazer reshape do df (Melt, pivot, pivot_table)
- 2) Transformação de Dados (cut, qcut, get_dummies)
- 3) Utilidades Extras (multiindex to singleindex, combine_first)
_______

### Objetivos

Apresentar como criar tabelas dinâmicas, como fazer transformações em dados contínuos e categóricos e aprender como trabalhar com multiindex

____
____
____

In [2]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\carol\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\carol\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: numpy>=1.15 in c:\users\carol\anaconda3\lib\site-packages (from matplotlib) (1.19.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\carol\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\carol\anaconda3\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\carol\anaconda3\lib\site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: pillow>=6.2.0 in c:\users\carol\anaconda3\lib\site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\carol\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: six in c:\users\carol\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [151]:
df = pd.read_csv("data/titanic.csv")

In [3]:
df.head(15)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S

In [152]:
df.drop(['PassengerId','Ticket','Name'],inplace=True,axis=1)

In [5]:
df.head(15)

    Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0          0       3    male  22.0      1      0   7.2500   NaN        S
1          1       1  female  38.0      1      0  71.2833   C85        C
2          1       3  female  26.0      0      0   7.9250   NaN        S
3          1       1  female  35.0      1      0  53.1000  C123        S
4          0       3    male  35.0      0      0   8.0500   NaN        S
5          0       3    male   NaN      0      0   8.4583   NaN        Q
6          0       1    male  54.0      0      0  51.8625   E46        S
7          0       3    male   2.0      3      1  21.0750   NaN        S
8          1       3  female  27.0      0      2  11.1333   NaN        S
9          1       2  female  14.0      1      0  30.0708   NaN        C
10         1       3  female   4.0      1      1  16.7000    G6        S
11         1       1  female  58.0      0      0  26.5500  C103        S
12         0       3    male  20.0      0      0   8.0500   NaN        S
13         0       3    male  39.0      1      5  31.2750   NaN        S
14         0       3  female  14.0      0      0   7.8542   NaN        S

## Construindo uma Tabela Dinâmica usando Pandas

É hora de construir uma tabela dinâmica em Python usando a incrível biblioteca Pandas! Exploraremos as diferentes facetas de uma tabela dinâmica neste artigo e construiremos uma tabela dinâmica incrível e flexível a partir do zero.


    * pivot_table requer um dado e um parâmetro de índice
    * data é o dataframe do Pandas que você passa para a função
    * índice é o recurso que permite agrupar seus dados. O recurso de índice aparecerá como um índice na tabela resultante

In [153]:
# index único
table = pd.pivot_table(data=df, index=['Sex'], aggfunc=['sum','mean'])
table

             sum                                               mean  \
             Age        Fare Parch Pclass SibSp Survived        Age
Sex
female   7286.00  13966.6628   204    678   218      233  27.915709
male    13919.17  14727.2865   136   1379   248      109  30.726645


             Fare     Parch    Pclass     SibSp  Survived
Sex
female  44.479818  0.649682  2.159236  0.694268  0.742038
male    25.523893  0.235702  2.389948  0.429809  0.188908

In [7]:
# múltiplos indexes
table = pd.pivot_table(df, index=['Sex','Pclass'])
table

                     Age        Fare     Parch     SibSp  Survived
Sex    Pclass
female 1       34.611765  106.125798  0.457447  0.553191  0.968085
       2       28.722973   21.970121  0.605263  0.486842  0.921053
       3       21.750000   16.118810  0.798611  0.895833  0.500000
male   1       41.281386   67.226127  0.278689  0.311475  0.368852
       2       30.740707   19.741782  0.222222  0.342593  0.157407
       3       26.507589   12.661633  0.224784  0.498559  0.135447

### Função de agregação
Por padrão o `.pivot_table()` utiliza o `np.mean()` como função de agragação, mas podemos utilizar diferentes funções de agregação para diferentes colunas. Para isso, precisamos de um dicionário como entrada para o parâmetro aggfunc com o nome da coluna como chave e a função agregada como o valor. <br>
Vamos criar uma pivot table calculando a média de 'Age' e a soma para o 'Survived':

In [160]:
# diferentes funções de agregação
table = pd.pivot_table(df, 
                       index=['Sex','Pclass'], 
                       aggfunc={'Age':['mean', 'sum'], 'Survived':'sum'})
table

                     Age          Survived
                    mean      sum      sum
Sex    Pclass
female 1       34.611765  2942.00       91
       2       28.722973  2125.50       70
       3       21.750000  2218.50       72
male   1       41.281386  4169.42       45
       2       30.740707  3043.33       17
       3       26.507589  6706.42       47

Qual a diferença entre esse pivot_table e um groupby?

In [9]:
df.groupby(['Sex','Pclass']).agg({'Age':"mean",'Survived':sum})

                     Age  Survived
Sex    Pclass
female 1       34.611765        91
       2       28.722973        70
       3       21.750000        72
male   1       41.281386        45
       2       30.740707        17
       3       26.507589        47

Para ficar mais parecido à tabela dinâmica do excel podemos indicar um dos index para ser visualizado como coluna e adicionar os totais de colunas e índices:

In [158]:
table = pd.pivot_table(df,
                       index=['Sex'], #1º coluna de agrupamento que vai vir como índice
                       columns=['Pclass'], #Segunda coluna de agrupamento que vai vir como coluna
                       values=['Survived'], #Coluna que quero pegar os valores
                       aggfunc=['sum', 'mean'],
                       margins=1) #All
table
#Por exemplo o All com female faz a probabilidade de todas as mulheres (sem considerar Pclass) terem sobrevivido

            sum                    mean
       Survived                Survived
Pclass        1   2    3  All         1         2         3       All
Sex
female       91  70   72  233  0.968085  0.921053  0.500000  0.742038
male         45  17   47  109  0.368852  0.157407  0.135447  0.188908
All         136  87  119  342  0.629630  0.472826  0.242363  0.383838

Formatando nossa saída

In [32]:
(table_prob*100).style.format('{0:,.1f}%')

O `pd.pivot_table()` nos permite passar vários parâmetros úteis: <br>
pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False, sort=True) <br>
Segue a mesma ideia de `pd.unstack()`.

## Desfazendo uma tabela dinâmica
Para fazer um unpivoting utilizamos o `pd.melt()`. Esse método é utilizado quando queremos que uma ou mais colunas se tornem colunas de identificadores. Segue a mesma ideia de `pd.stack()`. As colunas que vamos dissolver são definidas por `id_vars` e `value_vars`.

Parâmetros: <br>
pandas.melt(frame, id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None, ignore_index=True)


   * __frame__: DataFrame <br>
   * __id_vars__: Colunas para serem usadas como categorias. São as colunas que você quer manter do jeito que estão. <br> 
   * __value_vars__: Colunas para o unpivot - para sairem do formato largo para longo (wide to long). Se não especificada, usa todas as colunas que não estão em id_vars. <br> 
   * __var_name__: Nome para a nova coluna de variáveis categóricas. <br>
   * __value_name__: Nome para ser utilizado na coluna de valores. <br>
   * __col_level__: Se as colunas são MultiIndex.<br>

In [43]:
Vamos simplificar nossa tabela de probabilidades eliminando a coluna e linha com os totais, resetando o index e eliminando o multi-index do nome das colunas renomeando-as.

           Sex  Survived
Pclass                 1         2         3
0       female  0.968085  0.921053  0.500000
1         male  0.368852  0.157407  0.135447

In [33]:
table_prob

        Survived
Pclass         1         2         3       All
Sex
female  0.968085  0.921053  0.500000  0.742038
male    0.368852  0.157407  0.135447  0.188908
All     0.629630  0.472826  0.242363  0.383838

In [34]:
table_prob = table_prob.drop(('Survived', 'All'), axis=1).drop('All').reset_index()
table_prob

           Sex  Survived
Pclass                 1         2         3
0       female  0.968085  0.921053  0.500000
1         male  0.368852  0.157407  0.135447

In [35]:
table_prob.columns = ['Sex', 1, 2, 3]
table_prob

      Sex         1         2         3
0  female  0.968085  0.921053  0.500000
1    male  0.368852  0.157407  0.135447

Observe o resultado final do nosso df ao utilizar o método `pd.melt()`:

In [163]:
table_prob = pd.DataFrame([["female", 0.968085, 0.921053, 0.500000], ["male", 0.368852, 0.157407, 0.135447]], columns=["Sex", 1, 2, 3])
table_prob

      Sex         1         2         3
0  female  0.968085  0.921053  0.500000
1    male  0.368852  0.157407  0.135447

In [169]:
pd.melt(table_prob,
       id_vars=['Sex'])

      Sex variable     value
0  female        1  0.968085
1    male        1  0.368852
2  female        2  0.921053
3    male        2  0.157407
4  female        3  0.500000
5    male        3  0.135447

In [ ]:
pd.melt(table_prob,
       id_vars=['Sex'])

Ele converteu as distintas colunas de Pclass em uma coluna com a categoria da classe e outra com seu valor. <br>
Para facilitar o entendimento das novas colunas podemos renomea-las:

In [37]:
pd.melt(table_prob,
       id_vars=['Sex'],
       var_name='Class_melt',
       value_name='porc_of_survived')

      Sex Class_melt  porc_of_survived
0  female          1          0.968085
1    male          1          0.368852
2  female          2          0.921053
3    male          2          0.157407
4  female          3          0.500000
5    male          3          0.135447

## Transformação de dados

### pd.cut()
O método `pd.cut()` ordena os dados, separa em bins e computa qual grupo cada linha do df pertence. O `pd.cut()` escolherá os bins para serem espaçados uniformemente de acordo com os próprios valores e não com a frequência desses valores.  <br>
Ele é muito utilizado para transformar variáveis contínuas em categóricas. Por exemplo, podemos converter o valor númerico da idade em grupos de criança, jovem, adulto e idoso.
<br><br>
<a href='https://pandas.pydata.org/docs/reference/api/pandas.cut.html'>Parâmetros:</a> <br>
pandas.cut(x, bins, right=True, labels=None, retbins=False, precision=3, include_lowest=False, duplicates='raise', ordered=True)

Ao informar quantidade de grupos o pd.cut() escolhe os bins com o mesmo tamanho de janela :

In [38]:
df['cut_bins'] = pd.cut(df.Age, 4)
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,cut_bins
0,0,3,male,22.0,1,0,7.2500,NaN,S,"(20.315, 40.21]"
1,1,1,female,38.0,1,0,71.2833,C85,C,"(20.315, 40.21]"
2,1,3,female,26.0,0,0,7.9250,NaN,S,"(20.315, 40.21]"
3,1,1,female,35.0,1,0,53.1000,C123,S,"(20.315, 40.21]"
4,0,3,male,35.0,0,0,8.0500,NaN,S,"(20.315, 40.21]"

Podemos passar o nome dos grupos e transformar a variável numérica diretamente em categórica

In [39]:
df['cut_classes'] = pd.cut(df.Age, 4, labels=["jovens", "adultos", "meia-idade", "idosos"])
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,cut_bins,cut_classes
0,0,3,male,22.0,1,0,7.2500,NaN,S,"(20.315, 40.21]",adultos
1,1,1,female,38.0,1,0,71.2833,C85,C,"(20.315, 40.21]",adultos
2,1,3,female,26.0,0,0,7.9250,NaN,S,"(20.315, 40.21]",adultos
3,1,1,female,35.0,1,0,53.1000,C123,S,"(20.315, 40.21]",adultos
4,0,3,male,35.0,0,0,8.0500,NaN,S,"(20.315, 40.21]",adultos

In [40]:
df.cut_bins.unique()

[(20.315, 40.21], NaN, (40.21, 60.105], (0.34, 20.315], (60.105, 80.0]]
Categories (4, interval[float64]): [(0.34, 20.315] < (20.315, 40.21] < (40.21, 60.105] < (60.105, 80.0]]

In [41]:
df.cut_classes.value_counts()

adultos       385
jovens        179
meia-idade    128
idosos         22
Name: cut_classes, dtype: int64

In [42]:
df.cut_bins.value_counts()

(20.315, 40.21]    385
(0.34, 20.315]     179
(40.21, 60.105]    128
(60.105, 80.0]      22
Name: cut_bins, dtype: int64

Também podemos passar uma lista com os valores de início e fim dos bins:

In [43]:
pd.cut(df.Age, [0,20,60,80]).unique()

[(20.0, 60.0], NaN, (0.0, 20.0], (60.0, 80.0]]
Categories (3, interval[int64]): [(0, 20] < (20, 60] < (60, 80]]

In [44]:
df.Age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

Repare que o ú

### pd.qcut()
O `pd.qcut()` é utilizado quando queremos discretizar nossos dados em quantis. Ao informar quantidade de grupos o `pd.qcut()` escolhe os bins tal que tenhamos a mesma quantidade de valores em cada grupo.

#### `pd.qcut()` x `pd.qcut()`
   * O comando `pd.cut()` cria **caixas equidistantes**, mas a **frequência** das amostras é **desigual** em cada caixa
   * O comando `pd.qcut()` cria **caixas de tamanhos desiguais**, mas a **frequência** das amostras é **igual** em cada caixa.

<br>
Parâmetros:<br>
pandas.qcut(x, q, labels=None, retbins=False, precision=3, duplicates='raise')

In [45]:
pd.cut(df.Age, 4).value_counts()

(20.315, 40.21]    385
(0.34, 20.315]     179
(40.21, 60.105]    128
(60.105, 80.0]      22
Name: Age, dtype: int64

In [47]:
pd.qcut(df.Age, 4).value_counts()

(20.125, 28.0]     183
(0.419, 20.125]    179
(38.0, 80.0]       177
(28.0, 38.0]       175
Name: Age, dtype: int64

In [52]:
pd.qcut(df.Age, 4).value_counts()/df.Age.notnull().sum()
#df.Age.notnull().sum() é o total de pessoas com Age não nulo
#Fazendo essa divisão obtenho o quanto cada grupo representa do total

(20.125, 28.0]     0.256303
(0.419, 20.125]    0.250700
(38.0, 80.0]       0.247899
(28.0, 38.0]       0.245098
Name: Age, dtype: float64

<a href='https://towardsdatascience.com/discretisation-using-decision-trees-21910483fa4b'>Discretização utilizando decision trees</a>

### pd.get_dummies()

#### variáveis categóricas
Variáveis categóricas são aquelas que representam grupos ou classes dentro dos nossos dados. Elas podem ser de dois tipos:
* ordinais: possuem uma ordem que tem um sentido. Por exemplo, em rendimentos poderíamos ter: classe alta > classe média > classe baixa  
* nominais: não possuem uma ordem válida. Por exemplo: sexo e CEP.

<img src="variaveis_categoricas.jpeg" style="width: 500px">

Dummies são quaisquer variáveis cujos valores são 1 ou 0 para cada observação. O método `pd.get_dummies()` converte as variáveis categóricas em numéricas separando cada categoria em uma coluna única.
<br>
<br>
<a href="https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html">Parâmetros:</a> <br>
pandas.get_dummies(data, prefix=None, prefix_sep='_', dummy_na=False, columns=None, sparse=False, drop_first=False, dtype=None)

In [ ]:
#Muitos modelos não aceitam variáveis categóricas como string, daí a necessidade de transformar em numérica
#Ordinais vc precisa garantir a ordem na transformação dos seus dados, daí vc faz isso na mão, cria um dicionário, classe alta: 1, classe média: 2, classe baixa: 3 e dá um aplly replace
#Ordinal deixa td na mesma coluna p modelo entender que aquilo tem uma ordem e que ela é ipc

In [54]:
pd.get_dummies(df, columns=['Sex', 'cut_classes'], drop_first=True)
#Se vc não passar quais colunas vc quer converter ele vai converter todas as categóricas
#Se não for uma categória ordinal e ao invés de vc ter dummies vc colocar 1, 2, 3 o modelo vai entender que aquilo tem uma ordem quando na verdade nao tem

,Survived,Pclass,Age,SibSp,Parch,Fare,Cabin,Embarked,cut_bins,Sex_male,cut_classes_adultos,cut_classes_meia-idade,cut_classes_idosos
0,0,3,22.0,1,0,7.2500,NaN,S,"(20.315, 40.21]",1,1,0,0
1,1,1,38.0,1,0,71.2833,C85,C,"(20.315, 40.21]",0,1,0,0
2,1,3,26.0,0,0,7.9250,NaN,S,"(20.315, 40.21]",0,1,0,0
3,1,1,35.0,1,0,53.1000,C123,S,"(20.315, 40.21]",0,1,0,0
4,0,3,35.0,0,0,8.0500,NaN,S,"(20.315, 40.21]",1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,13.0000,NaN,S,"(20.315, 40.21]",1,1,0,0
887,1,1,19.0,0,0,30.0000,B42,S,"(0.34, 20.315]",0,0,0,0
888,0,3,NaN,1,2,23.4500,NaN,S,NaN,0,0,0,0
889,1,1,26.0,0,0,30.0000,C148,C,"(20.315, 40.21]",1,1,0,0
890,0,3,32.0,0,0,7.7500,NaN,Q,"(20.315, 40.21]",1,1,0,0

In [ ]:
#Quando vc acaba criando muitas colunas com os dummies, vc tem muitos zeros no seu df e pode acabar piorando o modelo
#Daí categorias mais comuns vc deixa normal e as outras vc coloca em "outros"
#Isso p/ não deixar que o seu df tenha uma quantidade gigantesca de colunas, a não ser q tenha muitas linhas tipo 1000:1000000

In [55]:
pd.get_dummies(pd.cut(df.Age, 4))

     (0.34, 20.315]  (20.315, 40.21]  (40.21, 60.105]  (60.105, 80.0]
0                 0                1                0               0
1                 0                1                0               0
2                 0                1                0               0
3                 0                1                0               0
4                 0                1                0               0
..              ...              ...              ...             ...
886               0                1                0               0
887               1                0                0               0
888               0                0                0               0
889               0                1                0               0
890               0                1                0               0

[891 rows x 4 columns]

## Multi-index

In [57]:
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,cut_bins,cut_classes
0,0,3,male,22.0,1,0,7.2500,NaN,S,"(20.315, 40.21]",adultos
1,1,1,female,38.0,1,0,71.2833,C85,C,"(20.315, 40.21]",adultos
2,1,3,female,26.0,0,0,7.9250,NaN,S,"(20.315, 40.21]",adultos
3,1,1,female,35.0,1,0,53.1000,C123,S,"(20.315, 40.21]",adultos
4,0,3,male,35.0,0,0,8.0500,NaN,S,"(20.315, 40.21]",adultos

Para setar indexes use o método `set_index()` indicando quais as colunas quer utilizar como uma lista.

In [58]:
df_row_index = df.set_index(["Pclass", 'Sex'])
df_row_index

,,Survived,Age,SibSp,Parch,Fare,Cabin,Embarked,cut_bins,cut_classes
Pclass,Sex,,,,,,,,,
3,male,0,22.0,1,0,7.2500,NaN,S,"(20.315, 40.21]",adultos
1,female,1,38.0,1,0,71.2833,C85,C,"(20.315, 40.21]",adultos
3,female,1,26.0,0,0,7.9250,NaN,S,"(20.315, 40.21]",adultos
1,female,1,35.0,1,0,53.1000,C123,S,"(20.315, 40.21]",adultos
3,male,0,35.0,0,0,8.0500,NaN,S,"(20.315, 40.21]",adultos
...,...,...,...,...,...,...,...,...,...,...
2,male,0,27.0,0,0,13.0000,NaN,S,"(20.315, 40.21]",adultos
1,female,1,19.0,0,0,30.0000,B42,S,"(0.34, 20.315]",jovens
3,female,0,NaN,1,2,23.4500,NaN,S,NaN,NaN
1,male,1,26.0,0,0,30.0000,C148,C,"(20.315, 40.21]",adultos
3,male,0,32.0,0,0,7.7500,NaN,Q,"(20.315, 40.21]",adultos

In [59]:
df_row_index.index

MultiIndex([(3,   'male'),
            (1, 'female'),
            (3, 'female'),
            (1, 'female'),
            (3,   'male'),
            (3,   'male'),
            (1,   'male'),
            (3,   'male'),
            (3, 'female'),
            (2, 'female'),
            ...
            (3,   'male'),
            (3, 'female'),
            (2,   'male'),
            (3,   'male'),
            (3, 'female'),
            (2,   'male'),
            (1, 'female'),
            (3, 'female'),
            (1,   'male'),
            (3,   'male')],
           names=['Pclass', 'Sex'], length=891)

Para acessar elementos:

In [60]:
df_row_index.loc[(3, 'female')]

<ipython-input-60-fc25c1c5e7c2>:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_row_index.loc[(3, 'female')]

               Survived   Age  SibSp  Parch     Fare Cabin Embarked  \
Pclass Sex
3      female         1  26.0      0      0   7.9250   NaN        S
       female         1  27.0      0      2  11.1333   NaN        S
       female         1   4.0      1      1  16.7000    G6        S
       female         0  14.0      0      0   7.8542   NaN        S
       female         0  31.0      1      0  18.0000   NaN        S
...                 ...   ...    ...    ...      ...   ...      ...
       female         0   NaN      8      2  69.5500   NaN        S
       female         1  15.0      0      0   7.2250   NaN        C
       female         0  22.0      0      0  10.5167   NaN        S
       female         0  39.0      0      5  29.1250   NaN        Q
       female         0   NaN      1      2  23.4500   NaN        S

                      cut_bins cut_classes
Pclass Sex
3      female  (20.315, 40.21]     adultos
       female  (20.315, 40.21]     adultos
       female   (0.34, 20.315]      jovens
       female   (0.34, 20.315]      jovens
       female  (20.315, 40.21]     adultos
...                        ...         ...
       female              NaN         NaN
       female   (0.34, 20.315]      jovens
       female  (20.315, 40.21]     adultos
       female  (20.315, 40.21]     adultos
       female              NaN         NaN

[144 rows x 9 columns]

Para resetar apenas alguns index utilize o método `reset_index([list_columns])` passando uma lista com o nome das colunas como argumento.

In [61]:
df_row_index.reset_index(['Sex'])

,Sex,Survived,Age,SibSp,Parch,Fare,Cabin,Embarked,cut_bins,cut_classes
Pclass,,,,,,,,,,
3,male,0,22.0,1,0,7.2500,NaN,S,"(20.315, 40.21]",adultos
1,female,1,38.0,1,0,71.2833,C85,C,"(20.315, 40.21]",adultos
3,female,1,26.0,0,0,7.9250,NaN,S,"(20.315, 40.21]",adultos
1,female,1,35.0,1,0,53.1000,C123,S,"(20.315, 40.21]",adultos
3,male,0,35.0,0,0,8.0500,NaN,S,"(20.315, 40.21]",adultos
...,...,...,...,...,...,...,...,...,...,...
2,male,0,27.0,0,0,13.0000,NaN,S,"(20.315, 40.21]",adultos
1,female,1,19.0,0,0,30.0000,B42,S,"(0.34, 20.315]",jovens
3,female,0,NaN,1,2,23.4500,NaN,S,NaN,NaN
1,male,1,26.0,0,0,30.0000,C148,C,"(20.315, 40.21]",adultos
3,male,0,32.0,0,0,7.7500,NaN,Q,"(20.315, 40.21]",adultos

### Multi-index nas colunas

In [62]:
table

       Survived
Pclass        1   2    3  All
Sex
female       91  70   72  233
male         45  17   47  109
All         136  87  119  342

Acessando colunas:

In [63]:
table.columns

MultiIndex([('Survived',     1),
            ('Survived',     2),
            ('Survived',     3),
            ('Survived', 'All')],
           names=[None, 'Pclass'])

Como acessar uma coluna:

In [64]:
table[('Survived', 1)]

Sex
female     91
male       45
All       136
Name: (Survived, 1), dtype: int64

Slice usando multi-index

In [65]:
table.loc[:, ('Survived', 1):('Survived', 3)]

       Survived
Pclass        1   2    3
Sex
female       91  70   72
male         45  17   47
All         136  87  119

Para obter o nome das colunas de cada nível hierárquico

In [66]:
table

       Survived
Pclass        1   2    3  All
Sex
female       91  70   72  233
male         45  17   47  109
All         136  87  119  342

In [67]:
table.columns.get_level_values(0)

Index(['Survived', 'Survived', 'Survived', 'Survived'], dtype='object')

In [68]:
table.columns.get_level_values(1)

Index([1, 2, 3, 'All'], dtype='object', name='Pclass')

In [70]:
nivel_0 = table.columns.get_level_values(0)
nivel_1 = table.columns.get_level_values(1)

[j + '_' + str(nivel_1[i]) for i, j in enumerate(nivel_0)]
#enumerate traz (indice, valor)

['Survived_1', 'Survived_2', 'Survived_3', 'Survived_All']

## Exercícios

1. Baixe os dados de consumo de bebidas por país do <a href="https://www.kaggle.com/justmarkham/alcohol-consumption-by-country">kaggle</a> faça uma análise das informações utilizando os métodos que você já conhece e depois responda:

In [1]:
import pandas as pd

In [2]:
drinks = pd.read_csv("data/drinks.csv")
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [82]:
drinks.head(15)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America
6,Argentina,193,25,221,8.3,South America
7,Armenia,21,179,11,3.8,Europe
8,Australia,261,72,212,10.4,Oceania
9,Austria,279,75,191,9.7,Europe
10,Azerbaijan,21,46,5,1.3,Europe
11,Bahamas,122,176,51,6.3,North America
12,Bahrain,42,63,7,2.0,Asia
13,Bangladesh,0,0,0,0.0,Asia
14,Barbados,143,173,36,6.3,North America

In [83]:
drinks.tail(15)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
178,Tuvalu,6,41,9,1.0,Oceania
179,Uganda,45,9,0,8.3,Africa
180,Ukraine,206,237,45,8.9,Europe
181,United Arab Emirates,16,135,5,2.8,Asia
182,United Kingdom,219,126,195,10.4,Europe
183,Tanzania,36,6,1,5.7,Africa
184,USA,249,158,84,8.7,North America
185,Uruguay,115,35,220,6.6,South America
186,Uzbekistan,25,101,8,2.4,Asia
187,Vanuatu,21,18,11,0.9,Oceania
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [84]:
drinks.describe(include="all")

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
count,193,193.000000,193.000000,193.000000,193.000000,193
unique,193,NaN,NaN,NaN,NaN,6
top,Turkmenistan,NaN,NaN,NaN,NaN,Africa
freq,1,NaN,NaN,NaN,NaN,53
mean,NaN,106.160622,80.994819,49.450777,4.717098,NaN
std,NaN,101.143103,88.284312,79.697598,3.773298,NaN
min,NaN,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,20.000000,4.000000,1.000000,1.300000,NaN
50%,NaN,76.000000,56.000000,8.000000,4.200000,NaN
75%,NaN,188.000000,128.000000,59.000000,7.200000,NaN
max,NaN,376.000000,438.000000,370.000000,14.400000,NaN

In [78]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [77]:
drinks.isna().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

a. Encontre qual a bebida mais consumida em cada um dos países e a quantidade.

In [3]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [12]:
drinks.iloc[:, 1:5].idxmax(axis=1)

0        beer_servings
1      spirit_servings
2        beer_servings
3        wine_servings
4        beer_servings
            ...
188      beer_servings
189      beer_servings
190      beer_servings
191      beer_servings
192      beer_servings
Length: 193, dtype: object

In [4]:
drinks.max(axis=1)

0        0.0
1      132.0
2       25.0
3      312.0
4      217.0
       ...
188    333.0
189    111.0
190      6.0
191     32.0
192     64.0
Length: 193, dtype: float64

b. Crie um df cujas bebidas estejam agrupadas em uma mesma coluna.

In [13]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [28]:
pd.set_option('display.max_rows', 1000)

In [148]:
drinks.set_index(["country", "continent"])

,,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
country,continent,,,,
Afghanistan,Asia,0,0,0,0.0
Albania,Europe,89,132,54,4.9
Algeria,Africa,25,0,14,0.7
Andorra,Europe,245,138,312,12.4
Angola,Africa,217,57,45,5.9
Antigua & Barbuda,North America,102,128,45,4.9
Argentina,South America,193,25,221,8.3
Armenia,Europe,21,179,11,3.8
Australia,Oceania,261,72,212,10.4
Austria,Europe,279,75,191,9.7
Azerbaijan,Europe,21,46,5,1.3
Bahamas,North America,122,176,51,6.3
Bahrain,Asia,42,63,7,2.0
Bangladesh,Asia,0,0,0,0.0
Barbados,North America,143,173,36,6.3
Belarus,Europe,142,373,42,14.4
Belgium,Europe,295,84,212,10.5
Belize,North America,263,114,8,6.8
Benin,Africa,34,4,13,1.1
Bhutan,Asia,23,0,0,0.4
Bolivia,South America,167,41,8,3.8
Bosnia-Herzegovina,Europe,76,173,8,4.6
Botswana,Africa,173,35,35,5.4
Brazil,South America,245,145,16,7.2
Brunei,Asia,31,2,1,0.6
Bulgaria,Europe,231,252,94,10.3
Burkina Faso,Africa,25,7,7,4.3
Burundi,Africa,88,0,0,6.3
Cote d'Ivoire,Africa,37,1,7,4.0
Cabo Verde,Africa,144,56,16,4.0
Cambodia,Asia,57,65,1,2.2
Cameroon,Africa,147,1,4,5.8
Canada,North America,240,122,100,8.2
Central African Republic,Africa,17,2,1,1.8
Chad,Africa,15,1,1,0.4
Chile,South America,130,124,172,7.6
China,Asia,79,192,8,5.0
Colombia,South America,159,76,3,4.2
Comoros,Africa,1,3,1,0.1
Congo,Africa,76,1,9,1.7
Cook Islands,Oceania,0,254,74,5.9
Costa Rica,North America,149,87,11,4.4
Croatia,Europe,230,87,254,10.2
Cuba,North America,93,137,5,4.2
Cyprus,Europe,192,154,113,8.2
Czech Republic,Europe,361,170,134,11.8
North Korea,Asia,0,0,0,0.0
DR Congo,Africa,32,3,1,2.3
Denmark,Europe,224,81,278,10.4
Djibouti,Africa,15,44,3,1.1
Dominica,North America,52,286,26,6.6
Dominican Republic,North America,193,147,9,6.2
Ecuador,South America,162,74,3,4.2
Egypt,Africa,6,4,1,0.2
El Salvador,North America,52,69,2,2.2
Equatorial Guinea,Africa,92,0,233,5.8
Eritrea,Africa,18,0,0,0.5
Estonia,Europe,224,194,59,9.5
Ethiopia,Africa,20,3,0,0.7
Fiji,Oceania,77,35,1,2.0
Finland,Europe,263,133,97,10.0
France,Europe,127,151,370,11.8
Gabon,Africa,347,98,59,8.9
Gambia,Africa,8,0,1,2.4
Georgia,Europe,52,100,149,5.4
Germany,Europe,346,117,175,11.3
Ghana,Africa,31,3,10,1.8
Greece,Europe,133,112,218,8.3
Grenada,North America,199,438,28,11.9
Guatemala,North America,53,69,2,2.2
Guinea,Africa,9,0,2,0.2
Guinea-Bissau,Africa,28,31,21,2.5
Guyana,South America,93,302,1,7.1
Haiti,North America,1,326,1,5.9
Honduras,North America,69,98,2,3.0
Hungary,Europe,234,215,185,11.3
Iceland,Europe,233,61,78,6.6
India,Asia,9,114,0,2.2
Indonesia,Asia,5,1,0,0.1
Iran,Asia,0,0,0,0.0
Iraq,Asia,9,3,0,0.2
Ireland,Europe,313,118,165,11.4
Israel,Asia,63,69,9,2.5
Italy,Europe,85,42,237,6.5
Jamaica,North America,82,97,9,3.4
Japan,Asia,77,202,16,7.0
Jordan,Asia,6,21,1,0.5
Kazakhstan,Asia,124,246,12,6.8
Kenya,Africa,58,22,2,1.8
Kiribati,Oceania,21,34,1,1.0
Kuwait,Asia,0,0,0,0.0
Kyrgyzstan,Asia,31,97,6,2.4
Laos,Asia,62,0,123,6.2
Latvia,Europe,281,216,62,10.5
Lebanon,Asia,20,55,31,1.9
Lesotho,Africa,82,29,0,2.8
Liberia,Africa,19,152,2,3.1
Libya,Africa,0,0,0,0.0
Lithuania,Europe,343,244,56,12.9
Luxembourg,Europe,236,133,271,11.4
Madagascar,Africa,26,15,4,0.8
Malawi,Africa,8,11,1,1.5
Malaysia,Asia,13,4,0,0.3
Maldives,Asia,0,0,0,0.0
Mali,Africa,5,1,1,0.6
Malta,Europe,149,100,120,6.6
Marshall Islands,Oceania,0,0,0,0.0
Mauritania,Africa,0,0,0,0.0
Mauritius,Africa,98,31,18,2.6
Mexico,North America,238,68,5,5.5
Micronesia,Oceania,62,50,18,2.3
Monaco,Europe,0,0,0,0.0
Mongolia,Asia,77,189,8,4.9
Montenegro,Europe,31,114,128,4.9
Morocco,Africa,12,6,10,0.5
Mozambique,Africa,47,18,5,1.3
Myanmar,Asia,5,1,0,0.1
Namibia,Africa,376,3,1,6.8
Nauru,Oceania,49,0,8,1.0
Nepal,Asia,5,6,0,0.2
Netherlands,Europe,251,88,190,9.4
New Zealand,Oceania,203,79,175,9.3
Nicaragua,North America,78,118,1,3.5
Niger,Africa,3,2,1,0.1
Nigeria,Africa,42,5,2,9.1
Niue,Oceania,188,200,7,7.0
Norway,Europe,169,71,129,6.7
Oman,Asia,22,16,1,0.7
Pakistan,Asia,0,0,0,0.0
Palau,Oceania,306,63,23,6.9
Panama,North America,285,104,18,7.2
Papua New Guinea,Oceania,44,39,1,1.5
Paraguay,South America,213,117,74,7.3
Peru,South America,163,160,21,6.1
Philippines,Asia,71,186,1,4.6
Poland,Europe,343,215,56,10.9
Portugal,Europe,194,67,339,11.0
Qatar,Asia,1,42,7,0.9
South Korea,Asia,140,16,9,9.8
Moldova,Europe,109,226,18,6.3
Romania,Europe,297,122,167,10.4
Russian Federation,Asia,247,326,73,11.5
Rwanda,Africa,43,2,0,6.8
St. Kitts & Nevis,North America,194,205,32,7.7
St. Lucia,North America,171,315,71,10.1
St. Vincent & the Grenadines,North America,120,221,11,6.3
Samoa,Oceania,105,18,24,2.6
San Marino,Europe,0,0,0,0.0
Sao Tome & Principe,Africa,56,38,140,4.2
Saudi Arabia,Asia,0,5,0,0.1
Senegal,Africa,9,1,7,0.3
Serbia,Europe,283,131,127,9.6
Seychelles,Africa,157,25,51,4.1
Sierra Leone,Africa,25,3,2,6.7
Singapore,Asia,60,12,11,1.5
Slovakia,Europe,196,293,116,11.4
Slovenia,Europe,270,51,276,10.6
Solomon Islands,Oceania,56,11,1,1.2
Somalia,Africa,0,0,0,0.0
South Africa,Africa,225,76,81,8.2
Spain,Europe,284,157,112,10.0
Sri Lanka,Asia,16,104,0,2.2
Sudan,Africa,8,13,0,1.7
Suriname,South America,128,178,7,5.6
Swaziland,Africa,90,2,2,4.7
Sweden,Europe,152,60,186,7.2
Switzerland,Europe,185,100,280,10.2
Syria,Asia,5,35,16,1.0
Tajikistan,Asia,2,15,0,0.3
Thailand,Asia,99,258,1,6.4
Macedonia,Europe,106,27,86,3.9
Timor-Leste,Asia,1,1,4,0.1
Togo,Africa,36,2,19,1.3
Tonga,Oceania,36,21,5,1.1
Trinidad & Tobago,North America,197,156,7,6.4
Tunisia,Africa,51,3,20,1.3
Turkey,Asia,51,22,7,1.4
Turkmenistan,Asia,19,71,32,2.2
Tuvalu,Oceania,6,41,9,1.0
Uganda,Africa,45,9,0,8.3
Ukraine,Europe,206,237,45,8.9
United Arab Emirates,Asia,16,135,5,2.8
United Kingdom,Europe,219,126,195,10.4
Tanzania,Africa,36,6,1,5.7
USA,North America,249,158,84,8.7
Uruguay,South America,115,35,220,6.6
Uzbekistan,Asia,25,101,8,2.4
Vanuatu,Oceania,21,18,11,0.9
Venezuela,South America,333,100,3,7.7
Vietnam,Asia,111,2,1,2.0
Yemen,Asia,6,0,0,0.1
Zambia,Africa,32,19,4,2.5
Zimbabwe,Africa,64,18,4,4.7

In [66]:
melt = pd.melt(drinks.set_index(["country", "continent"]), ignore_index=False)
melt

,,variable,value
country,continent,,
Afghanistan,Asia,beer_servings,0.0
Albania,Europe,beer_servings,89.0
Algeria,Africa,beer_servings,25.0
Andorra,Europe,beer_servings,245.0
Angola,Africa,beer_servings,217.0
Antigua & Barbuda,North America,beer_servings,102.0
Argentina,South America,beer_servings,193.0
Armenia,Europe,beer_servings,21.0
Australia,Oceania,beer_servings,261.0
Austria,Europe,beer_servings,279.0
Azerbaijan,Europe,beer_servings,21.0
Bahamas,North America,beer_servings,122.0
Bahrain,Asia,beer_servings,42.0
Bangladesh,Asia,beer_servings,0.0
Barbados,North America,beer_servings,143.0
Belarus,Europe,beer_servings,142.0
Belgium,Europe,beer_servings,295.0
Belize,North America,beer_servings,263.0
Benin,Africa,beer_servings,34.0
Bhutan,Asia,beer_servings,23.0
Bolivia,South America,beer_servings,167.0
Bosnia-Herzegovina,Europe,beer_servings,76.0
Botswana,Africa,beer_servings,173.0
Brazil,South America,beer_servings,245.0
Brunei,Asia,beer_servings,31.0
Bulgaria,Europe,beer_servings,231.0
Burkina Faso,Africa,beer_servings,25.0
Burundi,Africa,beer_servings,88.0
Cote d'Ivoire,Africa,beer_servings,37.0
Cabo Verde,Africa,beer_servings,144.0
Cambodia,Asia,beer_servings,57.0
Cameroon,Africa,beer_servings,147.0
Canada,North America,beer_servings,240.0
Central African Republic,Africa,beer_servings,17.0
Chad,Africa,beer_servings,15.0
Chile,South America,beer_servings,130.0
China,Asia,beer_servings,79.0
Colombia,South America,beer_servings,159.0
Comoros,Africa,beer_servings,1.0
Congo,Africa,beer_servings,76.0
Cook Islands,Oceania,beer_servings,0.0
Costa Rica,North America,beer_servings,149.0
Croatia,Europe,beer_servings,230.0
Cuba,North America,beer_servings,93.0
Cyprus,Europe,beer_servings,192.0
Czech Republic,Europe,beer_servings,361.0
North Korea,Asia,beer_servings,0.0
DR Congo,Africa,beer_servings,32.0
Denmark,Europe,beer_servings,224.0
Djibouti,Africa,beer_servings,15.0
Dominica,North America,beer_servings,52.0
Dominican Republic,North America,beer_servings,193.0
Ecuador,South America,beer_servings,162.0
Egypt,Africa,beer_servings,6.0
El Salvador,North America,beer_servings,52.0
Equatorial Guinea,Africa,beer_servings,92.0
Eritrea,Africa,beer_servings,18.0
Estonia,Europe,beer_servings,224.0
Ethiopia,Africa,beer_servings,20.0
Fiji,Oceania,beer_servings,77.0
Finland,Europe,beer_servings,263.0
France,Europe,beer_servings,127.0
Gabon,Africa,beer_servings,347.0
Gambia,Africa,beer_servings,8.0
Georgia,Europe,beer_servings,52.0
Germany,Europe,beer_servings,346.0
Ghana,Africa,beer_servings,31.0
Greece,Europe,beer_servings,133.0
Grenada,North America,beer_servings,199.0
Guatemala,North America,beer_servings,53.0
Guinea,Africa,beer_servings,9.0
Guinea-Bissau,Africa,beer_servings,28.0
Guyana,South America,beer_servings,93.0
Haiti,North America,beer_servings,1.0
Honduras,North America,beer_servings,69.0
Hungary,Europe,beer_servings,234.0
Iceland,Europe,beer_servings,233.0
India,Asia,beer_servings,9.0
Indonesia,Asia,beer_servings,5.0
Iran,Asia,beer_servings,0.0
Iraq,Asia,beer_servings,9.0
Ireland,Europe,beer_servings,313.0
Israel,Asia,beer_servings,63.0
Italy,Europe,beer_servings,85.0
Jamaica,North America,beer_servings,82.0
Japan,Asia,beer_servings,77.0
Jordan,Asia,beer_servings,6.0
Kazakhstan,Asia,beer_servings,124.0
Kenya,Africa,beer_servings,58.0
Kiribati,Oceania,beer_servings,21.0
Kuwait,Asia,beer_servings,0.0
Kyrgyzstan,Asia,beer_servings,31.0
Laos,Asia,beer_servings,62.0
Latvia,Europe,beer_servings,281.0
Lebanon,Asia,beer_servings,20.0
Lesotho,Africa,beer_servings,82.0
Liberia,Africa,beer_servings,19.0
Libya,Africa,beer_servings,0.0
Lithuania,Europe,beer_servings,343.0
Luxembourg,Europe,beer_servings,236.0
Madagascar,Africa,beer_servings,26.0
Malawi,Africa,beer_servings,8.0
Malaysia,Asia,beer_servings,13.0
Maldives,Asia,beer_servings,0.0
Mali,Africa,beer_servings,5.0
Malta,Europe,beer_servings,149.0
Marshall Islands,Oceania,beer_servings,0.0
Mauritania,Africa,beer_servings,0.0
Mauritius,Africa,beer_servings,98.0
Mexico,North America,beer_servings,238.0
Micronesia,Oceania,beer_servings,62.0
Monaco,Europe,beer_servings,0.0
Mongolia,Asia,beer_servings,77.0
Montenegro,Europe,beer_servings,31.0
Morocco,Africa,beer_servings,12.0
Mozambique,Africa,beer_servings,47.0
Myanmar,Asia,beer_servings,5.0
Namibia,Africa,beer_servings,376.0
Nauru,Oceania,beer_servings,49.0
Nepal,Asia,beer_servings,5.0
Netherlands,Europe,beer_servings,251.0
New Zealand,Oceania,beer_servings,203.0
Nicaragua,North America,beer_servings,78.0
Niger,Africa,beer_servings,3.0
Nigeria,Africa,beer_servings,42.0
Niue,Oceania,beer_servings,188.0
Norway,Europe,beer_servings,169.0
Oman,Asia,beer_servings,22.0
Pakistan,Asia,beer_servings,0.0
Palau,Oceania,beer_servings,306.0
Panama,North America,beer_servings,285.0
Papua New Guinea,Oceania,beer_servings,44.0
Paraguay,South America,beer_servings,213.0
Peru,South America,beer_servings,163.0
Philippines,Asia,beer_servings,71.0
Poland,Europe,beer_servings,343.0
Portugal,Europe,beer_servings,194.0
Qatar,Asia,beer_servings,1.0
South Korea,Asia,beer_servings,140.0
Moldova,Europe,beer_servings,109.0
Romania,Europe,beer_servings,297.0
Russian Federation,Asia,beer_servings,247.0
Rwanda,Africa,beer_servings,43.0
St. Kitts & Nevis,North America,beer_servings,194.0
St. Lucia,North America,beer_servings,171.0
St. Vincent & the Grenadines,North America,beer_servings,120.0
Samoa,Oceania,beer_servings,105.0
San Marino,Europe,beer_servings,0.0
Sao Tome & Principe,Africa,beer_servings,56.0
Saudi Arabia,Asia,beer_servings,0.0
Senegal,Africa,beer_servings,9.0
Serbia,Europe,beer_servings,283.0
Seychelles,Africa,beer_servings,157.0
Sierra Leone,Africa,beer_servings,25.0
Singapore,Asia,beer_servings,60.0
Slovakia,Europe,beer_servings,196.0
Slovenia,Europe,beer_servings,270.0
Solomon Islands,Oceania,beer_servings,56.0
Somalia,Africa,beer_servings,0.0
South Africa,Africa,beer_servings,225.0
Spain,Europe,beer_servings,284.0
Sri Lanka,Asia,beer_servings,16.0
Sudan,Africa,beer_servings,8.0
Suriname,South America,beer_servings,128.0
Swaziland,Africa,beer_servings,90.0
Sweden,Europe,beer_servings,152.0
Switzerland,Europe,beer_servings,185.0
Syria,Asia,beer_servings,5.0
Tajikistan,Asia,beer_servings,2.0
Thailand,Asia,beer_servings,99.0
Macedonia,Europe,beer_servings,106.0
Timor-Leste,Asia,beer_servings,1.0
Togo,Africa,beer_servings,36.0
Tonga,Oceania,beer_servings,36.0
Trinidad & Tobago,North America,beer_servings,197.0
Tunisia,Africa,beer_servings,51.0
Turkey,Asia,beer_servings,51.0
Turkmenistan,Asia,beer_servings,19.0
Tuvalu,Oceania,beer_servings,6.0
Uganda,Africa,beer_servings,45.0
Ukraine,Europe,beer_servings,206.0
United Arab Emirates,Asia,beer_servings,16.0
United Kingdom,Europe,beer_servings,219.0
Tanzania,Africa,beer_servings,36.0
USA,North America,beer_servings,249.0
Uruguay,South America,beer_servings,115.0
Uzbekistan,Asia,beer_servings,25.0
Vanuatu,Oceania,beer_servings,21.0
Venezuela,South America,beer_servings,333.0
Vietnam,Asia,beer_servings,111.0
Yemen,Asia,beer_servings,6.0
Zambia,Africa,beer_servings,32.0
Zimbabwe,Africa,beer_servings,64.0
Afghanistan,Asia,spirit_servings,0.0
Albania,Europe,spirit_servings,132.0
Algeria,Africa,spirit_servings,0.0
Andorra,Europe,spirit_servings,138.0
Angola,Africa,spirit_servings,57.0
Antigua & Barbuda,North America,spirit_servings,128.0
Argentina,South America,spirit_servings,25.0
Armenia,Europe,spirit_servings,179.0
Australia,Oceania,spirit_servings,72.0
Austria,Europe,spirit_servings,75.0
Azerbaijan,Europe,spirit_servings,46.0
Bahamas,North America,spirit_servings,176.0
Bahrain,Asia,spirit_servings,63.0
Bangladesh,Asia,spirit_servings,0.0
Barbados,North America,spirit_servings,173.0
Belarus,Europe,spirit_servings,373.0
Belgium,Europe,spirit_servings,84.0
Belize,North America,spirit_servings,114.0
Benin,Africa,spirit_servings,4.0
Bhutan,Asia,spirit_servings,0.0
Bolivia,South America,spirit_servings,41.0
Bosnia-Herzegovina,Europe,spirit_servings,173.0
Botswana,Africa,spirit_servings,35.0
Brazil,South America,spirit_servings,145.0
Brunei,Asia,spirit_servings,2.0
Bulgaria,Europe,spirit_servings,252.0
Burkina Faso,Africa,spirit_servings,7.0
Burundi,Africa,spirit_servings,0.0
Cote d'Ivoire,Africa,spirit_servings,1.0
Cabo Verde,Africa,spirit_servings,56.0
Cambodia,Asia,spirit_servings,65.0
Cameroon,Africa,spirit_servings,1.0
Canada,North America,spirit_servings,122.0
Central African Republic,Africa,spirit_servings,2.0
Chad,Africa,spirit_servings,1.0
Chile,South America,spirit_servings,124.0
China,Asia,spirit_servings,192.0
Colombia,South America,spirit_servings,76.0
Comoros,Africa,spirit_servings,3.0
Congo,Africa,spirit_servings,1.0
Cook Islands,Oceania,spirit_servings,254.0
Costa Rica,North America,spirit_servings,87.0
Croatia,Europe,spirit_servings,87.0
Cuba,North America,spirit_servings,137.0
Cyprus,Europe,spirit_servings,154.0
Czech Republic,Europe,spirit_servings,170.0
North Korea,Asia,spirit_servings,0.0
DR Congo,Africa,spirit_servings,3.0
Denmark,Europe,spirit_servings,81.0
Djibouti,Africa,spirit_servings,44.0
Dominica,North America,spirit_servings,286.0
Dominican Republic,North America,spirit_servings,147.0
Ecuador,South America,spirit_servings,74.0
Egypt,Africa,spirit_servings,4.0
El Salvador,North America,spirit_servings,69.0
Equatorial Guinea,Africa,spirit_servings,0.0
Eritrea,Africa,spirit_servings,0.0
Estonia,Europe,spirit_servings,194.0
Ethiopia,Africa,spirit_servings,3.0
Fiji,Oceania,spirit_servings,35.0
Finland,Europe,spirit_servings,133.0
France,Europe,spirit_servings,151.0
Gabon,Africa,spirit_servings,98.0
Gambia,Africa,spirit_servings,0.0
Georgia,Europe,spirit_servings,100.0
Germany,Europe,spirit_servings,117.0
Ghana,Africa,spirit_servings,3.0
Greece,Europe,spirit_servings,112.0
Grenada,North America,spirit_servings,438.0
Guatemala,North America,spirit_servings,69.0
Guinea,Africa,spirit_servings,0.0
Guinea-Bissau,Africa,spirit_servings,31.0
Guyana,South America,spirit_servings,302.0
Haiti,North America,spirit_servings,326.0
Honduras,North America,spirit_servings,98.0
Hungary,Europe,spirit_servings,215.0
Iceland,Europe,spirit_servings,61.0
India,Asia,spirit_servings,114.0
Indonesia,Asia,spirit_servings,1.0
Iran,Asia,spirit_servings,0.0
Iraq,Asia,spirit_servings,3.0
Ireland,Europe,spirit_servings,118.0
Israel,Asia,spirit_servings,69.0
Italy,Europe,spirit_servings,42.0
Jamaica,North America,spirit_servings,97.0
Japan,Asia,spirit_servings,202.0
Jordan,Asia,spirit_servings,21.0
Kazakhstan,Asia,spirit_servings,246.0
Kenya,Africa,spirit_servings,22.0
Kiribati,Oceania,spirit_servings,34.0
Kuwait,Asia,spirit_servings,0.0
Kyrgyzstan,Asia,spirit_servings,97.0
Laos,Asia,spirit_servings,0.0
Latvia,Europe,spirit_servings,216.0
Lebanon,Asia,spirit_servings,55.0
Lesotho,Africa,spirit_servings,29.0
Liberia,Africa,spirit_servings,152.0
Libya,Africa,spirit_servings,0.0
Lithuania,Europe,spirit_servings,244.0
Luxembourg,Europe,spirit_servings,133.0
Madagascar,Africa,spirit_servings,15.0
Malawi,Africa,spirit_servings,11.0
Malaysia,Asia,spirit_servings,4.0
Maldives,Asia,spirit_servings,0.0
Mali,Africa,spirit_servings,1.0
Malta,Europe,spirit_servings,100.0
Marshall Islands,Oceania,spirit_servings,0.0
Mauritania,Africa,spirit_servings,0.0
Mauritius,Africa,spirit_servings,31.0
Mexico,North America,spirit_servings,68.0
Micronesia,Oceania,spirit_servings,50.0
Monaco,Europe,spirit_servings,0.0
Mongolia,Asia,spirit_servings,189.0
Montenegro,Europe,spirit_servings,114.0
Morocco,Africa,spirit_servings,6.0
Mozambique,Africa,spirit_servings,18.0
Myanmar,Asia,spirit_servings,1.0
Namibia,Africa,spirit_servings,3.0
Nauru,Oceania,spirit_servings,0.0
Nepal,Asia,spirit_servings,6.0
Netherlands,Europe,spirit_servings,88.0
New Zealand,Oceania,spirit_servings,79.0
Nicaragua,North America,spirit_servings,118.0
Niger,Africa,spirit_servings,2.0
Nigeria,Africa,spirit_servings,5.0
Niue,Oceania,spirit_servings,200.0
Norway,Europe,spirit_servings,71.0
Oman,Asia,spirit_servings,16.0
Pakistan,Asia,spirit_servings,0.0
Palau,Oceania,spirit_servings,63.0
Panama,North America,spirit_servings,104.0
Papua New Guinea,Oceania,spirit_servings,39.0
Paraguay,South America,spirit_servings,117.0
Peru,South America,spirit_servings,160.0
Philippines,Asia,spirit_servings,186.0
Poland,Europe,spirit_servings,215.0
Portugal,Europe,spirit_servings,67.0
Qatar,Asia,spirit_servings,42.0
South Korea,Asia,spirit_servings,16.0
Moldova,Europe,spirit_servings,226.0
Romania,Europe,spirit_servings,122.0
Russian Federation,Asia,spirit_servings,326.0
Rwanda,Africa,spirit_servings,2.0
St. Kitts & Nevis,North America,spirit_servings,205.0
St. Lucia,North America,spirit_servings,315.0
St. Vincent & the Grenadines,North America,spirit_servings,221.0
Samoa,Oceania,spirit_servings,18.0
San Marino,Europe,spirit_servings,0.0
Sao Tome & Principe,Africa,spirit_servings,38.0
Saudi Arabia,Asia,spirit_servings,5.0
Senegal,Africa,spirit_servings,1.0
Serbia,Europe,spirit_servings,131.0
Seychelles,Africa,spirit_servings,25.0
Sierra Leone,Africa,spirit_servings,3.0
Singapore,Asia,spirit_servings,12.0
Slovakia,Europe,spirit_servings,293.0
Slovenia,Europe,spirit_servings,51.0
Solomon Islands,Oceania,spirit_servings,11.0
Somalia,Africa,spirit_servings,0.0
South Africa,Africa,spirit_servings,76.0
Spain,Europe,spirit_servings,157.0
Sri Lanka,Asia,spirit_servings,104.0
Sudan,Africa,spirit_servings,13.0
Suriname,South America,spirit_servings,178.0
Swaziland,Africa,spirit_servings,2.0
Sweden,Europe,spirit_servings,60.0
Switzerland,Europe,spirit_servings,100.0
Syria,Asia,spirit_servings,35.0
Tajikistan,Asia,spirit_servings,15.0
Thailand,Asia,spirit_servings,258.0
Macedonia,Europe,spirit_servings,27.0
Timor-Leste,Asia,spirit_servings,1.0
Togo,Africa,spirit_servings,2.0
Tonga,Oceania,spirit_servings,21.0
Trinidad & Tobago,North America,spirit_servings,156.0
Tunisia,Africa,spirit_servings,3.0
Turkey,Asia,spirit_servings,22.0
Turkmenistan,Asia,spirit_servings,71.0
Tuvalu,Oceania,spirit_servings,41.0
Uganda,Africa,spirit_servings,9.0
Ukraine,Europe,spirit_servings,237.0
United Arab Emirates,Asia,spirit_servings,135.0
United Kingdom,Europe,spirit_servings,126.0
Tanzania,Africa,spirit_servings,6.0
USA,North America,spirit_servings,158.0
Uruguay,South America,spirit_servings,35.0
Uzbekistan,Asia,spirit_servings,101.0
Vanuatu,Oceania,spirit_servings,18.0
Venezuela,South America,spirit_servings,100.0
Vietnam,Asia,spirit_servings,2.0
Yemen,Asia,spirit_servings,0.0
Zambia,Africa,spirit_servings,19.0
Zimbabwe,Africa,spirit_servings,18.0
Afghanistan,Asia,wine_servings,0.0
Albania,Europe,wine_servings,54.0
Algeria,Africa,wine_servings,14.0
Andorra,Europe,wine_servings,312.0
Angola,Africa,wine_servings,45.0
Antigua & Barbuda,North America,wine_servings,45.0
Argentina,South America,wine_servings,221.0
Armenia,Europe,wine_servings,11.0
Australia,Oceania,wine_servings,212.0
Austria,Europe,wine_servings,191.0
Azerbaijan,Europe,wine_servings,5.0
Bahamas,North America,wine_servings,51.0
Bahrain,Asia,wine_servings,7.0
Bangladesh,Asia,wine_servings,0.0
Barbados,North America,wine_servings,36.0
Belarus,Europe,wine_servings,42.0
Belgium,Europe,wine_servings,212.0
Belize,North America,wine_servings,8.0
Benin,Africa,wine_servings,13.0
Bhutan,Asia,wine_servings,0.0
Bolivia,South America,wine_servings,8.0
Bosnia-Herzegovina,Europe,wine_servings,8.0
Botswana,Africa,wine_servings,35.0
Brazil,South America,wine_servings,16.0
Brunei,Asia,wine_servings,1.0
Bulgaria,Europe,wine_servings,94.0
Burkina Faso,Africa,wine_servings,7.0
Burundi,Africa,wine_servings,0.0
Cote d'Ivoire,Africa,wine_servings,7.0
Cabo Verde,Africa,wine_servings,16.0
Cambodia,Asia,wine_servings,1.0
Cameroon,Africa,wine_servings,4.0
Canada,North America,wine_servings,100.0
Central African Republic,Africa,wine_servings,1.0
Chad,Africa,wine_servings,1.0
Chile,South America,wine_servings,172.0
China,Asia,wine_servings,8.0
Colombia,South America,wine_servings,3.0
Comoros,Africa,wine_servings,1.0
Congo,Africa,wine_servings,9.0
Cook Islands,Oceania,wine_servings,74.0
Costa Rica,North America,wine_servings,11.0
Croatia,Europe,wine_servings,254.0
Cuba,North America,wine_servings,5.0
Cyprus,Europe,wine_servings,113.0
Czech Republic,Europe,wine_servings,134.0
North Korea,Asia,wine_servings,0.0
DR Congo,Africa,wine_servings,1.0
Denmark,Europe,wine_servings,278.0
Djibouti,Africa,wine_servings,3.0
Dominica,North America,wine_servings,26.0
Dominican Republic,North America,wine_servings,9.0
Ecuador,South America,wine_servings,3.0
Egypt,Africa,wine_servings,1.0
El Salvador,North America,wine_servings,2.0
Equatorial Guinea,Africa,wine_servings,233.0
Eritrea,Africa,wine_servings,0.0
Estonia,Europe,wine_servings,59.0
Ethiopia,Africa,wine_servings,0.0
Fiji,Oceania,wine_servings,1.0
Finland,Europe,wine_servings,97.0
France,Europe,wine_servings,370.0
Gabon,Africa,wine_servings,59.0
Gambia,Africa,wine_servings,1.0
Georgia,Europe,wine_servings,149.0
Germany,Europe,wine_servings,175.0
Ghana,Africa,wine_servings,10.0
Greece,Europe,wine_servings,218.0
Grenada,North America,wine_servings,28.0
Guatemala,North America,wine_servings,2.0
Guinea,Africa,wine_servings,2.0
Guinea-Bissau,Africa,wine_servings,21.0
Guyana,South America,wine_servings,1.0
Haiti,North America,wine_servings,1.0
Honduras,North America,wine_servings,2.0
Hungary,Europe,wine_servings,185.0
Iceland,Europe,wine_servings,78.0
India,Asia,wine_servings,0.0
Indonesia,Asia,wine_servings,0.0
Iran,Asia,wine_servings,0.0
Iraq,Asia,wine_servings,0.0
Ireland,Europe,wine_servings,165.0
Israel,Asia,wine_servings,9.0
Italy,Europe,wine_servings,237.0
Jamaica,North America,wine_servings,9.0
Japan,Asia,wine_servings,16.0
Jordan,Asia,wine_servings,1.0
Kazakhstan,Asia,wine_servings,12.0
Kenya,Africa,wine_servings,2.0
Kiribati,Oceania,wine_servings,1.0
Kuwait,Asia,wine_servings,0.0
Kyrgyzstan,Asia,wine_servings,6.0
Laos,Asia,wine_servings,123.0
Latvia,Europe,wine_servings,62.0
Lebanon,Asia,wine_servings,31.0
Lesotho,Africa,wine_servings,0.0
Liberia,Africa,wine_servings,2.0
Libya,Africa,wine_servings,0.0
Lithuania,Europe,wine_servings,56.0
Luxembourg,Europe,wine_servings,271.0
Madagascar,Africa,wine_servings,4.0
Malawi,Africa,wine_servings,1.0
Malaysia,Asia,wine_servings,0.0
Maldives,Asia,wine_servings,0.0
Mali,Africa,wine_servings,1.0
Malta,Europe,wine_servings,120.0
Marshall Islands,Oceania,wine_servings,0.0
Mauritania,Africa,wine_servings,0.0
Mauritius,Africa,wine_servings,18.0
Mexico,North America,wine_servings,5.0
Micronesia,Oceania,wine_servings,18.0
Monaco,Europe,wine_servings,0.0
Mongolia,Asia,wine_servings,8.0
Montenegro,Europe,wine_servings,128.0
Morocco,Africa,wine_servings,10.0
Mozambique,Africa,wine_servings,5.0
Myanmar,Asia,wine_servings,0.0
Namibia,Africa,wine_servings,1.0
Nauru,Oceania,wine_servings,8.0
Nepal,Asia,wine_servings,0.0
Netherlands,Europe,wine_servings,190.0
New Zealand,Oceania,wine_servings,175.0
Nicaragua,North America,wine_servings,1.0
Niger,Africa,wine_servings,1.0
Nigeria,Africa,wine_servings,2.0
Niue,Oceania,wine_servings,7.0
Norway,Europe,wine_servings,129.0
Oman,Asia,wine_servings,1.0
Pakistan,Asia,wine_servings,0.0
Palau,Oceania,wine_servings,23.0
Panama,North America,wine_servings,18.0
Papua New Guinea,Oceania,wine_servings,1.0
Paraguay,South America,wine_servings,74.0
Peru,South America,wine_servings,21.0
Philippines,Asia,wine_servings,1.0
Poland,Europe,wine_servings,56.0
Portugal,Europe,wine_servings,339.0
Qatar,Asia,wine_servings,7.0
South Korea,Asia,wine_servings,9.0
Moldova,Europe,wine_servings,18.0
Romania,Europe,wine_servings,167.0
Russian Federation,Asia,wine_servings,73.0
Rwanda,Africa,wine_servings,0.0
St. Kitts & Nevis,North America,wine_servings,32.0
St. Lucia,North America,wine_servings,71.0
St. Vincent & the Grenadines,North America,wine_servings,11.0
Samoa,Oceania,wine_servings,24.0
San Marino,Europe,wine_servings,0.0
Sao Tome & Principe,Africa,wine_servings,140.0
Saudi Arabia,Asia,wine_servings,0.0
Senegal,Africa,wine_servings,7.0
Serbia,Europe,wine_servings,127.0
Seychelles,Africa,wine_servings,51.0
Sierra Leone,Africa,wine_servings,2.0
Singapore,Asia,wine_servings,11.0

In [67]:
melt2 = pd.melt(drinks, id_vars=["country"], ignore_index=False)
melt2

                          country                      variable          value
0                     Afghanistan                 beer_servings              0
1                         Albania                 beer_servings             89
2                         Algeria                 beer_servings             25
3                         Andorra                 beer_servings            245
4                          Angola                 beer_servings            217
5               Antigua & Barbuda                 beer_servings            102
6                       Argentina                 beer_servings            193
7                         Armenia                 beer_servings             21
8                       Australia                 beer_servings            261
9                         Austria                 beer_servings            279
10                     Azerbaijan                 beer_servings             21
11                        Bahamas                 beer_servings            122
12                        Bahrain                 beer_servings             42
13                     Bangladesh                 beer_servings              0
14                       Barbados                 beer_servings            143
15                        Belarus                 beer_servings            142
16                        Belgium                 beer_servings            295
17                         Belize                 beer_servings            263
18                          Benin                 beer_servings             34
19                         Bhutan                 beer_servings             23
20                        Bolivia                 beer_servings            167
21             Bosnia-Herzegovina                 beer_servings             76
22                       Botswana                 beer_servings            173
23                         Brazil                 beer_servings            245
24                         Brunei                 beer_servings             31
25                       Bulgaria                 beer_servings            231
26                   Burkina Faso                 beer_servings             25
27                        Burundi                 beer_servings             88
28                  Cote d'Ivoire                 beer_servings             37
29                     Cabo Verde                 beer_servings            144
30                       Cambodia                 beer_servings             57
31                       Cameroon                 beer_servings            147
32                         Canada                 beer_servings            240
33       Central African Republic                 beer_servings             17
34                           Chad                 beer_servings             15
35                          Chile                 beer_servings            130
36                          China                 beer_servings             79
37                       Colombia                 beer_servings            159
38                        Comoros                 beer_servings              1
39                          Congo                 beer_servings             76
40                   Cook Islands                 beer_servings              0
41                     Costa Rica                 beer_servings            149
42                        Croatia                 beer_servings            230
43                           Cuba                 beer_servings             93
44                         Cyprus                 beer_servings            192
45                 Czech Republic                 beer_servings            361
46                    North Korea                 beer_servings              0
47                       DR Congo                 beer_servings             32
48                        Denmark                 beer_servings            224
49                       Djibouti                 beer_servings             15
50                       Dominica                 beer_servings             52
51             Dominican Republic                 beer_servings            193
52                        Ecuador                 beer_servings            162
53                          Egypt                 beer_servings              6
54                    El Salvador                 beer_servings             52
55              Equatorial Guinea                 beer_servings             92
56                        Eritrea                 beer_servings             18
57                        Estonia                 beer_servings            224
58                       Ethiopia                 beer_servings             20
59                           Fiji                 beer_servings             77
60                        Finland                 beer_servings            263
61                         France                 beer_servings            127
62                          Gabon                 beer_servings            347
63                         Gambia                 beer_servings              8
64                        Georgia                 beer_servings             52
65                        Germany                 beer_servings            346
66                          Ghana                 beer_servings             31
67                         Greece                 beer_servings            133
68                        Grenada                 beer_servings            199
69                      Guatemala                 beer_servings             53
70                         Guinea                 beer_servings              9
71                  Guinea-Bissau                 beer_servings             28
72                         Guyana                 beer_servings             93
73                          Haiti                 beer_servings              1
74                       Honduras                 beer_servings             69
75                        Hungary                 beer_servings            234
76                        Iceland                 beer_servings            233
77                          India                 beer_servings              9
78                      Indonesia                 beer_servings              5
79                           Iran                 beer_servings              0
80                           Iraq                 beer_servings              9
81                        Ireland                 beer_servings            313
82                         Israel                 beer_servings             63
83                          Italy                 beer_servings             85
84                        Jamaica                 beer_servings             82
85                          Japan                 beer_servings             77
86                         Jordan                 beer_servings              6
87                     Kazakhstan                 beer_servings            124
88                          Kenya                 beer_servings             58
89                       Kiribati                 beer_servings             21
90                         Kuwait                 beer_servings              0
91                     Kyrgyzstan                 beer_servings             31
92                           Laos                 beer_servings             62
93                         Latvia                 beer_servings            281
94                        Lebanon                 beer_servings             20
95                        Lesotho                 beer_servings             82
96                        Liberia                 beer_servings             19
97                          Libya                 beer_servings              0
98                      Lithuania                 beer_servings            343
99                     Luxembourg                 beer_servings            236
100                    Madagascar                 beer_servings             26
101                        Malawi                 beer_servings              8
102                      Malaysia                 beer_servings             13
103                      Maldives                 beer_servings              0
104                          Mali                 beer_servings              5
105                         Malta                 beer_servings            149
106              Marshall Islands                 beer_servings              0
107                    Mauritania                 beer_servings              0
108                     Mauritius                 beer_servings             98
109                        Mexico                 beer_servings            238
110                    Micronesia                 beer_servings             62
111                        Monaco                 beer_servings              0
112                      Mongolia                 beer_servings             77
113                    Montenegro                 beer_servings             31
114                       Morocco                 beer_servings             12
115                    Mozambique                 beer_servings             47
116                       Myanmar                 beer_servings              5
117                       Namibia                 beer_servings            376
118                         Nauru                 beer_servings             49
119                         Nepal                 beer_servings              5
120                   Netherlands                 beer_servings            251
121                   New Zealand                 beer_servings            203
122                     Nicaragua                 beer_servings             78
123                         Niger                 beer_servings              3
124                       Nigeria                 beer_servings             42
125                          Niue                 beer_servings            188
126                        Norway                 beer_servings            169
127                          Oman                 beer_servings             22
128                      Pakistan                 beer_servings              0
129                         Palau                 beer_servings            306
130                        Panama                 beer_servings            285
131              Papua New Guinea                 beer_servings             44
132                      Paraguay                 beer_servings            213
133                          Peru                 beer_servings            163
134                   Philippines                 beer_servings             71
135                        Poland                 beer_servings            343
136                      Portugal                 beer_servings            194
137                         Qatar                 beer_servings              1
138                   South Korea                 beer_servings            140
139                       Moldova                 beer_servings            109
140                       Romania                 beer_servings            297
141            Russian Federation                 beer_servings            247
142                        Rwanda                 beer_servings             43
143             St. Kitts & Nevis                 beer_servings            194
144                     St. Lucia                 beer_servings            171
145  St. Vincent & the Grenadines                 beer_servings            120
146                         Samoa                 beer_servings            105
147                    San Marino                 beer_servings              0
148           Sao Tome & Principe                 beer_servings             56
149                  Saudi Arabia                 beer_servings              0
150                       Senegal                 beer_servings              9
151                        Serbia                 beer_servings            283
152                    Seychelles                 beer_servings            157
153                  Sierra Leone                 beer_servings             25
154                     Singapore                 beer_servings             60
155                      Slovakia                 beer_servings            196
156                      Slovenia                 beer_servings            270
157               Solomon Islands                 beer_servings             56
158                       Somalia                 beer_servings              0
159                  South Africa                 beer_servings            225
160                         Spain                 beer_servings            284
161                     Sri Lanka                 beer_servings             16
162                         Sudan                 beer_servings              8
163                      Suriname                 beer_servings            128
164                     Swaziland                 beer_servings             90
165                        Sweden                 beer_servings            152
166                   Switzerland                 beer_servings            185
167                         Syria                 beer_servings              5
168                    Tajikistan                 beer_servings              2
169                      Thailand                 beer_servings             99
170                     Macedonia                 beer_servings            106
171                   Timor-Leste                 beer_servings              1
172                          Togo                 beer_servings             36
173                         Tonga                 beer_servings             36
174             Trinidad & Tobago                 beer_servings            197
175                       Tunisia                 beer_servings             51
176                        Turkey                 beer_servings             51
177                  Turkmenistan                 beer_servings             19
178                        Tuvalu                 beer_servings              6
179                        Uganda                 beer_servings             45
180                       Ukraine                 beer_servings            206
181          United Arab Emirates                 beer_servings             16
182                United Kingdom                 beer_servings            219
183                      Tanzania                 beer_servings             36
184                           USA                 beer_servings            249
185                       Uruguay                 beer_servings            115
186                    Uzbekistan                 beer_servings             25
187                       Vanuatu                 beer_servings             21
188                     Venezuela                 beer_servings            333
189                       Vietnam                 beer_servings            111
190                         Yemen                 beer_servings              6
191                        Zambia                 beer_servings             32
192                      Zimbabwe                 beer_servings             64
0                     Afghanistan               spirit_servings              0
1                         Albania               spirit_servings            132
2                         Algeria               spirit_servings              0
3                         Andorra               spirit_servings            138
4                          Angola               spirit_servings             57
5               Antigua & Barbuda               spirit_servings            128
6                       Argentina               spirit_servings             25
7                         Armenia               spirit_servings            179
8                       Australia               spirit_servings             72
9                         Austria               spirit_servings             75
10                     Azerbaijan               spirit_servings             46
11                        Bahamas               spirit_servings            176
12                        Bahrain               spirit_servings             63
13                     Bangladesh               spirit_servings              0
14                       Barbados               spirit_servings            173
15                        Belarus               spirit_servings            373
16                        Belgium               spirit_servings             84
17                         Belize               spirit_servings            114
18                          Benin               spirit_servings              4
19                         Bhutan               spirit_servings              0
20                        Bolivia               spirit_servings             41
21             Bosnia-Herzegovina               spirit_servings            173
22                       Botswana               spirit_servings             35
23                         Brazil               spirit_servings            145
24                         Brunei               spirit_servings              2
25                       Bulgaria               spirit_servings            252
26                   Burkina Faso               spirit_servings              7
27                        Burundi               spirit_servings              0
28                  Cote d'Ivoire               spirit_servings              1
29                     Cabo Verde               spirit_servings             56
30                       Cambodia               spirit_servings             65
31                       Cameroon               spirit_servings              1
32                         Canada               spirit_servings            122
33       Central African Republic               spirit_servings              2
34                           Chad               spirit_servings              1
35                          Chile               spirit_servings            124
36                          China               spirit_servings            192
37                       Colombia               spirit_servings             76
38                        Comoros               spirit_servings              3
39                          Congo               spirit_servings              1
40                   Cook Islands               spirit_servings            254
41                     Costa Rica               spirit_servings             87
42                        Croatia               spirit_servings             87
43                           Cuba               spirit_servings            137
44                         Cyprus               spirit_servings            154
45                 Czech Republic               spirit_servings            170
46                    North Korea               spirit_servings              0
47                       DR Congo               spirit_servings              3
48                        Denmark               spirit_servings             81
49                       Djibouti               spirit_servings             44
50                       Dominica               spirit_servings            286
51             Dominican Republic               spirit_servings            147
52                        Ecuador               spirit_servings             74
53                          Egypt               spirit_servings              4
54                    El Salvador               spirit_servings             69
55              Equatorial Guinea               spirit_servings              0
56                        Eritrea               spirit_servings              0
57                        Estonia               spirit_servings            194
58                       Ethiopia               spirit_servings              3

In [69]:
melt2 = melt2.groupby(["country", "variable"]).sum()
melt2

                                                                   value
country                      variable
Afghanistan                  beer_servings                             0
                             continent                              Asia
                             spirit_servings                           0
                             total_litres_of_pure_alcohol              0
                             wine_servings                             0
Albania                      beer_servings                            89
                             continent                            Europe
                             spirit_servings                         132
                             total_litres_of_pure_alcohol            4.9
                             wine_servings                            54
Algeria                      beer_servings                            25
                             continent                            Africa
                             spirit_servings                           0
                             total_litres_of_pure_alcohol            0.7
                             wine_servings                            14
Andorra                      beer_servings                           245
                             continent                            Europe
                             spirit_servings                         138
                             total_litres_of_pure_alcohol           12.4
                             wine_servings                           312
Angola                       beer_servings                           217
                             continent                            Africa
                             spirit_servings                          57
                             total_litres_of_pure_alcohol            5.9
                             wine_servings                            45
Antigua & Barbuda            beer_servings                           102
                             continent                     North America
                             spirit_servings                         128
                             total_litres_of_pure_alcohol            4.9
                             wine_servings                            45
Argentina                    beer_servings                           193
                             continent                     South America
                             spirit_servings                          25
                             total_litres_of_pure_alcohol            8.3
                             wine_servings                           221
Armenia                      beer_servings                            21
                             continent                            Europe
                             spirit_servings                         179
                             total_litres_of_pure_alcohol            3.8
                             wine_servings                            11
Australia                    beer_servings                           261
                             continent                           Oceania
                             spirit_servings                          72
                             total_litres_of_pure_alcohol           10.4
                             wine_servings                           212
Austria                      beer_servings                           279
                             continent                            Europe
                             spirit_servings                          75
                             total_litres_of_pure_alcohol            9.7
                             wine_servings                           191
Azerbaijan                   beer_servings                            21
                             continent                            Europe
                             spirit_servings                          46
                             total_litres_of_pure_alcohol            1.3
                             wine_servings                             5
Bahamas                      beer_servings                           122
                             continent                     North America
                             spirit_servings                         176
                             total_litres_of_pure_alcohol            6.3
                             wine_servings                            51
Bahrain                      beer_servings                            42
                             continent                              Asia
                             spirit_servings                          63
                             total_litres_of_pure_alcohol              2
                             wine_servings                             7
Bangladesh                   beer_servings                             0
                             continent                              Asia
                             spirit_servings                           0
                             total_litres_of_pure_alcohol              0
                             wine_servings                             0
Barbados                     beer_servings                           143
                             continent                     North America
                             spirit_servings                         173
                             total_litres_of_pure_alcohol            6.3
                             wine_servings                            36
Belarus                      beer_servings                           142
                             continent                            Europe
                             spirit_servings                         373
                             total_litres_of_pure_alcohol           14.4
                             wine_servings                            42
Belgium                      beer_servings                           295
                             continent                            Europe
                             spirit_servings                          84
                             total_litres_of_pure_alcohol           10.5
                             wine_servings                           212
Belize                       beer_servings                           263
                             continent                     North America
                             spirit_servings                         114
                             total_litres_of_pure_alcohol            6.8
                             wine_servings                             8
Benin                        beer_servings                            34
                             continent                            Africa
                             spirit_servings                           4
                             total_litres_of_pure_alcohol            1.1
                             wine_servings                            13
Bhutan                       beer_servings                            23
                             continent                              Asia
                             spirit_servings                           0
                             total_litres_of_pure_alcohol            0.4
                             wine_servings                             0
Bolivia                      beer_servings                           167
                             continent                     South America
                             spirit_servings                          41
                             total_litres_of_pure_alcohol            3.8
                             wine_servings                             8
Bosnia-Herzegovina           beer_servings                            76
                             continent                            Europe
                             spirit_servings                         173
                             total_litres_of_pure_alcohol            4.6
                             wine_servings                             8
Botswana                     beer_servings                           173
                             continent                            Africa
                             spirit_servings                          35
                             total_litres_of_pure_alcohol            5.4
                             wine_servings                            35
Brazil                       beer_servings                           245
                             continent                     South America
                             spirit_servings                         145
                             total_litres_of_pure_alcohol            7.2
                             wine_servings                            16
Brunei                       beer_servings                            31
                             continent                              Asia
                             spirit_servings                           2
                             total_litres_of_pure_alcohol            0.6
                             wine_servings                             1
Bulgaria                     beer_servings                           231
                             continent                            Europe
                             spirit_servings                         252
                             total_litres_of_pure_alcohol           10.3
                             wine_servings                            94
Burkina Faso                 beer_servings                            25
                             continent                            Africa
                             spirit_servings                           7
                             total_litres_of_pure_alcohol            4.3
                             wine_servings                             7
Burundi                      beer_servings                            88
                             continent                            Africa
                             spirit_servings                           0
                             total_litres_of_pure_alcohol            6.3
                             wine_servings                             0
Cabo Verde                   beer_servings                           144
                             continent                            Africa
                             spirit_servings                          56
                             total_litres_of_pure_alcohol              4
                             wine_servings                            16
Cambodia                     beer_servings                            57
                             continent                              Asia
                             spirit_servings                          65
                             total_litres_of_pure_alcohol            2.2
                             wine_servings                             1
Cameroon                     beer_servings                           147
                             continent                            Africa
                             spirit_servings                           1
                             total_litres_of_pure_alcohol            5.8
                             wine_servings                             4
Canada                       beer_servings                           240
                             continent                     North America
                             spirit_servings                         122
                             total_litres_of_pure_alcohol            8.2
                             wine_servings                           100
Central African Republic     beer_servings                            17
                             continent                            Africa
                             spirit_servings                           2
                             total_litres_of_pure_alcohol            1.8
                             wine_servings                             1
Chad                         beer_servings                            15
                             continent                            Africa
                             spirit_servings                           1
                             total_litres_of_pure_alcohol            0.4
                             wine_servings                             1
Chile                        beer_servings                           130
                             continent                     South America
                             spirit_servings                         124
                             total_litres_of_pure_alcohol            7.6
                             wine_servings                           172
China                        beer_servings                            79
                             continent                              Asia
                             spirit_servings                         192
                             total_litres_of_pure_alcohol              5
                             wine_servings                             8
Colombia                     beer_servings                           159
                             continent                     South America
                             spirit_servings                          76
                             total_litres_of_pure_alcohol            4.2
                             wine_servings                             3
Comoros                      beer_servings                             1
                             continent                            Africa
                             spirit_servings                           3
                             total_litres_of_pure_alcohol            0.1
                             wine_servings                             1
Congo                        beer_servings                            76
                             continent                            Africa
                             spirit_servings                           1
                             total_litres_of_pure_alcohol            1.7
                             wine_servings                             9
Cook Islands                 beer_servings                             0
                             continent                           Oceania
                             spirit_servings                         254
                             total_litres_of_pure_alcohol            5.9
                             wine_servings                            74
Costa Rica                   beer_servings                           149
                             continent                     North America
                             spirit_servings                          87
                             total_litres_of_pure_alcohol            4.4
                             wine_servings                            11
Cote d'Ivoire                beer_servings                            37
                             continent                            Africa
                             spirit_servings                           1
                             total_litres_of_pure_alcohol              4
                             wine_servings                             7
Croatia                      beer_servings                           230
                             continent                            Europe
                             spirit_servings                          87
                             total_litres_of_pure_alcohol           10.2
                             wine_servings                           254
Cuba                         beer_servings                            93
                             continent                     North America
                             spirit_servings                         137
                             total_litres_of_pure_alcohol            4.2
                             wine_servings                             5
Cyprus                       beer_servings                           192
                             continent                            Europe
                             spirit_servings                         154
                             total_litres_of_pure_alcohol            8.2
                             wine_servings                           113
Czech Republic               beer_servings                           361
                             continent                            Europe
                             spirit_servings                         170
                             total_litres_of_pure_alcohol           11.8
                             wine_servings                           134
DR Congo                     beer_servings                            32
                             continent                            Africa
                             spirit_servings                           3
                             total_litres_of_pure_alcohol            2.3
                             wine_servings                             1
Denmark                      beer_servings                           224
                             continent                            Europe
                             spirit_servings                          81
                             total_litres_of_pure_alcohol           10.4
                             wine_servings                           278
Djibouti                     beer_servings                            15
                             continent                            Africa
                             spirit_servings                          44
                             total_litres_of_pure_alcohol            1.1
                             wine_servings                             3
Dominica                     beer_servings                            52
                             continent                     North America
                             spirit_servings                         286
                             total_litres_of_pure_alcohol            6.6
                             wine_servings                            26
Dominican Republic           beer_servings                           193
                             continent                     North America
                             spirit_servings                         147
                             total_litres_of_pure_alcohol            6.2
                             wine_servings                             9
Ecuador                      beer_servings                           162
                             continent                     South America
                             spirit_servings                          74
                             total_litres_of_pure_alcohol            4.2
                             wine_servings                             3
Egypt                        beer_servings                             6
                             continent                            Africa
                             spirit_servings                           4
                             total_litres_of_pure_alcohol            0.2
                             wine_servings                             1
El Salvador                  beer_servings                            52
                             continent                     North America
                             spirit_servings                          69
                             total_litres_of_pure_alcohol            2.2
                             wine_servings                             2
Equatorial Guinea            beer_servings                            92
                             continent                            Africa

c. Utilizando esse novo df, encontre qual a bebida mais consumida por país e a quantidade.

In [73]:
for pais in melt.index.unique():
    melt_pais = melt.loc[pais].reset_index()
    idx = melt_pais["value"].idxmax()
    print(pais[0], ":", melt_pais.loc[idx, "variable"], ":", melt_pais.loc[idx, "value"])

<ipython-input-73-ad8ed7a3fe5f>:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  melt_pais = melt.loc[pais].reset_index()

Afghanistan : beer_servings : 0.0
Albania : spirit_servings : 132.0
Algeria : beer_servings : 25.0
Andorra : wine_servings : 312.0
Angola : beer_servings : 217.0
Antigua & Barbuda : spirit_servings : 128.0
Argentina : wine_servings : 221.0
Armenia : spirit_servings : 179.0
Australia : beer_servings : 261.0
Austria : beer_servings : 279.0
Azerbaijan : spirit_servings : 46.0
Bahamas : spirit_servings : 176.0
Bahrain : spirit_servings : 63.0
Bangladesh : beer_servings : 0.0
Barbados : spirit_servings : 173.0
Belarus : spirit_servings : 373.0
Belgium : beer_servings : 295.0
Belize : beer_servings : 263.0
Benin : beer_servings : 34.0
Bhutan : beer_servings : 23.0
Bolivia : beer_servings : 167.0
Bosnia-Herzegovina : spirit_servings : 173.0
Botswana : beer_servings : 173.0
Brazil : beer_servings : 245.0
Brunei : beer_servings : 31.0
Bulgaria : spirit_servings : 252.0
Burkina Faso : beer_servings : 25.0
Burundi : beer_servings : 88.0
Cote d'Ivoire : beer_servings : 37.0
Cabo Verde : beer_servings : 144.0
Cambodia : spirit_servings : 65.0
Cameroon : beer_servings : 147.0
Canada : beer_servings : 240.0
Central African Republic : beer_servings : 17.0
Chad : beer_servings : 15.0
Chile : wine_servings : 172.0
China : spirit_servings : 192.0
Colombia : beer_servings : 159.0
Comoros : spirit_servings : 3.0
Congo : beer_servings : 76.0
Cook Islands : spirit_servings : 254.0
Costa Rica : beer_servings : 149.0
Croatia : wine_servings : 254.0
Cuba : spirit_servings : 137.0
Cyprus : beer_servings : 192.0
Czech Republic : beer_servings : 361.0
North Korea : beer_servings : 0.0
DR Congo : beer_servings : 32.0
Denmark : wine_servings : 278.0
Djibouti : spirit_servings : 44.0
Dominica : spirit_servings : 286.0
Dominican Republic : beer_servings : 193.0
Ecuador : beer_servings : 162.0
Egypt : beer_servings : 6.0
El Salvador : spirit_servings : 69.0
Equatorial Guinea : wine_servings : 233.0
Eritrea : beer_servings : 18.0
Estonia : beer_servings : 224.0
Ethiopia : beer_servings : 20.0
Fiji : beer_servings : 77.0
Finland : beer_servings : 263.0
France : wine_servings : 370.0
Gabon : beer_servings : 347.0
Gambia : beer_servings : 8.0
Georgia : wine_servings : 149.0
Germany : beer_servings : 346.0
Ghana : beer_servings : 31.0
Greece : wine_servings : 218.0
Grenada : spirit_servings : 438.0
Guatemala : spirit_servings : 69.0
Guinea : beer_servings : 9.0
Guinea-Bissau : spirit_servings : 31.0
Guyana : spirit_servings : 302.0
Haiti : spirit_servings : 326.0
Honduras : spirit_servings : 98.0
Hungary : beer_servings : 234.0
Iceland : beer_servings : 233.0
India : spirit_servings : 114.0
Indonesia : beer_servings : 5.0
Iran : beer_servings : 0.0
Iraq : beer_servings : 9.0
Ireland : beer_servings : 313.0
Israel : spirit_servings : 69.0
Italy : wine_servings : 237.0
Jamaica : spirit_servings : 97.0
Japan : spirit_servings : 202.0
Jordan : spirit_servings : 21.0
Kazakhstan : spirit_servings : 246.0
Kenya : beer_servings : 58.0
Kiribati : spirit_servings : 34.0
Kuwait : beer_servings : 0.0
Kyrgyzstan : spirit_servings : 97.0
Laos : wine_servings : 123.0
Latvia : beer_servings : 281.0
Lebanon : spirit_servings : 55.0
Lesotho : beer_servings : 82.0
Liberia : spirit_servings : 152.0
Libya : beer_servings : 0.0
Lithuania : beer_servings : 343.0
Luxembourg : wine_servings : 271.0
Madagascar : beer_servings : 26.0
Malawi : spirit_servings : 11.0
Malaysia : beer_servings : 13.0
Maldives : beer_servings : 0.0
Mali : beer_servings : 5.0
Malta : beer_servings : 149.0
Marshall Islands : beer_servings : 0.0
Mauritania : beer_servings : 0.0
Mauritius : beer_servings : 98.0
Mexico : beer_servings : 238.0
Micronesia : beer_servings : 62.0
Monaco : beer_servings : 0.0
Mongolia : spirit_servings : 189.0
Montenegro : wine_servings : 128.0
Morocco : beer_servings : 12.0
Mozambique : beer_servings : 47.0
Myanmar : beer_servings : 5.0
Namibia : beer_servings : 376.0
Nauru : beer_servings : 49.0
Nepal : spirit_servings : 6.0
Netherlands : beer_servings : 251.0
New Zealand : beer_servings : 203.0
Nicaragua : spirit_servings : 118.0
Niger : beer_servings : 3.0
Nigeria : beer_servings : 42.0
Niue : spirit_servings : 200.0
Norway : beer_servings : 169.0
Oman : beer_servings : 22.0
Pakistan : beer_servings : 0.0
Palau : beer_servings : 306.0
Panama : beer_servings : 285.0
Papua New Guinea : beer_servings : 44.0
Paraguay : beer_servings : 213.0
Peru : beer_servings : 163.0
Philippines : spirit_servings : 186.0
Poland : beer_servings : 343.0
Portugal : wine_servings : 339.0
Qatar : spirit_servings : 42.0
South Korea : beer_servings : 140.0
Moldova : spirit_servings : 226.0
Romania : beer_servings : 297.0
Russian Federation : spirit_servings : 326.0
Rwanda : beer_servings : 43.0
St. Kitts & Nevis : spirit_servings : 205.0
St. Lucia : spirit_servings : 315.0
St. Vincent & the Grenadines : spirit_servings : 221.0
Samoa : beer_servings : 105.0
San Marino : beer_servings : 0.0
Sao Tome & Principe : wine_servings : 140.0
Saudi Arabia : spirit_servings : 5.0
Senegal : beer_servings : 9.0
Serbia : beer_servings : 283.0
Seychelles : beer_servings : 157.0
Sierra Leone : beer_servings : 25.0
Singapore : beer_servings : 60.0
Slovakia : spirit_servings : 293.0
Slovenia : wine_servings : 276.0
Solomon Islands : beer_servings : 56.0
Somalia : beer_servings : 0.0
South Africa : beer_servings : 225.0
Spain : beer_servings : 284.0
Sri Lanka : spirit_servings : 104.0
Sudan : spirit_servings : 13.0
Suriname : spirit_servings : 178.0
Swaziland : beer_servings : 90.0
Sweden : wine_servings : 186.0
Switzerland : wine_servings : 280.0
Syria : spirit_servings : 35.0
Tajikistan : spirit_servings : 15.0
Thailand : spirit_servings : 258.0
Macedonia : beer_servings : 106.0
Timor-Leste : wine_servings : 4.0
Togo : beer_servings : 36.0
Tonga : beer_servings : 36.0
Trinidad & Tobago : beer_servings : 197.0
Tunisia : beer_servings : 51.0
Turkey : beer_servings : 51.0
Turkmenistan : spirit_servings : 71.0
Tuvalu : spirit_servings : 41.0
Uganda : beer_servings : 45.0
Ukraine : spirit_servings : 237.0
United Arab Emirates : spirit_servings : 135.0
United Kingdom : beer_servings : 219.0
Tanzania : beer_servings : 36.0
USA : beer_servings : 249.0
Uruguay : wine_servings : 220.0
Uzbekistan : spirit_servings : 101.0
Vanuatu : beer_servings : 21.0
Venezuela : beer_servings : 333.0
Vietnam : beer_servings : 111.0
Yemen : beer_servings : 6.0
Zambia : beer_servings : 32.0
Zimbabwe : beer_servings : 64.0

In [74]:
melt2

                                                                   value
country                      variable
Afghanistan                  beer_servings                             0
                             continent                              Asia
                             spirit_servings                           0
                             total_litres_of_pure_alcohol              0
                             wine_servings                             0
Albania                      beer_servings                            89
                             continent                            Europe
                             spirit_servings                         132
                             total_litres_of_pure_alcohol            4.9
                             wine_servings                            54
Algeria                      beer_servings                            25
                             continent                            Africa
                             spirit_servings                           0
                             total_litres_of_pure_alcohol            0.7
                             wine_servings                            14
Andorra                      beer_servings                           245
                             continent                            Europe
                             spirit_servings                         138
                             total_litres_of_pure_alcohol           12.4
                             wine_servings                           312
Angola                       beer_servings                           217
                             continent                            Africa
                             spirit_servings                          57
                             total_litres_of_pure_alcohol            5.9
                             wine_servings                            45
Antigua & Barbuda            beer_servings                           102
                             continent                     North America
                             spirit_servings                         128
                             total_litres_of_pure_alcohol            4.9
                             wine_servings                            45
Argentina                    beer_servings                           193
                             continent                     South America
                             spirit_servings                          25
                             total_litres_of_pure_alcohol            8.3
                             wine_servings                           221
Armenia                      beer_servings                            21
                             continent                            Europe
                             spirit_servings                         179
                             total_litres_of_pure_alcohol            3.8
                             wine_servings                            11
Australia                    beer_servings                           261
                             continent                           Oceania
                             spirit_servings                          72
                             total_litres_of_pure_alcohol           10.4
                             wine_servings                           212
Austria                      beer_servings                           279
                             continent                            Europe
                             spirit_servings                          75
                             total_litres_of_pure_alcohol            9.7
                             wine_servings                           191
Azerbaijan                   beer_servings                            21
                             continent                            Europe
                             spirit_servings                          46
                             total_litres_of_pure_alcohol            1.3
                             wine_servings                             5
Bahamas                      beer_servings                           122
                             continent                     North America
                             spirit_servings                         176
                             total_litres_of_pure_alcohol            6.3
                             wine_servings                            51
Bahrain                      beer_servings                            42
                             continent                              Asia
                             spirit_servings                          63
                             total_litres_of_pure_alcohol              2
                             wine_servings                             7
Bangladesh                   beer_servings                             0
                             continent                              Asia
                             spirit_servings                           0
                             total_litres_of_pure_alcohol              0
                             wine_servings                             0
Barbados                     beer_servings                           143
                             continent                     North America
                             spirit_servings                         173
                             total_litres_of_pure_alcohol            6.3
                             wine_servings                            36
Belarus                      beer_servings                           142
                             continent                            Europe
                             spirit_servings                         373
                             total_litres_of_pure_alcohol           14.4
                             wine_servings                            42
Belgium                      beer_servings                           295
                             continent                            Europe
                             spirit_servings                          84
                             total_litres_of_pure_alcohol           10.5
                             wine_servings                           212
Belize                       beer_servings                           263
                             continent                     North America
                             spirit_servings                         114
                             total_litres_of_pure_alcohol            6.8
                             wine_servings                             8
Benin                        beer_servings                            34
                             continent                            Africa
                             spirit_servings                           4
                             total_litres_of_pure_alcohol            1.1
                             wine_servings                            13
Bhutan                       beer_servings                            23
                             continent                              Asia
                             spirit_servings                           0
                             total_litres_of_pure_alcohol            0.4
                             wine_servings                             0
Bolivia                      beer_servings                           167
                             continent                     South America
                             spirit_servings                          41
                             total_litres_of_pure_alcohol            3.8
                             wine_servings                             8
Bosnia-Herzegovina           beer_servings                            76
                             continent                            Europe
                             spirit_servings                         173
                             total_litres_of_pure_alcohol            4.6
                             wine_servings                             8
Botswana                     beer_servings                           173
                             continent                            Africa
                             spirit_servings                          35
                             total_litres_of_pure_alcohol            5.4
                             wine_servings                            35
Brazil                       beer_servings                           245
                             continent                     South America
                             spirit_servings                         145
                             total_litres_of_pure_alcohol            7.2
                             wine_servings                            16
Brunei                       beer_servings                            31
                             continent                              Asia
                             spirit_servings                           2
                             total_litres_of_pure_alcohol            0.6
                             wine_servings                             1
Bulgaria                     beer_servings                           231
                             continent                            Europe
                             spirit_servings                         252
                             total_litres_of_pure_alcohol           10.3
                             wine_servings                            94
Burkina Faso                 beer_servings                            25
                             continent                            Africa
                             spirit_servings                           7
                             total_litres_of_pure_alcohol            4.3
                             wine_servings                             7
Burundi                      beer_servings                            88
                             continent                            Africa
                             spirit_servings                           0
                             total_litres_of_pure_alcohol            6.3
                             wine_servings                             0
Cabo Verde                   beer_servings                           144
                             continent                            Africa
                             spirit_servings                          56
                             total_litres_of_pure_alcohol              4
                             wine_servings                            16
Cambodia                     beer_servings                            57
                             continent                              Asia
                             spirit_servings                          65
                             total_litres_of_pure_alcohol            2.2
                             wine_servings                             1
Cameroon                     beer_servings                           147
                             continent                            Africa
                             spirit_servings                           1
                             total_litres_of_pure_alcohol            5.8
                             wine_servings                             4
Canada                       beer_servings                           240
                             continent                     North America
                             spirit_servings                         122
                             total_litres_of_pure_alcohol            8.2
                             wine_servings                           100
Central African Republic     beer_servings                            17
                             continent                            Africa
                             spirit_servings                           2
                             total_litres_of_pure_alcohol            1.8
                             wine_servings                             1
Chad                         beer_servings                            15
                             continent                            Africa
                             spirit_servings                           1
                             total_litres_of_pure_alcohol            0.4
                             wine_servings                             1
Chile                        beer_servings                           130
                             continent                     South America
                             spirit_servings                         124
                             total_litres_of_pure_alcohol            7.6
                             wine_servings                           172
China                        beer_servings                            79
                             continent                              Asia
                             spirit_servings                         192
                             total_litres_of_pure_alcohol              5
                             wine_servings                             8
Colombia                     beer_servings                           159
                             continent                     South America
                             spirit_servings                          76
                             total_litres_of_pure_alcohol            4.2
                             wine_servings                             3
Comoros                      beer_servings                             1
                             continent                            Africa
                             spirit_servings                           3
                             total_litres_of_pure_alcohol            0.1
                             wine_servings                             1
Congo                        beer_servings                            76
                             continent                            Africa
                             spirit_servings                           1
                             total_litres_of_pure_alcohol            1.7
                             wine_servings                             9
Cook Islands                 beer_servings                             0
                             continent                           Oceania
                             spirit_servings                         254
                             total_litres_of_pure_alcohol            5.9
                             wine_servings                            74
Costa Rica                   beer_servings                           149
                             continent                     North America
                             spirit_servings                          87
                             total_litres_of_pure_alcohol            4.4
                             wine_servings                            11
Cote d'Ivoire                beer_servings                            37
                             continent                            Africa
                             spirit_servings                           1
                             total_litres_of_pure_alcohol              4
                             wine_servings                             7
Croatia                      beer_servings                           230
                             continent                            Europe
                             spirit_servings                          87
                             total_litres_of_pure_alcohol           10.2
                             wine_servings                           254
Cuba                         beer_servings                            93
                             continent                     North America
                             spirit_servings                         137
                             total_litres_of_pure_alcohol            4.2
                             wine_servings                             5
Cyprus                       beer_servings                           192
                             continent                            Europe
                             spirit_servings                         154
                             total_litres_of_pure_alcohol            8.2
                             wine_servings                           113
Czech Republic               beer_servings                           361
                             continent                            Europe
                             spirit_servings                         170
                             total_litres_of_pure_alcohol           11.8
                             wine_servings                           134
DR Congo                     beer_servings                            32
                             continent                            Africa
                             spirit_servings                           3
                             total_litres_of_pure_alcohol            2.3
                             wine_servings                             1
Denmark                      beer_servings                           224
                             continent                            Europe
                             spirit_servings                          81
                             total_litres_of_pure_alcohol           10.4
                             wine_servings                           278
Djibouti                     beer_servings                            15
                             continent                            Africa
                             spirit_servings                          44
                             total_litres_of_pure_alcohol            1.1
                             wine_servings                             3
Dominica                     beer_servings                            52
                             continent                     North America
                             spirit_servings                         286
                             total_litres_of_pure_alcohol            6.6
                             wine_servings                            26
Dominican Republic           beer_servings                           193
                             continent                     North America
                             spirit_servings                         147
                             total_litres_of_pure_alcohol            6.2
                             wine_servings                             9
Ecuador                      beer_servings                           162
                             continent                     South America
                             spirit_servings                          74
                             total_litres_of_pure_alcohol            4.2
                             wine_servings                             3
Egypt                        beer_servings                             6
                             continent                            Africa
                             spirit_servings                           4
                             total_litres_of_pure_alcohol            0.2
                             wine_servings                             1
El Salvador                  beer_servings                            52
                             continent                     North America
                             spirit_servings                          69
                             total_litres_of_pure_alcohol            2.2
                             wine_servings                             2
Equatorial Guinea            beer_servings                            92
                             continent                            Africa

In [81]:
for pais in melt2.index.get_level_values(0).unique():
    melt_pais = melt2.loc[pais]

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [116]:
melt2.loc['Albania'].iloc[[0, 2, 3, 4]]["value"].idxmax() #?

TypeError: reduction operation 'argmax' not allowed for this dtype

2. Considere os dados de preço de fechamento e volume das ações que estão dentro de "data/stocks.csv". <br>
a. Escolha um método de python ensinado na aula de hoje para obter um dataframe cujas linhas são os códigos das ações e as colunas são as datas.

In [125]:
data = pd.read_csv('data/stocks.csv')
data

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT
5  2016-10-04   31.35  18460400   CSCO
6  2016-10-05   57.64  16726400   MSFT
7  2016-10-05   31.59  11808600   CSCO
8  2016-10-05  113.05  21453100   AAPL

In [131]:
#?
table = pd.pivot_table(data,
                       index=['Symbol'],
                       columns=['Date'],
                       aggfunc='sum',
                       margins=1)
table

            Close                                   Volume             \
Date   2016-10-03 2016-10-04 2016-10-05     All 2016-10-03 2016-10-04
Symbol
AAPL       112.52     113.00     113.05  338.57   21701800   29736800
CSCO        31.50      31.35      31.59   94.44   14070500   18460400
MSFT        57.42      57.24      57.64  172.30   19189500   20085900
All        201.44     201.59     202.28  605.31   54961800   68283100


Date   2016-10-05        All
Symbol
AAPL     21453100   72891700
CSCO     11808600   44339500
MSFT     16726400   56001800
All      49988100  173233000

b. Com o df original, converta o código das ações para variáveis dummies.

In [133]:
pd.get_dummies(data, columns=["Symbol"], drop_first=True)

         Date   Close    Volume  Symbol_CSCO  Symbol_MSFT
0  2016-10-03   31.50  14070500            1            0
1  2016-10-03  112.52  21701800            0            0
2  2016-10-03   57.42  19189500            0            1
3  2016-10-04  113.00  29736800            0            0
4  2016-10-04   57.24  20085900            0            1
5  2016-10-04   31.35  18460400            1            0
6  2016-10-05   57.64  16726400            0            1
7  2016-10-05   31.59  11808600            1            0
8  2016-10-05  113.05  21453100            0            0

3. Considere os dados do arquivo "german_credit.csv" que contem dados de empréstimos realizados por um banco.<br>
a. Encontre qual a média de empréstimo ("Credit Amount") obtidos considerando o propósito ("Purpose") do empréstimo nas linhas e o sexo ("Sex") nas colunas.

In [135]:
gc = pd.read_csv("data/german_credit.csv").drop("Unnamed: 0", axis=1)
gc

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car
5,35,male,1,free,NaN,NaN,9055,36,education
6,53,male,2,own,quite rich,NaN,2835,24,furniture/equipment
7,35,male,3,rent,little,moderate,6948,36,car
8,61,male,1,own,rich,NaN,3059,12,radio/TV
9,28,male,3,own,little,moderate,5234,30,car
10,25,female,2,rent,little,moderate,1295,12,car
11,24,female,2,rent,little,little,4308,48,business
12,22,female,2,own,little,moderate,1567,12,radio/TV
13,60,male,1,own,little,little,1199,24,car
14,28,female,2,rent,little,little,1403,15,car
15,32,female,1,own,moderate,little,1282,24,radio/TV
16,53,male,2,own,NaN,NaN,2424,24,radio/TV
17,25,male,2,own,NaN,little,8072,30,business
18,44,female,3,free,little,moderate,12579,24,car
19,31,male,2,own,quite rich,NaN,3430,24,radio/TV
20,48,male,2,own,little,NaN,2134,9,car
21,44,male,2,rent,quite rich,little,2647,6,radio/TV
22,48,male,1,rent,little,little,2241,10,car
23,44,male,2,own,moderate,moderate,1804,12,car
24,26,male,2,own,NaN,NaN,2069,10,furniture/equipment
25,36,male,1,own,little,little,1374,6,furniture/equipment
26,39,male,1,own,little,NaN,426,6,radio/TV
27,42,female,2,rent,rich,rich,409,12,radio/TV
28,34,male,2,own,little,moderate,2415,7,radio/TV
29,63,male,2,own,little,little,6836,60,business
30,36,male,2,own,rich,moderate,1913,18,business
31,27,male,2,own,little,little,4020,24,furniture/equipment
32,30,male,2,own,moderate,moderate,5866,18,car
33,57,male,1,rent,NaN,NaN,1264,12,business
34,33,female,3,own,little,rich,1474,12,furniture/equipment
35,25,male,1,own,little,moderate,4746,45,radio/TV
36,31,male,2,free,little,NaN,6110,48,education
37,37,male,2,own,little,rich,2100,18,radio/TV
38,37,male,2,own,little,rich,1225,10,domestic appliances
39,24,male,2,own,little,moderate,458,9,radio/TV
40,30,male,3,own,quite rich,NaN,2333,30,radio/TV
41,26,male,2,own,quite rich,moderate,1158,12,radio/TV
42,44,male,1,own,little,moderate,6204,18,repairs
43,24,male,2,rent,moderate,little,6187,30,car
44,58,female,1,free,little,little,6143,48,car
45,35,female,3,own,little,NaN,1393,11,car
46,39,male,2,own,quite rich,NaN,2299,36,radio/TV
47,23,female,0,rent,quite rich,little,1352,6,car
48,39,male,1,own,little,NaN,7228,11,car
49,28,female,2,own,moderate,NaN,2073,12,radio/TV
50,29,male,1,own,NaN,moderate,2333,24,furniture/equipment
51,30,male,3,own,little,moderate,5965,27,car
52,25,male,2,own,little,NaN,1262,12,radio/TV
53,31,male,2,own,NaN,NaN,3378,18,car
54,57,male,2,free,little,moderate,2225,36,car
55,26,male,1,own,NaN,NaN,783,6,car
56,52,male,3,own,NaN,moderate,6468,12,radio/TV
57,31,female,2,own,little,NaN,9566,36,radio/TV
58,23,female,3,own,little,rich,1961,18,car
59,23,female,1,rent,little,little,6229,36,furniture/equipment
60,27,male,2,own,little,moderate,1391,9,business
61,50,male,2,own,NaN,moderate,1537,15,radio/TV
62,61,male,3,free,little,moderate,1953,36,business
63,25,male,2,own,little,moderate,14421,48,business
64,26,female,2,own,little,NaN,3181,24,radio/TV
65,48,male,2,own,NaN,NaN,5190,27,repairs
66,29,female,2,own,little,NaN,2171,12,radio/TV
67,22,male,2,own,rich,moderate,1007,12,car
68,37,male,2,free,little,NaN,1819,36,education
69,25,female,2,own,NaN,NaN,2394,36,radio/TV
70,30,female,2,own,little,NaN,8133,36,car
71,46,male,1,rent,NaN,NaN,730,7,radio/TV
72,51,male,3,free,little,little,1164,8,vacation/others
73,41,female,1,own,little,moderate,5954,42,business
74,40,male,3,own,NaN,little,1977,36,education
75,66,male,3,free,little,little,1526,12,car
76,34,male,2,own,little,little,3965,42,radio/TV
77,51,male,2,own,little,moderate,4771,11,radio/TV
78,39,male,1,own,NaN,NaN,9436,54,car
79,22,male,2,own,little,moderate,3832,30,furniture/equipment
80,44,female,2,own,NaN,NaN,5943,24,radio/TV
81,47,male,2,own,quite rich,NaN,1213,15,radio/TV
82,24,female,1,rent,moderate,NaN,1568,18,business
83,58,female,1,own,little,little,1755,24,vacation/others
84,52,male,1,own,little,little,2315,10,radio/TV
85,29,female,3,own,little,NaN,1412,12,business
86,27,female,2,own,little,moderate,1295,18,furniture/equipment
87,47,male,2,free,moderate,moderate,12612,36,education
88,30,male,3,own,moderate,little,2249,18,car
89,28,male,2,own,little,little,1108,12,repairs
90,56,male,2,own,little,NaN,618,12,radio/TV
91,54,male,2,own,little,little,1409,12,car
92,33,female,1,own,NaN,NaN,797,12,radio/TV
93,20,male,2,rent,NaN,rich,3617,24,furniture/equipment
94,54,male,2,own,rich,moderate,1318,12,car
95,58,male,2,rent,little,moderate,15945,54,business
96,61,female,2,own,NaN,NaN,2012,12,education
97,34,male,2,own,moderate,moderate,2622,18,business
98,36,male,2,own,little,moderate,2337,36,radio/TV
99,36,male,3,rent,NaN,moderate,7057,20,car
100,41,male,1,rent,moderate,NaN,1469,24,car
101,24,male,2,rent,little,moderate,2323,36,radio/TV
102,24,female,2,own,little,NaN,932,6,radio/TV
103,35,male,2,rent,little,moderate,1919,9,furniture/equipment
104,26,male,2,rent,NaN,NaN,2445,12,car
105,39,male,3,own,little,moderate,11938,24,vacation/others
106,39,male,3,own,little,NaN,6458,18,car
107,32,male,2,own,little,moderate,6078,12,car
108,30,female,2,own,NaN,little,7721,24,furniture/equipment
109,35,male,2,own,quite rich,moderate,1410,14,business
110,31,male,2,own,moderate,moderate,1449,6,business
111,23,female,2,rent,little,rich,392,15,education
112,28,male,1,rent,little,moderate,6260,18,car
113,25,female,2,own,little,NaN,7855,36,car
114,35,male,2,own,quite rich,little,1680,12,radio/TV
115,47,male,2,own,NaN,NaN,3578,48,radio/TV
116,30,female,3,own,NaN,little,7174,42,radio/TV
117,27,female,2,rent,NaN,little,2132,10,furniture/equipment
118,23,female,2,own,quite rich,little,4281,33,furniture/equipment
119,36,male,3,own,quite rich,moderate,2366,12,car
120,25,female,2,own,little,little,1835,21,radio/TV
121,41,female,3,rent,little,NaN,3868,24,car
122,24,male,1,rent,little,NaN,1768,12,furniture/equipment
123,63,male,2,free,little,rich,781,10,car
124,27,female,2,rent,NaN,moderate,1924,18,furniture/equipment
125,30,male,2,own,little,little,2121,12,car
126,40,male,1,own,little,little,701,12,radio/TV
127,30,male,2,own,little,moderate,639,12,repairs
128,34,male,3,own,little,moderate,1860,12,car
129,29,female,2,own,little,little,3499,12,car
130,24,female,2,own,NaN,moderate,8487,48,car
131,29,male,2,own,little,little,6887,36,education
132,27,male,1,own,little,NaN,2708,15,furniture/equipment
133,47,male,2,free,little,NaN,1984,18,furniture/equipment
134,21,female,2,own,moderate,NaN,10144,60,radio/TV
135,38,female,2,own,NaN,NaN,1240,12,radio/TV
136,27,male,2,own,rich,NaN,8613,27,car
137,66,male,1,own,quite rich,moderate,766,12,radio/TV
138,35,male,2,own,NaN,moderate,2728,15,radio/TV
139,44,female,1,rent,little,rich,1881,12,radio/TV
140,27,male,0,own,rich,rich,709,6,car
141,30,female,3,own,little,moderate,4795,36,radio/TV
142,27,male,3,own,little,little,3416,27,radio/TV
143,22,male,2,own,little,little,2462,18,furniture/equipment
144,23,female,2,own,little,NaN,2288,21,furniture/equipment
145,30,male,2,own,moderate,moderate,3566,48,business
146,39,female,2,own,little,little,860,6,car
147,51,female,2,own,moderate,NaN,682,12,car
148,28,male,2,own,little,little,5371,36,furniture/equipment
149,46,male,2,own,rich,NaN,1582,18,radio/TV
150,42,male,2,free,moderate,NaN,1346,6,radio/TV
151,38,male,2,own,little,NaN,1924,10,radio/TV
152,24,male,2,own,little,rich,5848,36,radio/TV
153,29,female,2,rent,rich,moderate,7758,24,car
154,36,male,3,rent,moderate,moderate,6967,24,business
155,20,female,2,rent,little,little,1282,12,furniture/equipment
156,48,male,2,own,moderate,little,1288,9,repairs
157,45,male,1,own,little,little,339,12,education
158,38,male,2,own,moderate,moderate,3512,24,car
159,34,male,1,own,NaN,NaN,1898,6,radio/TV
160,36,male,2,own,moderate,NaN,2872,24,radio/TV
161,30,female,2,own,little,NaN,1055,18,car
162,36,male,2,own,quite rich,NaN,1262,15,domestic appliances
163,70,male,3,free,little,moderate,7308,10,car
164,36,male,2,own,quite rich,NaN,909,36,car
165,32,male,2,own,quite rich,NaN,2978,6,furniture/equipment
166,33,female,2,own,little,little,1131,18,furniture/equipment
167,20,female,2,own,rich,moderate,1577,11,furniture/equipment
168,25,female,2,rent,little,NaN,3972,24,furniture/equipment
169,31,male,2,own,little,moderate,1935,24,business
170,33,male,2,rent,little,little,950,15,car
171,26,female,2,own,little,NaN,763,12,furniture/equipment
172,34,female,3,own,little,moderate,2064,24,furniture/equipment
173,33,male,2,own,little,moderate,1414,8,radio/TV
174,26,male,2,own,little,little,3414,21,education
175,53,female,3,own,NaN,NaN,7485,30,car
176,42,male,2,own,little,little,2577,12,furniture/equipment
177,52,male,2,own,quite rich,little,338,6,radio/TV
178,31,male,3,rent,little,NaN,1963,12,radio/TV
179,65,male,2,own,little,little,571,21,car
180,28,male,2,own,little,NaN,9572,36,business
181,30,male,3,own,little,moderate,4455,36,business
182,40,male,1,own,NaN,little,1647,21,car
183,50,male,2,own,rich,NaN,3777,24,furniture/equipment
184,36,male,2,own,little,moderate,884,18,car
185,31,male,2,own,little,NaN,1360,15,radio/TV
186,74,female,3,free,little,moderate,5129,9,car
187,68,male,0,free,little,moderate,1175,16,car
188,20,male,2,own,moderate,little,674,12,radio/TV
189,33,female,2,own,little,moderate,3244,18,furniture/equipment
190,54,male,3,own,rich,NaN,4591,24,business
191,34,male,1,free,moderate,moderate,3844,48,business
192,36,male,2,own,little,moderate,3915,27,business
193,29,male,2,rent,little,NaN,2108,6,radio/TV
194,21,male,2,rent,moderate,moderate,3031,45,radio/TV
195,34,female,3,own,little,moderate,1501,9,education
196,28,female,2,own,little,NaN,1382,6,radio/TV
197,27,female,2,rent,moderate,moderate,951,12,furniture/equipment
198,36,male,2,free,NaN,moderate,2760,24,car
199,40,male,3,own,little,moderate,4297,18,furniture/equipment
200,52,male,2,own,quite rich,NaN,936,9,education
201,27,male,1,own,little,little,1168,12,car
202,26,male,2,own,little,NaN,5117,27,business
203,21,male,2,rent,little,little,902,12,education
204,38,male,1,own,little,NaN,1495,12,car
205,38,male,3,free,little,little,10623,30,car
206,43,male,2,own,little,NaN,1935,12,furniture/equipment
207,26,male,2,own,little,moderate,1424,12,domestic appliances
208,21,male,1,own,little,little,6568,24,business
209,55,male,2,own,rich,NaN,1413,12,car
210,33,male,2,own,NaN,NaN,3074,9,radio/TV
211,45,female,1,own,NaN,NaN,3835,36,radio/TV
212,50,male,2,own,little,little,5293,27,business
213,66,male,3,own,little,rich,1908,30,business
214,51,male,2,own,NaN,NaN,3342,36,radio/TV
215,39,female,1,own,NaN,moderate,932,6,education
216,31,male,2,own,little,little,3104,18,business
217,23,male,2,own,little,rich,3913,36,radio/TV
218,24,male,1,rent,little,little,3021,24,furniture/equipment
219,64,female,2,own,little,NaN,1364,10,car
220,26,male,1,own,little,moderate,625,12,radio/TV
221,23,female,2,rent,NaN,little,1200,12,education
222,30,male,2,own,little,NaN,707,12,radio/TV
223,32,male,2,own,NaN,NaN,2978,24,business
224,30,male,2,own,little,NaN,4657,15,car
225,27,male,2,own,little,NaN,2613,36,repairs
226,27,male,2,own,rich,moderate,10961,48,radio/TV
227,53,male,3,free,little,little,7865,12,furniture/equipment
228,22,male,2,own,little,NaN,1478,9,radio/TV
229,22,male,2,free,little,little,3149,24,furniture/equipment
230,26,male,2,own,little,rich,4210,36,radio/TV
231,51,male,1,free,quite rich,NaN,2507,9,car
232,35,male,2,own,moderate,NaN,2141,12,radio/TV
233,25,male,1,own,little,moderate,866,18,radio/TV
234,42,male,1,own,little,NaN,1544,4,radio/TV
235,30,male,3,own,little,little,1823,24,radio/TV
236,23,male,0,own,NaN,moderate,14555,6,car
237,61,male,1,rent,moderate,moderate,2767,21,business
238,35,female,2,own,little,NaN,1291,12,radio/TV
239,39,male,2,own,little,little,2522,30,radio/TV
240,29,female,2,own,NaN,little,915,24,car
241,51,male,2,own,little,NaN,1595,6,radio/TV
242,24,male,2,free,little,little,4605,48,car
243,27,female,2,own,little,NaN,1185,12,business
244,35,female,1,own,quite rich,NaN,3447,12,education
245,25,male,2,own,little,NaN,1258,24,business
246,52,male,2,own,little,NaN,717,12,radio/TV
247,35,male,2,rent,moderate,NaN,1204,6,car
248,26,male,2,own,little,rich,1925,24,furniture/equipment
249,22,female,2,rent,little,NaN,433,18,radio/TV
250,39,female,1,own,rich,little,666,6,car
251,46,female,1,own,little,rich,2251,12,furniture/equipment
252,24,female,2,own,little,moderate,2150,30,car
253,35,male,2,own,moderate,NaN,4151,24,furniture/equipment
254,24,male,2,own,NaN,moderate,2030,9,furniture/equipment
255,27,male,1,own,NaN,moderate,7418,60,radio/TV
256,35,male,1,own,little,NaN,2684,24,radio/TV
257,29,male,2,free,little,little,2149,12,radio/TV
258,23,female,2,own,moderate,NaN,3812,15,car
259,57,female,1,own,moderate,NaN,1154,11,radio/TV
260,27,male,2,own,little,little,1657,12,furniture/equipment
261,55,female,2,own,little,little,1603,24,radio/TV
262,36,male,3,free,little,little,5302,18,car
263,57,female,1,free,little,NaN,2748,12,education
264,32,male,1,own,little,NaN,1231,10,car
265,37,male,2,own,little,moderate,802,15,radio/TV
266,36,male,2,own,NaN,NaN,6304,36,business
267,38,female,2,own,little,NaN,1533,24,radio/TV
268,45,male,3,own,little,little,8978,14,car
269,25,male,2,own,NaN,NaN,999,24,radio/TV
270,32,male,2,own,NaN,NaN,2662,18,car
271,37,female,2,rent,quite rich,NaN,1402,12,furniture/equipment
272,36,male,3,free,NaN,moderate,12169,48,car
273,28,male,2,own,little,moderate,3060,48,radio/TV
274,34,male,1,own,little,little,11998,30,repairs
275,32,male,2,own,little,NaN,2697,9,radio/TV
276,26,female,2,own,little,NaN,2404,18,radio/TV
277,49,male,1,own,NaN,little,1262,12,furniture/equipment
278,32,female,2,own,little,NaN,4611,6,furniture/equipment
279,29,male,3,rent,moderate,NaN,1901,24,radio/TV
280,23,male,2,rent,rich,NaN,3368,15,car
281,50,male,2,own,little,NaN,1574,12,furniture/equipment
282,49,male,1,own,NaN,rich,1445,18,radio/TV
283,63,male,2,own,NaN,NaN,1520,15,furniture/equipment
284,37,male,2,own,moderate,moderate,3878,24,car
285,35,female,1,own,little,little,10722,47,car
286,26,male,2,own,little,little,4788,48,car
287,31,male,3,free,moderate,moderate,7582,48,vacation/others
288,49,female,2,own,little,moderate,1092,12,radio/TV
289,48,male,2,own,little,little,1024,24,radio/TV
290,26,male,2,own,little,NaN,1076,12,business
291,28,male,3,rent,little,moderate,9398,36,car
292,44,female,3,free,little,little,6419,24,car
293,56,male,2,free,little,rich,4796,42,car
294,46,male,3,own,NaN,NaN,7629,48,business
295,26,female,2,own,little,moderate,9960,48,furniture/equipment
296,20,female,2,rent,NaN,NaN,4675,12,car
297,45,male,1,own,NaN,NaN,1287,10,car
298,43,male,2,own,little,NaN,2515,18,furniture/equipment
299,32,male,2,own,rich,moderate,2745,21,furniture/equipment
300,54,female,0,own,little,NaN,672,6,car
301,42,female,2,own,little,moderate,3804,36,radio/TV
302,37,male,1,own,NaN,rich,1344,24,car
303,49,male,2,own,little,little,1038,10,car
304,44,male,2,free,quite rich,NaN,10127,48,car
305,33,male,2,own,rich,NaN,1543,6,furniture/equipment
306,24,female,1,rent,NaN,NaN,4811,30,car
307,33,male,1,own,moderate,little,727,12,radio/TV
308,24,female,2,own,little,moderate,1237,8,furniture/equipment
309,22,male,1,rent,little,moderate,276,9,car
310,40,male,0,free,NaN,moderate,5381,48,vacation/others
311,25,male,2,own,moderate,NaN,5511,24,furniture/equipment
312,26,female,2,own,little,rich,3749,24,furniture/equipment
313,25,male,1,own,little,moderate,685,12,car
314,29,male,1,own,NaN,rich,1494,4,car
315,31,male,2,own,little,little,2746,36,furniture/equipment
316,38,male,1,own,little,little,708,12,furniture/equipment
317,48,female,1,own,NaN,moderate,4351,24,furniture/equipment
318,32,male,2,own,little,NaN,701,12,education
319,27,female,1,own,little,little,3643,15,furniture/equipment
320,28,male,3,own,little,moderate,4249,30,car
321,32,male,2,own,little,little,1938,24,radio/TV
322,34,male,3,free,little,little,2910,24,car
323,28,male,2,own,rich,little,2659,18,furniture/equipment
324,36,female,2,own,little,NaN,1028,18,car
325,39,male,1,own,little,little,3398,8,car
326,49,male,2,rent,NaN,NaN,5801,12,furniture/equipment
327,34,female,2,own,rich,NaN,1525,24,car
328,31,male,2,own,little,rich,4473,36,radio/TV
329,28,male,2,own,little,moderate,1068,6,radio/TV
330,75,male,3,free,little,little,6615,24,car
331,30,female,2,own,moderate,NaN,1864,18,education
332,24,female,3,own,moderate,moderate,7408,60,car
333,24,female,1,rent,moderate,NaN,11590,48,car
334,23,male,2,rent,little,little,4110,24,furniture/equipment
335,44,male,3,rent,little,little,3384,6,furniture/equipment
336,23,female,1,own,little,moderate,2101,13,radio/TV
337,24,female,2,rent,NaN,little,1275,15,domestic appliances
338,28,male,2,own,little,little,4169,24,furniture/equipment
339,31,male,1,own,little,moderate,1521,10,furniture/equipment
340,24,female,2,free,little,moderate,5743,24,education
341,26,female,1,rent,little,little,3599,21,furniture/equipment
342,25,male,2,rent,quite rich,moderate,3213,18,radio/TV
343,33,male,3,own,little,moderate,4439,18,business
344,37,male,1,own,little,rich,3949,10,car
345,43,female,1,own,little,NaN,1459,15,radio/TV
346,23,male,2,own,little,moderate,882,13,radio/TV
347,23,female,0,rent,quite rich,moderate,3758,24,radio/TV
348,34,male,1,own,moderate,NaN,1743,6,business
349,32,male,2,free,rich,moderate,1136,9,education
350,23,female,2,rent,little,NaN,1236,9,domestic appliances
351,29,female,2,own,little,moderate,959,9,furniture/equipment
352,38,male,3,own,NaN,NaN,3229,18,car
353,28,male,2,rent,little,little,6199,12,radio/TV
354,46,male,2,free,quite rich,NaN,727,10,education
355,23,male,1,own,little,moderate,1246,24,car
356,49,male,2,own,NaN,NaN,2331,12,radio/TV
357,26,male,3,own,little,NaN,4463,36,radio/TV
358,28,male,2,own,little,NaN,776,12,radio/TV
359,23,female,2,rent,little,little,2406,30,furniture/equipment
360,61,male,2,free,NaN,moderate,1239,18,education
361,37,male,3,own,NaN,rich,3399,12,radio/TV
362,36,female,2,own,little,rich,2247,12,car
363,21,male,2,rent,little,NaN,1766,6,furniture/equipment
364,25,male,0,own,little,little,2473,18,furniture/equipment
365,36,male,2,own,little,NaN,1542,12,business
366,27,male,2,own,little,NaN,3850,18,car
367,22,female,2,rent,little,little,3650,18,furniture/equipment
368,42,male,2,own,little,little,3446,36,furniture/equipment
369,40,female,2,rent,little,moderate,3001,18,furniture/equipment
370,36,male,2,own,NaN,NaN,3079,36,car
371,33,male,2,own,little,NaN,6070,18,radio/TV
372,23,female,2,rent,little,NaN,2146,10,furniture/equipment
373,63,male,3,free,NaN,NaN,13756,60,car
374,60,female,3,free,moderate,moderate,14782,60,vacation/others
375,37,female,2,rent,little,little,7685,48,business
376,34,male,2,own,little,NaN,2320,18,radio/TV
377,36,male,2,free,NaN,NaN,846,7,radio/TV
378,57,male,3,free,little,moderate,14318,36,car
379,52,female,1,own,moderate,NaN,362,6,car
380,39,male,2,own,NaN,little,2212,20,furniture/equipment
381,38,female,3,free,little,moderate,12976,18,car
382,25,female,2,rent,NaN,NaN,1283,22,car
383,26,male,2,own,little,rich,1330,12,car
384,26,male,1,own,moderate,NaN,4272,30,business
385,25,female,2,own,little,NaN,2238,18,radio/TV
386,21,female,2,rent,NaN,NaN,1126,18,radio/TV
387,40,male,3,own,little,moderate,7374,18,furniture/equipment
388,27,male,2,own,quite rich,moderate,2326,15,business
389,27,female,2,own,little,NaN,1449,9,business
390,30,male,3,own,little,NaN,1820,18,car
391,19,female,1,rent,rich,moderate,983,12,furniture/equipment
392,39,male,3,free,little,little,3249,36,car
393,31,female,2,own,little,little,1957,6,radio/TV
394,31,male,3,own,little,NaN,2406,9,furniture/equipment
395,32,male,2,rent,moderate,moderate,11760,39,education
396,55,female,3,free,little,little,2578,12,furniture/equipment
397,46,male,2,own,little,little,2348,36,furniture/equipment
398,46,male,2,rent,little,moderate,1223,12,car
399,43,female,1,own,rich,NaN,1516,24,radio/TV
400,39,male,2,own,little,NaN,1473,18,radio/TV
401,28,male,2,own,NaN,moderate,1887,18,business

In [140]:
table = pd.pivot_table(gc,
                       index=['Purpose'],
                       columns=['Sex'],
                       values=['Credit amount'],
                       aggfunc='mean',
                       margins=1)
table

                    Credit amount
Sex                        female         male          All
Purpose
business              3195.421053  4392.525641  4158.041237
car                   3369.723404  3922.333333  3768.192878
domestic appliances   1409.833333  1586.166667  1498.000000
education             2134.041667  3390.171429  2879.203390
furniture/equipment   2774.729730  3269.112150  3066.988950
radio/TV              2400.517647  2525.635897  2487.653571
repairs               2126.400000  2905.058824  2728.090909
vacation/others      11653.666667  7061.222222  8209.333333
All                   2877.774194  3448.040580  3271.258000


b. Converta as variáveis categóricas em numéricas.

In [141]:
gc

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car
5,35,male,1,free,NaN,NaN,9055,36,education
6,53,male,2,own,quite rich,NaN,2835,24,furniture/equipment
7,35,male,3,rent,little,moderate,6948,36,car
8,61,male,1,own,rich,NaN,3059,12,radio/TV
9,28,male,3,own,little,moderate,5234,30,car
10,25,female,2,rent,little,moderate,1295,12,car
11,24,female,2,rent,little,little,4308,48,business
12,22,female,2,own,little,moderate,1567,12,radio/TV
13,60,male,1,own,little,little,1199,24,car
14,28,female,2,rent,little,little,1403,15,car
15,32,female,1,own,moderate,little,1282,24,radio/TV
16,53,male,2,own,NaN,NaN,2424,24,radio/TV
17,25,male,2,own,NaN,little,8072,30,business
18,44,female,3,free,little,moderate,12579,24,car
19,31,male,2,own,quite rich,NaN,3430,24,radio/TV
20,48,male,2,own,little,NaN,2134,9,car
21,44,male,2,rent,quite rich,little,2647,6,radio/TV
22,48,male,1,rent,little,little,2241,10,car
23,44,male,2,own,moderate,moderate,1804,12,car
24,26,male,2,own,NaN,NaN,2069,10,furniture/equipment
25,36,male,1,own,little,little,1374,6,furniture/equipment
26,39,male,1,own,little,NaN,426,6,radio/TV
27,42,female,2,rent,rich,rich,409,12,radio/TV
28,34,male,2,own,little,moderate,2415,7,radio/TV
29,63,male,2,own,little,little,6836,60,business
30,36,male,2,own,rich,moderate,1913,18,business
31,27,male,2,own,little,little,4020,24,furniture/equipment
32,30,male,2,own,moderate,moderate,5866,18,car
33,57,male,1,rent,NaN,NaN,1264,12,business
34,33,female,3,own,little,rich,1474,12,furniture/equipment
35,25,male,1,own,little,moderate,4746,45,radio/TV
36,31,male,2,free,little,NaN,6110,48,education
37,37,male,2,own,little,rich,2100,18,radio/TV
38,37,male,2,own,little,rich,1225,10,domestic appliances
39,24,male,2,own,little,moderate,458,9,radio/TV
40,30,male,3,own,quite rich,NaN,2333,30,radio/TV
41,26,male,2,own,quite rich,moderate,1158,12,radio/TV
42,44,male,1,own,little,moderate,6204,18,repairs
43,24,male,2,rent,moderate,little,6187,30,car
44,58,female,1,free,little,little,6143,48,car
45,35,female,3,own,little,NaN,1393,11,car
46,39,male,2,own,quite rich,NaN,2299,36,radio/TV
47,23,female,0,rent,quite rich,little,1352,6,car
48,39,male,1,own,little,NaN,7228,11,car
49,28,female,2,own,moderate,NaN,2073,12,radio/TV
50,29,male,1,own,NaN,moderate,2333,24,furniture/equipment
51,30,male,3,own,little,moderate,5965,27,car
52,25,male,2,own,little,NaN,1262,12,radio/TV
53,31,male,2,own,NaN,NaN,3378,18,car
54,57,male,2,free,little,moderate,2225,36,car
55,26,male,1,own,NaN,NaN,783,6,car
56,52,male,3,own,NaN,moderate,6468,12,radio/TV
57,31,female,2,own,little,NaN,9566,36,radio/TV
58,23,female,3,own,little,rich,1961,18,car
59,23,female,1,rent,little,little,6229,36,furniture/equipment
60,27,male,2,own,little,moderate,1391,9,business
61,50,male,2,own,NaN,moderate,1537,15,radio/TV
62,61,male,3,free,little,moderate,1953,36,business
63,25,male,2,own,little,moderate,14421,48,business
64,26,female,2,own,little,NaN,3181,24,radio/TV
65,48,male,2,own,NaN,NaN,5190,27,repairs
66,29,female,2,own,little,NaN,2171,12,radio/TV
67,22,male,2,own,rich,moderate,1007,12,car
68,37,male,2,free,little,NaN,1819,36,education
69,25,female,2,own,NaN,NaN,2394,36,radio/TV
70,30,female,2,own,little,NaN,8133,36,car
71,46,male,1,rent,NaN,NaN,730,7,radio/TV
72,51,male,3,free,little,little,1164,8,vacation/others
73,41,female,1,own,little,moderate,5954,42,business
74,40,male,3,own,NaN,little,1977,36,education
75,66,male,3,free,little,little,1526,12,car
76,34,male,2,own,little,little,3965,42,radio/TV
77,51,male,2,own,little,moderate,4771,11,radio/TV
78,39,male,1,own,NaN,NaN,9436,54,car
79,22,male,2,own,little,moderate,3832,30,furniture/equipment
80,44,female,2,own,NaN,NaN,5943,24,radio/TV
81,47,male,2,own,quite rich,NaN,1213,15,radio/TV
82,24,female,1,rent,moderate,NaN,1568,18,business
83,58,female,1,own,little,little,1755,24,vacation/others
84,52,male,1,own,little,little,2315,10,radio/TV
85,29,female,3,own,little,NaN,1412,12,business
86,27,female,2,own,little,moderate,1295,18,furniture/equipment
87,47,male,2,free,moderate,moderate,12612,36,education
88,30,male,3,own,moderate,little,2249,18,car
89,28,male,2,own,little,little,1108,12,repairs
90,56,male,2,own,little,NaN,618,12,radio/TV
91,54,male,2,own,little,little,1409,12,car
92,33,female,1,own,NaN,NaN,797,12,radio/TV
93,20,male,2,rent,NaN,rich,3617,24,furniture/equipment
94,54,male,2,own,rich,moderate,1318,12,car
95,58,male,2,rent,little,moderate,15945,54,business
96,61,female,2,own,NaN,NaN,2012,12,education
97,34,male,2,own,moderate,moderate,2622,18,business
98,36,male,2,own,little,moderate,2337,36,radio/TV
99,36,male,3,rent,NaN,moderate,7057,20,car
100,41,male,1,rent,moderate,NaN,1469,24,car
101,24,male,2,rent,little,moderate,2323,36,radio/TV
102,24,female,2,own,little,NaN,932,6,radio/TV
103,35,male,2,rent,little,moderate,1919,9,furniture/equipment
104,26,male,2,rent,NaN,NaN,2445,12,car
105,39,male,3,own,little,moderate,11938,24,vacation/others
106,39,male,3,own,little,NaN,6458,18,car
107,32,male,2,own,little,moderate,6078,12,car
108,30,female,2,own,NaN,little,7721,24,furniture/equipment
109,35,male,2,own,quite rich,moderate,1410,14,business
110,31,male,2,own,moderate,moderate,1449,6,business
111,23,female,2,rent,little,rich,392,15,education
112,28,male,1,rent,little,moderate,6260,18,car
113,25,female,2,own,little,NaN,7855,36,car
114,35,male,2,own,quite rich,little,1680,12,radio/TV
115,47,male,2,own,NaN,NaN,3578,48,radio/TV
116,30,female,3,own,NaN,little,7174,42,radio/TV
117,27,female,2,rent,NaN,little,2132,10,furniture/equipment
118,23,female,2,own,quite rich,little,4281,33,furniture/equipment
119,36,male,3,own,quite rich,moderate,2366,12,car
120,25,female,2,own,little,little,1835,21,radio/TV
121,41,female,3,rent,little,NaN,3868,24,car
122,24,male,1,rent,little,NaN,1768,12,furniture/equipment
123,63,male,2,free,little,rich,781,10,car
124,27,female,2,rent,NaN,moderate,1924,18,furniture/equipment
125,30,male,2,own,little,little,2121,12,car
126,40,male,1,own,little,little,701,12,radio/TV
127,30,male,2,own,little,moderate,639,12,repairs
128,34,male,3,own,little,moderate,1860,12,car
129,29,female,2,own,little,little,3499,12,car
130,24,female,2,own,NaN,moderate,8487,48,car
131,29,male,2,own,little,little,6887,36,education
132,27,male,1,own,little,NaN,2708,15,furniture/equipment
133,47,male,2,free,little,NaN,1984,18,furniture/equipment
134,21,female,2,own,moderate,NaN,10144,60,radio/TV
135,38,female,2,own,NaN,NaN,1240,12,radio/TV
136,27,male,2,own,rich,NaN,8613,27,car
137,66,male,1,own,quite rich,moderate,766,12,radio/TV
138,35,male,2,own,NaN,moderate,2728,15,radio/TV
139,44,female,1,rent,little,rich,1881,12,radio/TV
140,27,male,0,own,rich,rich,709,6,car
141,30,female,3,own,little,moderate,4795,36,radio/TV
142,27,male,3,own,little,little,3416,27,radio/TV
143,22,male,2,own,little,little,2462,18,furniture/equipment
144,23,female,2,own,little,NaN,2288,21,furniture/equipment
145,30,male,2,own,moderate,moderate,3566,48,business
146,39,female,2,own,little,little,860,6,car
147,51,female,2,own,moderate,NaN,682,12,car
148,28,male,2,own,little,little,5371,36,furniture/equipment
149,46,male,2,own,rich,NaN,1582,18,radio/TV
150,42,male,2,free,moderate,NaN,1346,6,radio/TV
151,38,male,2,own,little,NaN,1924,10,radio/TV
152,24,male,2,own,little,rich,5848,36,radio/TV
153,29,female,2,rent,rich,moderate,7758,24,car
154,36,male,3,rent,moderate,moderate,6967,24,business
155,20,female,2,rent,little,little,1282,12,furniture/equipment
156,48,male,2,own,moderate,little,1288,9,repairs
157,45,male,1,own,little,little,339,12,education
158,38,male,2,own,moderate,moderate,3512,24,car
159,34,male,1,own,NaN,NaN,1898,6,radio/TV
160,36,male,2,own,moderate,NaN,2872,24,radio/TV
161,30,female,2,own,little,NaN,1055,18,car
162,36,male,2,own,quite rich,NaN,1262,15,domestic appliances
163,70,male,3,free,little,moderate,7308,10,car
164,36,male,2,own,quite rich,NaN,909,36,car
165,32,male,2,own,quite rich,NaN,2978,6,furniture/equipment
166,33,female,2,own,little,little,1131,18,furniture/equipment
167,20,female,2,own,rich,moderate,1577,11,furniture/equipment
168,25,female,2,rent,little,NaN,3972,24,furniture/equipment
169,31,male,2,own,little,moderate,1935,24,business
170,33,male,2,rent,little,little,950,15,car
171,26,female,2,own,little,NaN,763,12,furniture/equipment
172,34,female,3,own,little,moderate,2064,24,furniture/equipment
173,33,male,2,own,little,moderate,1414,8,radio/TV
174,26,male,2,own,little,little,3414,21,education
175,53,female,3,own,NaN,NaN,7485,30,car
176,42,male,2,own,little,little,2577,12,furniture/equipment
177,52,male,2,own,quite rich,little,338,6,radio/TV
178,31,male,3,rent,little,NaN,1963,12,radio/TV
179,65,male,2,own,little,little,571,21,car
180,28,male,2,own,little,NaN,9572,36,business
181,30,male,3,own,little,moderate,4455,36,business
182,40,male,1,own,NaN,little,1647,21,car
183,50,male,2,own,rich,NaN,3777,24,furniture/equipment
184,36,male,2,own,little,moderate,884,18,car
185,31,male,2,own,little,NaN,1360,15,radio/TV
186,74,female,3,free,little,moderate,5129,9,car
187,68,male,0,free,little,moderate,1175,16,car
188,20,male,2,own,moderate,little,674,12,radio/TV
189,33,female,2,own,little,moderate,3244,18,furniture/equipment
190,54,male,3,own,rich,NaN,4591,24,business
191,34,male,1,free,moderate,moderate,3844,48,business
192,36,male,2,own,little,moderate,3915,27,business
193,29,male,2,rent,little,NaN,2108,6,radio/TV
194,21,male,2,rent,moderate,moderate,3031,45,radio/TV
195,34,female,3,own,little,moderate,1501,9,education
196,28,female,2,own,little,NaN,1382,6,radio/TV
197,27,female,2,rent,moderate,moderate,951,12,furniture/equipment
198,36,male,2,free,NaN,moderate,2760,24,car
199,40,male,3,own,little,moderate,4297,18,furniture/equipment
200,52,male,2,own,quite rich,NaN,936,9,education
201,27,male,1,own,little,little,1168,12,car
202,26,male,2,own,little,NaN,5117,27,business
203,21,male,2,rent,little,little,902,12,education
204,38,male,1,own,little,NaN,1495,12,car
205,38,male,3,free,little,little,10623,30,car
206,43,male,2,own,little,NaN,1935,12,furniture/equipment
207,26,male,2,own,little,moderate,1424,12,domestic appliances
208,21,male,1,own,little,little,6568,24,business
209,55,male,2,own,rich,NaN,1413,12,car
210,33,male,2,own,NaN,NaN,3074,9,radio/TV
211,45,female,1,own,NaN,NaN,3835,36,radio/TV
212,50,male,2,own,little,little,5293,27,business
213,66,male,3,own,little,rich,1908,30,business
214,51,male,2,own,NaN,NaN,3342,36,radio/TV
215,39,female,1,own,NaN,moderate,932,6,education
216,31,male,2,own,little,little,3104,18,business
217,23,male,2,own,little,rich,3913,36,radio/TV
218,24,male,1,rent,little,little,3021,24,furniture/equipment
219,64,female,2,own,little,NaN,1364,10,car
220,26,male,1,own,little,moderate,625,12,radio/TV
221,23,female,2,rent,NaN,little,1200,12,education
222,30,male,2,own,little,NaN,707,12,radio/TV
223,32,male,2,own,NaN,NaN,2978,24,business
224,30,male,2,own,little,NaN,4657,15,car
225,27,male,2,own,little,NaN,2613,36,repairs
226,27,male,2,own,rich,moderate,10961,48,radio/TV
227,53,male,3,free,little,little,7865,12,furniture/equipment
228,22,male,2,own,little,NaN,1478,9,radio/TV
229,22,male,2,free,little,little,3149,24,furniture/equipment
230,26,male,2,own,little,rich,4210,36,radio/TV
231,51,male,1,free,quite rich,NaN,2507,9,car
232,35,male,2,own,moderate,NaN,2141,12,radio/TV
233,25,male,1,own,little,moderate,866,18,radio/TV
234,42,male,1,own,little,NaN,1544,4,radio/TV
235,30,male,3,own,little,little,1823,24,radio/TV
236,23,male,0,own,NaN,moderate,14555,6,car
237,61,male,1,rent,moderate,moderate,2767,21,business
238,35,female,2,own,little,NaN,1291,12,radio/TV
239,39,male,2,own,little,little,2522,30,radio/TV
240,29,female,2,own,NaN,little,915,24,car
241,51,male,2,own,little,NaN,1595,6,radio/TV
242,24,male,2,free,little,little,4605,48,car
243,27,female,2,own,little,NaN,1185,12,business
244,35,female,1,own,quite rich,NaN,3447,12,education
245,25,male,2,own,little,NaN,1258,24,business
246,52,male,2,own,little,NaN,717,12,radio/TV
247,35,male,2,rent,moderate,NaN,1204,6,car
248,26,male,2,own,little,rich,1925,24,furniture/equipment
249,22,female,2,rent,little,NaN,433,18,radio/TV
250,39,female,1,own,rich,little,666,6,car
251,46,female,1,own,little,rich,2251,12,furniture/equipment
252,24,female,2,own,little,moderate,2150,30,car
253,35,male,2,own,moderate,NaN,4151,24,furniture/equipment
254,24,male,2,own,NaN,moderate,2030,9,furniture/equipment
255,27,male,1,own,NaN,moderate,7418,60,radio/TV
256,35,male,1,own,little,NaN,2684,24,radio/TV
257,29,male,2,free,little,little,2149,12,radio/TV
258,23,female,2,own,moderate,NaN,3812,15,car
259,57,female,1,own,moderate,NaN,1154,11,radio/TV
260,27,male,2,own,little,little,1657,12,furniture/equipment
261,55,female,2,own,little,little,1603,24,radio/TV
262,36,male,3,free,little,little,5302,18,car
263,57,female,1,free,little,NaN,2748,12,education
264,32,male,1,own,little,NaN,1231,10,car
265,37,male,2,own,little,moderate,802,15,radio/TV
266,36,male,2,own,NaN,NaN,6304,36,business
267,38,female,2,own,little,NaN,1533,24,radio/TV
268,45,male,3,own,little,little,8978,14,car
269,25,male,2,own,NaN,NaN,999,24,radio/TV
270,32,male,2,own,NaN,NaN,2662,18,car
271,37,female,2,rent,quite rich,NaN,1402,12,furniture/equipment
272,36,male,3,free,NaN,moderate,12169,48,car
273,28,male,2,own,little,moderate,3060,48,radio/TV
274,34,male,1,own,little,little,11998,30,repairs
275,32,male,2,own,little,NaN,2697,9,radio/TV
276,26,female,2,own,little,NaN,2404,18,radio/TV
277,49,male,1,own,NaN,little,1262,12,furniture/equipment
278,32,female,2,own,little,NaN,4611,6,furniture/equipment
279,29,male,3,rent,moderate,NaN,1901,24,radio/TV
280,23,male,2,rent,rich,NaN,3368,15,car
281,50,male,2,own,little,NaN,1574,12,furniture/equipment
282,49,male,1,own,NaN,rich,1445,18,radio/TV
283,63,male,2,own,NaN,NaN,1520,15,furniture/equipment
284,37,male,2,own,moderate,moderate,3878,24,car
285,35,female,1,own,little,little,10722,47,car
286,26,male,2,own,little,little,4788,48,car
287,31,male,3,free,moderate,moderate,7582,48,vacation/others
288,49,female,2,own,little,moderate,1092,12,radio/TV
289,48,male,2,own,little,little,1024,24,radio/TV
290,26,male,2,own,little,NaN,1076,12,business
291,28,male,3,rent,little,moderate,9398,36,car
292,44,female,3,free,little,little,6419,24,car
293,56,male,2,free,little,rich,4796,42,car
294,46,male,3,own,NaN,NaN,7629,48,business
295,26,female,2,own,little,moderate,9960,48,furniture/equipment
296,20,female,2,rent,NaN,NaN,4675,12,car
297,45,male,1,own,NaN,NaN,1287,10,car
298,43,male,2,own,little,NaN,2515,18,furniture/equipment
299,32,male,2,own,rich,moderate,2745,21,furniture/equipment
300,54,female,0,own,little,NaN,672,6,car
301,42,female,2,own,little,moderate,3804,36,radio/TV
302,37,male,1,own,NaN,rich,1344,24,car
303,49,male,2,own,little,little,1038,10,car
304,44,male,2,free,quite rich,NaN,10127,48,car
305,33,male,2,own,rich,NaN,1543,6,furniture/equipment
306,24,female,1,rent,NaN,NaN,4811,30,car
307,33,male,1,own,moderate,little,727,12,radio/TV
308,24,female,2,own,little,moderate,1237,8,furniture/equipment
309,22,male,1,rent,little,moderate,276,9,car
310,40,male,0,free,NaN,moderate,5381,48,vacation/others
311,25,male,2,own,moderate,NaN,5511,24,furniture/equipment
312,26,female,2,own,little,rich,3749,24,furniture/equipment
313,25,male,1,own,little,moderate,685,12,car
314,29,male,1,own,NaN,rich,1494,4,car
315,31,male,2,own,little,little,2746,36,furniture/equipment
316,38,male,1,own,little,little,708,12,furniture/equipment
317,48,female,1,own,NaN,moderate,4351,24,furniture/equipment
318,32,male,2,own,little,NaN,701,12,education
319,27,female,1,own,little,little,3643,15,furniture/equipment
320,28,male,3,own,little,moderate,4249,30,car
321,32,male,2,own,little,little,1938,24,radio/TV
322,34,male,3,free,little,little,2910,24,car
323,28,male,2,own,rich,little,2659,18,furniture/equipment
324,36,female,2,own,little,NaN,1028,18,car
325,39,male,1,own,little,little,3398,8,car
326,49,male,2,rent,NaN,NaN,5801,12,furniture/equipment
327,34,female,2,own,rich,NaN,1525,24,car
328,31,male,2,own,little,rich,4473,36,radio/TV
329,28,male,2,own,little,moderate,1068,6,radio/TV
330,75,male,3,free,little,little,6615,24,car
331,30,female,2,own,moderate,NaN,1864,18,education
332,24,female,3,own,moderate,moderate,7408,60,car
333,24,female,1,rent,moderate,NaN,11590,48,car
334,23,male,2,rent,little,little,4110,24,furniture/equipment
335,44,male,3,rent,little,little,3384,6,furniture/equipment
336,23,female,1,own,little,moderate,2101,13,radio/TV
337,24,female,2,rent,NaN,little,1275,15,domestic appliances
338,28,male,2,own,little,little,4169,24,furniture/equipment
339,31,male,1,own,little,moderate,1521,10,furniture/equipment
340,24,female,2,free,little,moderate,5743,24,education
341,26,female,1,rent,little,little,3599,21,furniture/equipment
342,25,male,2,rent,quite rich,moderate,3213,18,radio/TV
343,33,male,3,own,little,moderate,4439,18,business
344,37,male,1,own,little,rich,3949,10,car
345,43,female,1,own,little,NaN,1459,15,radio/TV
346,23,male,2,own,little,moderate,882,13,radio/TV
347,23,female,0,rent,quite rich,moderate,3758,24,radio/TV
348,34,male,1,own,moderate,NaN,1743,6,business
349,32,male,2,free,rich,moderate,1136,9,education
350,23,female,2,rent,little,NaN,1236,9,domestic appliances
351,29,female,2,own,little,moderate,959,9,furniture/equipment
352,38,male,3,own,NaN,NaN,3229,18,car
353,28,male,2,rent,little,little,6199,12,radio/TV
354,46,male,2,free,quite rich,NaN,727,10,education
355,23,male,1,own,little,moderate,1246,24,car
356,49,male,2,own,NaN,NaN,2331,12,radio/TV
357,26,male,3,own,little,NaN,4463,36,radio/TV
358,28,male,2,own,little,NaN,776,12,radio/TV
359,23,female,2,rent,little,little,2406,30,furniture/equipment
360,61,male,2,free,NaN,moderate,1239,18,education
361,37,male,3,own,NaN,rich,3399,12,radio/TV
362,36,female,2,own,little,rich,2247,12,car
363,21,male,2,rent,little,NaN,1766,6,furniture/equipment
364,25,male,0,own,little,little,2473,18,furniture/equipment
365,36,male,2,own,little,NaN,1542,12,business
366,27,male,2,own,little,NaN,3850,18,car
367,22,female,2,rent,little,little,3650,18,furniture/equipment
368,42,male,2,own,little,little,3446,36,furniture/equipment
369,40,female,2,rent,little,moderate,3001,18,furniture/equipment
370,36,male,2,own,NaN,NaN,3079,36,car
371,33,male,2,own,little,NaN,6070,18,radio/TV
372,23,female,2,rent,little,NaN,2146,10,furniture/equipment
373,63,male,3,free,NaN,NaN,13756,60,car
374,60,female,3,free,moderate,moderate,14782,60,vacation/others
375,37,female,2,rent,little,little,7685,48,business
376,34,male,2,own,little,NaN,2320,18,radio/TV
377,36,male,2,free,NaN,NaN,846,7,radio/TV
378,57,male,3,free,little,moderate,14318,36,car
379,52,female,1,own,moderate,NaN,362,6,car
380,39,male,2,own,NaN,little,2212,20,furniture/equipment
381,38,female,3,free,little,moderate,12976,18,car
382,25,female,2,rent,NaN,NaN,1283,22,car
383,26,male,2,own,little,rich,1330,12,car
384,26,male,1,own,moderate,NaN,4272,30,business
385,25,female,2,own,little,NaN,2238,18,radio/TV
386,21,female,2,rent,NaN,NaN,1126,18,radio/TV
387,40,male,3,own,little,moderate,7374,18,furniture/equipment
388,27,male,2,own,quite rich,moderate,2326,15,business
389,27,female,2,own,little,NaN,1449,9,business
390,30,male,3,own,little,NaN,1820,18,car
391,19,female,1,rent,rich,moderate,983,12,furniture/equipment
392,39,male,3,free,little,little,3249,36,car
393,31,female,2,own,little,little,1957,6,radio/TV
394,31,male,3,own,little,NaN,2406,9,furniture/equipment
395,32,male,2,rent,moderate,moderate,11760,39,education
396,55,female,3,free,little,little,2578,12,furniture/equipment
397,46,male,2,own,little,little,2348,36,furniture/equipment
398,46,male,2,rent,little,moderate,1223,12,car
399,43,female,1,own,rich,NaN,1516,24,radio/TV
400,39,male,2,own,little,NaN,1473,18,radio/TV
401,28,male,2,own,NaN,moderate,1887,18,business

In [143]:
pd.get_dummies(gc, columns=["Sex", "Housing", "Saving accounts", "Checking account", "Purpose"], drop_first=True)

,Age,Job,Credit amount,Duration,Sex_male,Housing_own,Housing_rent,Saving accounts_moderate,Saving accounts_quite rich,Saving accounts_rich,Checking account_moderate,Checking account_rich,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others
0,67,2,1169,6,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
1,22,2,5951,48,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0
2,49,1,2096,12,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,45,2,7882,42,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,53,2,4870,24,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
5,35,1,9055,36,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
6,53,2,2835,24,1,1,0,0,1,0,0,0,0,0,0,1,0,0,0
7,35,3,6948,36,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0
8,61,1,3059,12,1,1,0,0,0,1,0,0,0,0,0,0,1,0,0
9,28,3,5234,30,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0
10,25,2,1295,12,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
11,24,2,4308,48,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
12,22,2,1567,12,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0
13,60,1,1199,24,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
14,28,2,1403,15,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0
15,32,1,1282,24,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0
16,53,2,2424,24,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
17,25,2,8072,30,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
18,44,3,12579,24,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0
19,31,2,3430,24,1,1,0,0,1,0,0,0,0,0,0,0,1,0,0
20,48,2,2134,9,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
21,44,2,2647,6,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0
22,48,1,2241,10,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0
23,44,2,1804,12,1,1,0,1,0,0,1,0,1,0,0,0,0,0,0
24,26,2,2069,10,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
25,36,1,1374,6,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
26,39,1,426,6,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
27,42,2,409,12,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0
28,34,2,2415,7,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
29,63,2,6836,60,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
30,36,2,1913,18,1,1,0,0,0,1,1,0,0,0,0,0,0,0,0
31,27,2,4020,24,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
32,30,2,5866,18,1,1,0,1,0,0,1,0,1,0,0,0,0,0,0
33,57,1,1264,12,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
34,33,3,1474,12,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0
35,25,1,4746,45,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
36,31,2,6110,48,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
37,37,2,2100,18,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0
38,37,2,1225,10,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0
39,24,2,458,9,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
40,30,3,2333,30,1,1,0,0,1,0,0,0,0,0,0,0,1,0,0
41,26,2,1158,12,1,1,0,0,1,0,1,0,0,0,0,0,1,0,0
42,44,1,6204,18,1,1,0,0,0,0,1,0,0,0,0,0,0,1,0
43,24,2,6187,30,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0
44,58,1,6143,48,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
45,35,3,1393,11,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
46,39,2,2299,36,1,1,0,0,1,0,0,0,0,0,0,0,1,0,0
47,23,0,1352,6,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0
48,39,1,7228,11,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
49,28,2,2073,12,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0
50,29,1,2333,24,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0
51,30,3,5965,27,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0
52,25,2,1262,12,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
53,31,2,3378,18,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
54,57,2,2225,36,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0
55,26,1,783,6,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
56,52,3,6468,12,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
57,31,2,9566,36,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
58,23,3,1961,18,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0
59,23,1,6229,36,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
60,27,2,1391,9,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0
61,50,2,1537,15,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
62,61,3,1953,36,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
63,25,2,14421,48,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0
64,26,2,3181,24,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
65,48,2,5190,27,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0
66,29,2,2171,12,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
67,22,2,1007,12,1,1,0,0,0,1,1,0,1,0,0,0,0,0,0
68,37,2,1819,36,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
69,25,2,2394,36,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
70,30,2,8133,36,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
71,46,1,730,7,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
72,51,3,1164,8,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
73,41,1,5954,42,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0
74,40,3,1977,36,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0
75,66,3,1526,12,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
76,34,2,3965,42,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
77,51,2,4771,11,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
78,39,1,9436,54,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
79,22,2,3832,30,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0
80,44,2,5943,24,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
81,47,2,1213,15,1,1,0,0,1,0,0,0,0,0,0,0,1,0,0
82,24,1,1568,18,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
83,58,1,1755,24,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
84,52,1,2315,10,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
85,29,3,1412,12,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
86,27,2,1295,18,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
87,47,2,12612,36,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0
88,30,3,2249,18,1,1,0,1,0,0,0,0,1,0,0,0,0,0,0
89,28,2,1108,12,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0
90,56,2,618,12,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
91,54,2,1409,12,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
92,33,1,797,12,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
93,20,2,3617,24,1,0,1,0,0,0,0,1,0,0,0,1,0,0,0
94,54,2,1318,12,1,1,0,0,0,1,1,0,1,0,0,0,0,0,0
95,58,2,15945,54,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0
96,61,2,2012,12,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
97,34,2,2622,18,1,1,0,1,0,0,1,0,0,0,0,0,0,0,0
98,36,2,2337,36,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
99,36,3,7057,20,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0
100,41,1,1469,24,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0
101,24,2,2323,36,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0
102,24,2,932,6,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
103,35,2,1919,9,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0
104,26,2,2445,12,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0
105,39,3,11938,24,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1
106,39,3,6458,18,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
107,32,2,6078,12,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0
108,30,2,7721,24,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
109,35,2,1410,14,1,1,0,0,1,0,1,0,0,0,0,0,0,0,0
110,31,2,1449,6,1,1,0,1,0,0,1,0,0,0,0,0,0,0,0
111,23,2,392,15,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0
112,28,1,6260,18,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0
113,25,2,7855,36,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
114,35,2,1680,12,1,1,0,0,1,0,0,0,0,0,0,0,1,0,0
115,47,2,3578,48,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
116,30,3,7174,42,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
117,27,2,2132,10,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
118,23,2,4281,33,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0
119,36,3,2366,12,1,1,0,0,1,0,1,0,1,0,0,0,0,0,0
120,25,2,1835,21,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
121,41,3,3868,24,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0
122,24,1,1768,12,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0
123,63,2,781,10,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0
124,27,2,1924,18,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0
125,30,2,2121,12,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
126,40,1,701,12,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
127,30,2,639,12,1,1,0,0,0,0,1,0,0,0,0,0,0,1,0
128,34,3,1860,12,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0
129,29,2,3499,12,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
130,24,2,8487,48,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0
131,29,2,6887,36,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0
132,27,1,2708,15,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
133,47,2,1984,18,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
134,21,2,10144,60,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0
135,38,2,1240,12,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
136,27,2,8613,27,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0
137,66,1,766,12,1,1,0,0,1,0,1,0,0,0,0,0,1,0,0
138,35,2,2728,15,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
139,44,1,1881,12,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0
140,27,0,709,6,1,1,0,0,0,1,0,1,1,0,0,0,0,0,0
141,30,3,4795,36,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0
142,27,3,3416,27,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
143,22,2,2462,18,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
144,23,2,2288,21,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
145,30,2,3566,48,1,1,0,1,0,0,1,0,0,0,0,0,0,0,0
146,39,2,860,6,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
147,51,2,682,12,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0
148,28,2,5371,36,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
149,46,2,1582,18,1,1,0,0,0,1,0,0,0,0,0,0,1,0,0
150,42,2,1346,6,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0
151,38,2,1924,10,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
152,24,2,5848,36,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0
153,29,2,7758,24,0,0,1,0,0,1,1,0,1,0,0,0,0,0,0
154,36,3,6967,24,1,0,1,1,0,0,1,0,0,0,0,0,0,0,0
155,20,2,1282,12,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
156,48,2,1288,9,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0
157,45,1,339,12,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0
158,38,2,3512,24,1,1,0,1,0,0,1,0,1,0,0,0,0,0,0
159,34,1,1898,6,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
160,36,2,2872,24,1,1,0,1,0,0,0,0,0,0,0,0,1,0,0
161,30,2,1055,18,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
162,36,2,1262,15,1,1,0,0,1,0,0,0,0,1,0,0,0,0,0
163,70,3,7308,10,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0
164,36,2,909,36,1,1,0,0,1,0,0,0,1,0,0,0,0,0,0
165,32,2,2978,6,1,1,0,0,1,0,0,0,0,0,0,1,0,0,0
166,33,2,1131,18,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
167,20,2,1577,11,0,1,0,0,0,1,1,0,0,0,0,1,0,0,0
168,25,2,3972,24,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
169,31,2,1935,24,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0
170,33,2,950,15,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0
171,26,2,763,12,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
172,34,3,2064,24,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
173,33,2,1414,8,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
174,26,2,3414,21,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0
175,53,3,7485,30,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
176,42,2,2577,12,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
177,52,2,338,6,1,1,0,0,1,0,0,0,0,0,0,0,1,0,0
178,31,3,1963,12,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
179,65,2,571,21,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
180,28,2,9572,36,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
181,30,3,4455,36,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0
182,40,1,1647,21,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
183,50,2,3777,24,1,1,0,0,0,1,0,0,0,0,0,1,0,0,0
184,36,2,884,18,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0
185,31,2,1360,15,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
186,74,3,5129,9,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0
187,68,0,1175,16,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0
188,20,2,674,12,1,1,0,1,0,0,0,0,0,0,0,0,1,0,0
189,33,2,3244,18,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
190,54,3,4591,24,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0
191,34,1,3844,48,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0
192,36,2,3915,27,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0
193,29,2,2108,6,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
194,21,2,3031,45,1,0,1,1,0,0,1,0,0,0,0,0,1,0,0
195,34,3,1501,9,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0
196,28,2,1382,6,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
197,27,2,951,12,0,0,1,1,0,0,1,0,0,0,0,1,0,0,0
198,36,2,2760,24,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0
199,40,3,4297,18,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0
200,52,2,936,9,1,1,0,0,1,0,0,0,0,0,1,0,0,0,0
201,27,1,1168,12,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
202,26,2,5117,27,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
203,21,2,902,12,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0
204,38,1,1495,12,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
205,38,3,10623,30,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
206,43,2,1935,12,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
207,26,2,1424,12,1,1,0,0,0,0,1,0,0,1,0,0,0,0,0
208,21,1,6568,24,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
209,55,2,1413,12,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0
210,33,2,3074,9,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
211,45,1,3835,36,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
212,50,2,5293,27,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
213,66,3,1908,30,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0
214,51,2,3342,36,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
215,39,1,932,6,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0
216,31,2,3104,18,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
217,23,2,3913,36,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0
218,24,1,3021,24,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0
219,64,2,1364,10,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
220,26,1,625,12,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
221,23,2,1200,12,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
222,30,2,707,12,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
223,32,2,2978,24,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
224,30,2,4657,15,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
225,27,2,2613,36,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0
226,27,2,10961,48,1,1,0,0,0,1,1,0,0,0,0,0,1,0,0
227,53,3,7865,12,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
228,22,2,1478,9,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
229,22,2,3149,24,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
230,26,2,4210,36,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0
231,51,1,2507,9,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0
232,35,2,2141,12,1,1,0,1,0,0,0,0,0,0,0,0,1,0,0
233,25,1,866,18,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
234,42,1,1544,4,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
235,30,3,1823,24,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
236,23,0,14555,6,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0
237,61,1,2767,21,1,0,1,1,0,0,1,0,0,0,0,0,0,0,0
238,35,2,1291,12,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
239,39,2,2522,30,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
240,29,2,915,24,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
241,51,2,1595,6,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
242,24,2,4605,48,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
243,27,2,1185,12,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
244,35,1,3447,12,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0
245,25,2,1258,24,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
246,52,2,717,12,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
247,35,2,1204,6,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0
248,26,2,1925,24,1,1,0,0,0,0,0,1,0,0,0,1,0,0,0
249,22,2,433,18,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
250,39,1,666,6,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0
251,46,1,2251,12,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0
252,24,2,2150,30,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0
253,35,2,4151,24,1,1,0,1,0,0,0,0,0,0,0,1,0,0,0
254,24,2,2030,9,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0
255,27,1,7418,60,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
256,35,1,2684,24,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
257,29,2,2149,12,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
258,23,2,3812,15,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0
259,57,1,1154,11,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0
260,27,2,1657,12,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
261,55,2,1603,24,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
262,36,3,5302,18,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
263,57,1,2748,12,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
264,32,1,1231,10,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
265,37,2,802,15,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
266,36,2,6304,36,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
267,38,2,1533,24,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
268,45,3,8978,14,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
269,25,2,999,24,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
270,32,2,2662,18,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
271,37,2,1402,12,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0
272,36,3,12169,48,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0
273,28,2,3060,48,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
274,34,1,11998,30,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0
275,32,2,2697,9,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
276,26,2,2404,18,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
277,49,1,1262,12,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
278,32,2,4611,6,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
279,29,3,1901,24,1,0,1,1,0,0,0,0,0,0,0,0,1,0,0
280,23,2,3368,15,1,0,1,0,0,1,0,0,1,0,0,0,0,0,0
281,50,2,1574,12,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
282,49,1,1445,18,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0
283,63,2,1520,15,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
284,37,2,3878,24,1,1,0,1,0,0,1,0,1,0,0,0,0,0,0
285,35,1,10722,47,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
286,26,2,4788,48,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
287,31,3,7582,48,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1
288,49,2,1092,12,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0
289,48,2,1024,24,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
290,26,2,1076,12,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
291,28,3,9398,36,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0
292,44,3,6419,24,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
293,56,2,4796,42,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0
294,46,3,7629,48,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
295,26,2,9960,48,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
296,20,2,4675,12,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0
297,45,1,1287,10,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
298,43,2,2515,18,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
299,32,2,2745,21,1,1,0,0,0,1,1,0,0,0,0,1,0,0,0
300,54,0,672,6,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
301,42,2,3804,36,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0
302,37,1,1344,24,1,1,0,0,0,0,0,1,1,0,0,0,0,0,0
303,49,2,1038,10,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
304,44,2,10127,48,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0
305,33,2,1543,6,1,1,0,0,0,1,0,0,0,0,0,1,0,0,0
306,24,1,4811,30,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0
307,33,1,727,12,1,1,0,1,0,0,0,0,0,0,0,0,1,0,0
308,24,2,1237,8,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
309,22,1,276,9,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0
310,40,0,5381,48,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1
311,25,2,5511,24,1,1,0,1,0,0,0,0,0,0,0,1,0,0,0
312,26,2,3749,24,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0
313,25,1,685,12,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0
314,29,1,1494,4,1,1,0,0,0,0,0,1,1,0,0,0,0,0,0
315,31,2,2746,36,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
316,38,1,708,12,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
317,48,1,4351,24,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
318,32,2,701,12,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0
319,27,1,3643,15,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
320,28,3,4249,30,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0
321,32,2,1938,24,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
322,34,3,2910,24,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
323,28,2,2659,18,1,1,0,0,0,1,0,0,0,0,0,1,0,0,0
324,36,2,1028,18,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
325,39,1,3398,8,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
326,49,2,5801,12,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0
327,34,2,1525,24,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0
328,31,2,4473,36,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0
329,28,2,1068,6,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
330,75,3,6615,24,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
331,30,2,1864,18,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0
332,24,3,7408,60,0,1,0,1,0,0,1,0,1,0,0,0,0,0,0
333,24,1,11590,48,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0
334,23,2,4110,24,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0
335,44,3,3384,6,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0
336,23,1,2101,13,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0
337,24,2,1275,15,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
338,28,2,4169,24,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
339,31,1,1521,10,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0
340,24,2,5743,24,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
341,26,1,3599,21,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
342,25,2,3213,18,1,0,1,0,1,0,1,0,0,0,0,0,1,0,0
343,33,3,4439,18,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0
344,37,1,3949,10,1,1,0,0,0,0,0,1,1,0,0,0,0,0,0
345,43,1,1459,15,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
346,23,2,882,13,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
347,23,0,3758,24,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0
348,34,1,1743,6,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0
349,32,2,1136,9,1,0,0,0,0,1,1,0,0,0,1,0,0,0,0
350,23,2,1236,9,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
351,29,2,959,9,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
352,38,3,3229,18,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
353,28,2,6199,12,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
354,46,2,727,10,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0
355,23,1,1246,24,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0
356,49,2,2331,12,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
357,26,3,4463,36,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
358,28,2,776,12,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
359,23,2,2406,30,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
360,61,2,1239,18,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0
361,37,3,3399,12,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0
362,36,2,2247,12,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0
363,21,2,1766,6,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0
364,25,0,2473,18,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
365,36,2,1542,12,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
366,27,2,3850,18,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
367,22,2,3650,18,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
368,42,2,3446,36,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
369,40,2,3001,18,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0
370,36,2,3079,36,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
371,33,2,6070,18,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
372,23,2,2146,10,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
373,63,3,13756,60,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
374,60,3,14782,60,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1
375,37,2,7685,48,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
376,34,2,2320,18,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
377,36,2,846,7,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
378,57,3,14318,36,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0
379,52,1,362,6,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0
380,39,2,2212,20,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
381,38,3,12976,18,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0
382,25,2,1283,22,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0
383,26,2,1330,12,1,1,0,0,0,0,0,1,1,0,0,0,0,0,0
384,26,1,4272,30,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0
385,25,2,2238,18,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
386,21,2,1126,18,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
387,40,3,7374,18,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0
388,27,2,2326,15,1,1,0,0,1,0,1,0,0,0,0,0,0,0,0
389,27,2,1449,9,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
390,30,3,1820,18,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
391,19,1,983,12,0,0,1,0,0,1,1,0,0,0,0,1,0,0,0
392,39,3,3249,36,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
393,31,2,1957,6,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
394,31,3,2406,9,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
395,32,2,11760,39,1,0,1,1,0,0,1,0,0,0,1,0,0,0,0
396,55,3,2578,12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
397,46,2,2348,36,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
398,46,2,1223,12,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0
399,43,1,1516,24,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0
400,39,2,1473,18,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
401,28,2,1887,18,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0
402,27,2,8648,24,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
403,27,1,802,14,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
404,43,2,2899,18,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0
405,22,2,2039,24,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
406,43,2,2197,24,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
407,27,2,1053,15,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
408,26,3,3235,24,1,1,0,0,1,0,0,0,0,0,0,0,1,0,0
409,28,2,939,12,1,1,0,0,1,0,0,1,1,0,0,0,0,0,0
410,20,2,1967,24,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0
411,35,3,7253,33,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
412,42,3,2292,12,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
413,40,1,1597,10,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0
414,35,2,1381,24,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
415,35,2,5842,36,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
416,33,1,2579,12,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
417,23,2,8471,18,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
418,31,3,2782,21,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0
419,33,2,1042,18,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0
420,20,2,3186,15,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0
421,30,2,2028,12,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0

In [144]:
gc["Checking account"].unique()

array(['little', 'moderate', nan, 'rich'], dtype=object)

4. Considere o dataset (fake) com testes de aceleração para três carros distintos. Utilize um dos métodos ensinados em aula para criar uma única coluna com os valores das datas e outra com os valores das acelerações.

In [145]:
s = 'Carro A'
x = 'Carro B'
three = 'Carro C'

s_data = [s, 2.5, 2.51, 2.54]
x_data = [x, 2.92, 2.91, 2.93]
three_data = [three, 3.33, 3.31, 3.35]

data = [s_data, x_data, three_data] 
car = pd.DataFrame(data, columns=['car_model', 'Sept 1 9am', 'Sept 1 10am', 'Sept 1 11am'])
car

  car_model  Sept 1 9am  Sept 1 10am  Sept 1 11am
0   Carro A        2.50         2.51         2.54
1   Carro B        2.92         2.91         2.93
2   Carro C        3.33         3.31         3.35

In [149]:
pd.melt(car, id_vars=["car_model"])

  car_model     variable  value
0   Carro A   Sept 1 9am   2.50
1   Carro B   Sept 1 9am   2.92
2   Carro C   Sept 1 9am   3.33
3   Carro A  Sept 1 10am   2.51
4   Carro B  Sept 1 10am   2.91
5   Carro C  Sept 1 10am   3.31
6   Carro A  Sept 1 11am   2.54
7   Carro B  Sept 1 11am   2.93
8   Carro C  Sept 1 11am   3.35

## Referências:
pd.melt(): <br>
https://towardsdatascience.com/shape-tables-like-jelly-with-pandas-melt-and-pivot-f2e13e666d6 <br>
https://pub.towardsai.net/understanding-pandas-melt-pd-melt-362954f8c125