In [1]:
import pandas as pd

1 - Realize os passos seguintes utilizando o mesmo dataset do íris da aula anterior ('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data').

a. Use o pandas para ler o arquivo como um dataframe. Obs: precisa ler o dataframe sem que a primeira linha corresponda ao nome das colunas.

In [41]:
tabela = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)
tabela

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

b. Sabendo que as colunas correspondem, nessa ordem, a: 
    1. sepal length (cm)
    2. sepal width (cm)
    3. petal length (cm)
    4. petal width (cm)
    5. class: <br>
        - Iris Setosa <br>
        - Iris Versicolor <br>
        - Iris Virginica <br>
leia novamente o arquivo passando o nome das colunas como argumento.

In [47]:
tabela = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None, names=["sepal_length", "sepal_width", "petal_length", "petal_width", "class"])
tabela

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

c. Calcule a média de cada coluna numérica para cada um dos tipos de íris indicados na coluna "class" sem utilizar métodos que não foram ensinados na aula de hoje. Utilize o loop for para reduzir quantidade de linhas. <br>
Existe diferença entre elas?

In [48]:
for classe in ["Iris-setosa", "Iris-virginica", "Iris-versicolor"]:
    print(classe)
    print(tabela[tabela["class"] == classe].mean()) #Não dá erro em colunas não numéricas, ele simplesmente não faz
    print()

Iris-setosa
sepal_length    5.006
sepal_width     3.418
petal_length    1.464
petal_width     0.244
dtype: float64

Iris-virginica
sepal_length    6.588
sepal_width     2.974
petal_length    5.552
petal_width     2.026
dtype: float64

Iris-versicolor
sepal_length    5.936
sepal_width     2.770
petal_length    4.260
petal_width     1.326
dtype: float64

d. Adicione uma única coluna com a média de 'sepal length' para cada um dos tipos de íris indicados na coluna "class". Utilize o loop for e faça isso sem utilizar métodos que não foram ensinados na aula de hoje.

In [50]:
for classe in ["Iris-setosa", "Iris-virginica", "Iris-versicolor"]:
    tabela.loc[tabela["class"] == classe, "media_sepal_legth"] = tabela[tabela["class"] == classe]["sepal_length"].mean()

tabela

,sepal_length,sepal_width,petal_length,petal_width,class,media_sepal_legth
0,5.1,3.5,1.4,0.2,Iris-setosa,5.006
1,4.9,3.0,1.4,0.2,Iris-setosa,5.006
2,4.7,3.2,1.3,0.2,Iris-setosa,5.006
3,4.6,3.1,1.5,0.2,Iris-setosa,5.006
4,5.0,3.6,1.4,0.2,Iris-setosa,5.006
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,6.588
146,6.3,2.5,5.0,1.9,Iris-virginica,6.588
147,6.5,3.0,5.2,2.0,Iris-virginica,6.588
148,6.2,3.4,5.4,2.3,Iris-virginica,6.588
149,5.9,3.0,5.1,1.8,Iris-virginica,6.588

e. Crie uma coluna de volume sabendo que o volume representa (pi x petallength x sepal_length^2)/3

In [51]:
import numpy as np

tabela["volume"] = (np.pi * tabela["petal_length"] * (tabela["sepal_length"] ** 2)) /3

tabela

,sepal_length,sepal_width,petal_length,petal_width,class,media_sepal_legth,volume
0,5.1,3.5,1.4,0.2,Iris-setosa,5.006,38.132652
1,4.9,3.0,1.4,0.2,Iris-setosa,5.006,35.200498
2,4.7,3.2,1.3,0.2,Iris-setosa,5.006,30.072372
3,4.6,3.1,1.5,0.2,Iris-setosa,5.006,33.238050
4,5.0,3.6,1.4,0.2,Iris-setosa,5.006,36.651914
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,6.588,244.445230
146,6.3,2.5,5.0,1.9,Iris-virginica,6.588,207.816354
147,6.5,3.0,5.2,2.0,Iris-virginica,6.588,230.069302
148,6.2,3.4,5.4,2.3,Iris-virginica,6.588,217.373079
149,5.9,3.0,5.1,1.8,Iris-virginica,6.588,185.910028

f. Salve apenas o valor da classe, da média do sepal length e do volume desse dataset em um arquivo csv sem a coluna de index.

In [54]:
tabela.iloc[:, 4:7].to_csv("tabela_exercicio_pandas.csv", sep=";", index=False)