In [2]:
import pandas as pd

LC PANDAS 1 ------------------------------------------------------------------------------

1) Em um concurso público foram contabilizados os números de pessoas inscritas (até a data inicialmente estabelecida para a inscrição) segundo os níveis de escolaridade: fundamental completo, médio completo, superior completo e pós-graduação completa. Segue abaixo a tabela com os valores observados.

Nível de escolaridade	Inscritos
Fundamental completo	451
Médio completo	627
Superior completo	292
Pós-graduação completa	95
Com base na tabela acima, crie uma Series com esses valores e calcule:

(a) O número total de inscritos
(b) Número inscritos que possuem, pelo menos, o superior completo.
(c) Suponha que a inscrição foi prorrogada e, com isso, foi obtido um número adicional de inscrições: 68, 93, 22 e 0 inscritos a mais em cada uma das categorias de escolaridade apresentados na tabela acima (na mesma ordem). Assim, crie uma nova Series com esses valores.
(d) Utilizando as duas Series que você tem, calcule o número total de inscritos após a prorrogação do período de inscrições.

In [3]:
inscritos = pd.DataFrame({'Nível_Escolaridade':['Fundamental Completo', 'Médio Completo', 'Superior Completo', 'Pós-graduação Completa'],
                          'Inscritos': [451, 627, 292, 95]
})
inscritos

       Nível_Escolaridade  Inscritos
0    Fundamental Completo        451
1          Médio Completo        627
2       Superior Completo        292
3  Pós-graduação Completa         95

In [5]:
total_inscritos_inicial = inscritos.Inscritos.sum()
total_inscritos_inicial

1465

In [16]:
total_superior = inscritos.loc[2:, "Inscritos"].sum()
total_superior

387

In [22]:
inscritos_prorrogaçao = pd.Series([68, 93, 22, 0])
total_inscritos_prorrogaçao = (inscritos.Inscritos + inscritos_prorrogaçao).sum()
total_inscritos_prorrogaçao

1648

2) Uma turma de cinco alunos foi submetida a uma avaliação e a nota de cada um dos alunos é apresentada na tabela abaixo:

Nome do Aluno	Nota
Wilfred	2
Abbie	7
Harry	5.5
Julia	10
Carrie	6.2
(a) Crie uma Series com os valores da tabela acima.
(b) Retorne o número de alunos que foram aprovados (considerando que a nota mínima para a aprovação é 7).
(c) Qual foi a nota média da turma.
(d) Obtenha o nome dos alunos que tiraram notas acima da média da turma.

In [43]:
notas = pd.Series([2, 7, 5.5, 10, 6.2], index=["Wilfred", "Abbie", "Harry", "Julia", "Carrie"])
notas

Wilfred     2.0
Abbie       7.0
Harry       5.5
Julia      10.0
Carrie      6.2
dtype: float64

In [40]:
qnt_aprovados = notas[notas>=7].count()
qnt_aprovados

2

In [41]:
nota_media = notas.mean()
nota_media

6.14

In [42]:
acima_media = notas[notas>nota_media].index.tolist()
acima_media

['Abbie', 'Julia', 'Carrie']

3) Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:

Peso (kg)	Altura (cm)	Idade
72	180	31
80	170	21
60	175	16
90	174	28
100	185	23
Com base no DataFrame criado, realize o que pedido nos itens abaixo:

(a) Visualize apenas os dados da coluna que contém a altura das pessoas.
(b) Obtenha a idade média das pessoas.
(c) Obtenha os dados das pessoas que estão abaixo da altura média.
(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.
(e) Remova a coluna que contém a idade das pessoas.
(f) Salve esses dados do DataFrame em um arquivo csv.

In [83]:
tabela = pd.DataFrame({"Peso_kg": [72, 80, 60, 90, 100],
                       "Altura_cm": [180, 170, 175, 174, 185],
                       "Idade": [31, 21, 16, 28, 23]  
})
tabela

   Peso_kg  Altura_cm  Idade
0       72        180     31
1       80        170     21
2       60        175     16
3       90        174     28
4      100        185     23

In [84]:
altura = tabela.Altura_cm
altura

0    180
1    170
2    175
3    174
4    185
Name: Altura_cm, dtype: int64

In [85]:
idade_media = tabela.Idade.mean()
idade_media

23.8

In [86]:
abaixo_altura_media = tabela[tabela.Altura_cm < altura.mean()]
abaixo_altura_media

   Peso_kg  Altura_cm  Idade
1       80        170     21
2       60        175     16
3       90        174     28

In [87]:
tabela["IMC"] = tabela.Peso_kg / ((tabela.Altura_cm / 100) ** 2)
tabela

   Peso_kg  Altura_cm  Idade        IMC
0       72        180     31  22.222222
1       80        170     21  27.681661
2       60        175     16  19.591837
3       90        174     28  29.726516
4      100        185     23  29.218408

In [88]:
tabela.drop("Idade", axis=1, inplace=True)
tabela

   Peso_kg  Altura_cm        IMC
0       72        180  22.222222
1       80        170  27.681661
2       60        175  19.591837
3       90        174  29.726516
4      100        185  29.218408

In [89]:
tabela.to_csv("data/dados_saude.csv", sep=";", index=False)

4) Carregue, em um objeto DataFrame, o arquivo CSV que você salvou no item (f) da questão anterior. Em seguida,

(a) Crie uma nova coluna que contenha o nome das pessoas (sinta-se à vontade para atribuir os nomes que preferir).
(b) Defina a nova coluna criada (com os nomes) como o índice (index) do seu DataFrame.
(c) Obtenha o nome das pessoas que são classificadas com Sobrepeso (IMC entre 25 e 29,9).

In [90]:
tabela = pd.read_csv("data/dados_saude.csv", sep=";")
tabela

   Peso_kg  Altura_cm        IMC
0       72        180  22.222222
1       80        170  27.681661
2       60        175  19.591837
3       90        174  29.726516
4      100        185  29.218408

In [91]:
tabela.insert(0, "Nome", ["Carol", "Roger", "Flávia", "Rogério", "Nilce"])
tabela

      Nome  Peso_kg  Altura_cm        IMC
0    Carol       72        180  22.222222
1    Roger       80        170  27.681661
2   Flávia       60        175  19.591837
3  Rogério       90        174  29.726516
4    Nilce      100        185  29.218408

In [92]:
tabela.set_index("Nome", inplace=True)
tabela

         Peso_kg  Altura_cm        IMC
Nome
Carol         72        180  22.222222
Roger         80        170  27.681661
Flávia        60        175  19.591837
Rogério       90        174  29.726516
Nilce        100        185  29.218408

In [98]:
sobrepeso = tabela[(25 <= tabela.IMC) & (tabela.IMC <= 29.9)].index.tolist()
sobrepeso

['Roger', 'Rogério', 'Nilce']

5) Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na Questão 3. Em seguida,

(a) Adicione uma nova coluna nesse DF chamada Classificação, que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.

IMC	Classificação	Obesidade (grau)
Menor que 18,5	Magreza	0
Entre 18,5 e 24,9	Normal	0
Entre 25,0 e 29,9	Sobrepeso	I
Entre 30,0 e 39,9	Obesidade	II
Maior que 40,0	Obesidade Grave	III
(b) Salve em DataFrame no formato xlsx.

In [141]:
tabela = pd.read_csv("data/dados_saude.csv", sep=";")
tabela

   Peso_kg  Altura_cm        IMC
0       72        180  22.222222
1       80        170  27.681661
2       60        175  19.591837
3       90        174  29.726516
4      100        185  29.218408

In [3]:
classificaçao = pd.DataFrame({"IMC": ["Menor que 18,5", "Entre 18,5 e 24,9", "Entre 25,0 e 29,9", "Entre 30,0 e 39,9", "Maior que 40"],
                              "Classificação": ["Magreza", "Normal", "Sobrepeso", "Obesidade", "Obesidade Grave"],
                              "Obesidade(grau)": [0, 0, 1, 2, 3]
})
classificaçao

                 IMC    Classificação  Obesidade(grau)
0     Menor que 18,5          Magreza                0
1  Entre 18,5 e 24,9           Normal                0
2  Entre 25,0 e 29,9        Sobrepeso                1
3  Entre 30,0 e 39,9        Obesidade                2
4       Maior que 40  Obesidade Grave                3

In [145]:
for i in tabela.index:
    IMC = tabela.loc[i, "IMC"]
    if IMC < 18.5:
        tabela.loc[i, "Classificação"] = classificaçao.Classificação[0]
    elif IMC < 24.9:
        tabela.loc[i, "Classificação"] = classificaçao.Classificação[1]
    elif IMC < 29.9:
        tabela.loc[i, "Classificação"] = classificaçao.Classificação[2]
    elif IMC < 39.9:
        tabela.loc[i, "Classificação"] = classificaçao.Classificação[3]
    else:
        tabela.loc[i, "Classificação"] = classificaçao.Classificação[4]
        
tabela

   Peso_kg  Altura_cm        IMC Classificação
0       72        180  22.222222        Normal
1       80        170  27.681661     Sobrepeso
2       60        175  19.591837        Normal
3       90        174  29.726516     Sobrepeso
4      100        185  29.218408     Sobrepeso

In [146]:
tabela.to_excel("data/dados_saude_classificação.xlsx")

OBSERVAÇÕES ------------------------------------------------------------------------------

In [150]:
#Pode passar dicionário p/ criar series, com o par index valor
ss = pd.Series({"carol": 1,
               "katia": 2})
ss

carol    1
katia    2
dtype: int64

In [155]:
classificaçao

                 IMC    Classificação  Obesidade(grau)
0     Menor que 18,5          Magreza                0
1  Entre 18,5 e 24,9           Normal                0
2  Entre 25,0 e 29,9        Sobrepeso                1
3  Entre 30,0 e 39,9        Obesidade                2
4       Maior que 40  Obesidade Grave                3

In [157]:
classificaçao["Obesidade(grau)"].value_counts()

0    2
3    1
2    1
1    1
Name: Obesidade(grau), dtype: int64

In [164]:
classificaçao.value_counts()

IMC                Classificação    Obesidade(grau)
Menor que 18,5     Magreza          0                  1
Maior que 40       Obesidade Grave  3                  1
Entre 30,0 e 39,9  Obesidade        2                  1
Entre 25,0 e 29,9  Sobrepeso        1                  1
Entre 18,5 e 24,9  Normal           0                  1
dtype: int64

In [158]:
classificaçao["Obesidade(grau)"].count()

5

In [161]:
classificaçao.count()

IMC                5
Classificação      5
Obesidade(grau)    5
dtype: int64

SERIES PANDAS -------------------------------------------------------------------------------

1) Crie uma Series com os índices registrados pelo TIOBE Index para as top 10 linguagens de programação. Os índices da Series devem ser os nomes das linguagens, e os valores devem ser as taxas de popularidade de cada respectiva linguagem de programação. Em seguida, utilize os métodos da Series para:

Exibir os cinco primeiros valores da Series
Exibir os cinco últimos valores da Series

In [166]:
series = pd.Series({"Python": "11.77%",
                    "C": "10.72%",
                    "Java": "10.72%",
                    "C++": "8.28%",
                    "C#": "6.06%",
                    "Visual Basic": "5.72%",
                    "JavaScript": "2.66%",
                    "Assembly language": "2.52%",
                    "SQL": "2.11%",
                    "PHP": "1.81%"
})
series

Python               11.77%
C                    10.72%
Java                 10.72%
C++                   8.28%
C#                    6.06%
Visual Basic          5.72%
JavaScript            2.66%
Assembly language     2.52%
SQL                   2.11%
PHP                   1.81%
dtype: object

In [167]:
series.head()

Python    11.77%
C         10.72%
Java      10.72%
C++        8.28%
C#         6.06%
dtype: object

In [168]:
series.tail()

Visual Basic         5.72%
JavaScript           2.66%
Assembly language    2.52%
SQL                  2.11%
PHP                  1.81%
dtype: object

2) Crie uma Series com os 11 primeiros termos da sequência de Fibonacci. Utilize letras (em ordem alfabética) como os índices da Series. Em seguida, obtenha apenas aqueles elementos que forem superiores a 10 e inferiores a 50.

Sequência de Fibonacci: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55...

In [176]:
import string
fibon = pd.Series([0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55], index=list(string.ascii_uppercase)[0:11])
fibon

A     0
B     1
C     1
D     2
E     3
F     5
G     8
H    13
I    21
J    34
K    55
dtype: int64

In [177]:
fibon[(10<fibon)&(fibon<50)]

H    13
I    21
J    34
dtype: int64

3) Crie um programa para calcular a média e o desvio padrão de uma series. Observe o exemplo abaixo:

In [353]:
serie = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 3], index=["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k"])
serie

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
j    5
k    3
dtype: int64

In [354]:
#Dá p acessar das duas formas
print(serie["i"])

9

In [304]:
from math import sqrt

def media(serie):
    serie = serie.dropna()
    
    soma = 0 
    cont = 0
    for elemento in serie.values:
        soma += elemento
        cont += 1
    return soma / cont

def desvio_padrao(serie):
    serie = serie.dropna()
    media_num = media(serie)

    soma = 0
    for elemento in serie.values:
        if elemento == None or elemento == np.nan: #?
            continue
        distancia = elemento - media_num
        soma += distancia ** 2

    return sqrt(soma / (serie.count() - 1)) 

print(media(serie))
print(desvio_padrao(serie))

4.444444444444445
2.351122663277647

4) Crie um array com 20 números aleatórios inteiros entre 1 e 5. Em seguida, calcule a frequência (percentual) de cada valor específico da Series.

In [364]:
serie = pd.Series(np.random.randint(low=1, high=6, size=20))
serie

0     2
1     5
2     5
3     2
4     4
5     5
6     3
7     2
8     3
9     1
10    2
11    3
12    5
13    4
14    5
15    3
16    1
17    2
18    4
19    5
dtype: int32

In [365]:
for index in serie.value_counts().index:
    frequencia = (serie.value_counts()[index] / serie.count()) * 100
    print(f"Elemento {index}: Frequência {frequencia}%")

Elemento 5: Frequência 30.0%
Elemento 2: Frequência 25.0%
Elemento 3: Frequência 20.0%
Elemento 4: Frequência 15.0%
Elemento 1: Frequência 10.0%

5) Crie um programa para mostrar qual é o valor mais frequente de uma series e, em seguida, substitua todos os demais valores dela por "Outro valor".

In [383]:
serie

0     2
1     5
2     5
3     2
4     4
5     5
6     3
7     2
8     3
9     1
10    2
11    3
12    5
13    4
14    5
15    3
16    1
17    2
18    4
19    5
dtype: int32

In [384]:
valores_maior_frequencia = serie.value_counts()[serie.value_counts() == serie.value_counts().max()].index
print("Valores de maior frequência:", *valores_maior_frequencia)

for index in serie.index:
    if serie[index] not in valores_maior_frequencia:
        serie[index] = "Outro valor"
        
serie

Valores de maior frequência: 5

0     Outro valor
1               5
2               5
3     Outro valor
4     Outro valor
5               5
6     Outro valor
7     Outro valor
8     Outro valor
9     Outro valor
10    Outro valor
11    Outro valor
12              5
13    Outro valor
14              5
15    Outro valor
16    Outro valor
17    Outro valor
18    Outro valor
19              5
dtype: object

6) Crie um array com números entre 1 e 10, com passo 1. Em seguida, embaralhe esses números utilizando o método shuffle do Numpy. Crie uma lista com o fatorial desses números, nessa nova ordem (após o embaralhamento). Por fim, crie uma Series cujo os valores são os fatoriais (embaralhados) e os índices são os números associados ao fatorial.

In [399]:
from sklearn.utils import shuffle

array = np.arange(1, 11)
array = shuffle(array)

fatorial = [math.factorial(elemento) for elemento in array]

series = pd.Series(fatorial, index=array)
series

[ 4  2  1  6  5  3  7 10  8  9]

4          24
2           2
1           1
6         720
5         120
3           6
7        5040
10    3628800
8       40320
9      362880
dtype: int64

LC PANDAS 2 ------------------------------------------------------------------------------