In [1]:
import pandas as pd

In [2]:
drinks = pd.read_csv(r"C:\Users\Carol\Desktop\Lets_Code_Alunos\02_Ferramentas_Programação\03_Pandas\data\drinks.csv")
drinks_melt = drinks.melt(id_vars=['country','continent'], value_name='volume', var_name='drink')
drinks_melt

         country      continent                         drink  volume
0    Afghanistan           Asia                 beer_servings     0.0
1        Albania         Europe                 beer_servings    89.0
2        Algeria         Africa                 beer_servings    25.0
3        Andorra         Europe                 beer_servings   245.0
4         Angola         Africa                 beer_servings   217.0
..           ...            ...                           ...     ...
767    Venezuela  South America  total_litres_of_pure_alcohol     7.7
768      Vietnam           Asia  total_litres_of_pure_alcohol     2.0
769        Yemen           Asia  total_litres_of_pure_alcohol     0.1
770       Zambia         Africa  total_litres_of_pure_alcohol     2.5
771     Zimbabwe         Africa  total_litres_of_pure_alcohol     4.7

[772 rows x 4 columns]

In [3]:
#SÓ QFUNCIONA QUANDO NÃO TEM COLUNAS COM TEXTO
drinks_melt[["volume"]].idxmax()

volume    261
dtype: int64

In [4]:
#NÃO FUNCIONA QUANDO TEM
drinks_melt.idxmax()

TypeError: reduction operation 'argmax' not allowed for this dtype

In [5]:
#PORÉM NO GROUPBY FUNCIONA QUANDO TEM COLUNAS COM TEXTO
#ELE SIMPLESMENTE SÓ FAZ COM AS NUMÉRICAS
drinks_melt.groupby('country').idxmax()

             volume
country
Afghanistan       0
Albania         194
Algeria           2
Andorra         389
Angola            4
...             ...
Venezuela       188
Vietnam         189
Yemen           190
Zambia          191
Zimbabwe        192

[193 rows x 1 columns]